<div class="col-12 m-0 p-0 ">
    <div class="row m-0 p-0">
        <div class="detalleCompra col-12 m-0 p-0 pt-4 pb-4">Detalle de la compra</div>

        <div class="row m-0 p-0 pt-2 pl-3" style="box-shadow: 0px 3px 6px #00000029;">
            <div class="col-12 m-0 p-0 pt-1 pb-2">
                <span><img src="./assets/images/cama.svg" alt=""> </span>
            </div>
            <div class="col-12 m-0 p-0 lblnombrehotel"> <span>{{lstConfirmacion.ohotel.name}}</span> <span>{{lstHabi.ohotel.cityName}}</span> </div>
            <div class="col-12 m-0 p-0 lbldistancia"><span>A {{lhotel.oairportDistance.distance}} km del aeropuerto</span> </div>

            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0 pt-1 pb-3">
                    <div class="col-6 m-0 p-0">
                        <span class="ml-3" *ngIf="lstHabi.ohotel.stars  === 5"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                        <span class="ml-3" *ngIf="lstHabi.ohotel.stars  === 4"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                        <span class="ml-3" *ngIf="lstHabi.ohotel.stars  === 3"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                        <span class="ml-3" *ngIf="lstHabi.ohotel.stars  === 2"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                        <span class="ml-3" *ngIf="lstHabi.ohotel.stars  === 1"><img src="./assets/images/star.svg"></span>
                    </div>
                    <div class="mapa col-6 m-0 p-0 pl-4">
                        <span class="txt-mapa pl-3" (click)="Mostrarmapa()"> Ver mapa </span>
                    </div>
                    <div class="PopupContainer" id="mapa">
                        <div class="tooltipBagDiv box-shadow animated fadeIn fast">
                            <span class="title-modal">Vista de mapa</span>
                            <a class="btn-close" (click)="OcultarMapa()">X</a>
                            <agm-map [latitude]="lhotel.oposition.latitude" [zoom]="15" [longitude]="lhotel.oposition.longitude">
                                <agm-marker [latitude]="lhotel.oposition.latitude" [longitude]="lhotel.oposition.longitude" [iconUrl]="urlimg"></agm-marker>
                            </agm-map>
                            <span class="hotel-nombre">{{lstHabi.ohotel.hotelName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="check row m-0 p-0">
                    <div class="col-6 m-0 p-0">
                        Check in
                    </div>
                    <div class="col-6 m-0 p-0 pl-4">
                        Check out
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="Date row m-0 p-0">
                    <div class="col-6 m-0 p-0">
                        <span>{{lstConfirmacion.oroom.startDateShow}}</span>
                    </div>
                    <div class="col-6 m-0 p-0 pl-4">
                        <span>{{lstConfirmacion.oroom.endDateShow}}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0 pb-5">
                <div class="hours row m-0 p-0">
                    <div class="col-6 m-0 p-0">
                        <span>{{lstHabi.ohotel.checkIn}}</span>
                    </div>
                    <div class="col-6 m-0 p-0 pl-4">
                        <span>{{lstHabi.ohotel.checkOut}}</span>
                    </div>
                </div>
            </div>
            <div class="Informacion row m-0 p-0">
                <div class="col-12 m-0 p-0 pt-3"><span>{{lstHabi.ohotel.lguestPerRoom[0].roomQuantity}} habitacion</span> <span class="pl-2">{{lstHabi.ohotel.lguestPerRoom[0].numberPassengers}} adultos</span></div>
                <div class="col-12 m-0 p-0 pb-3"><span>{{lstConfirmacion.oroom.name}}</span></div>
            </div>
        </div>
    </div>
</div>