<div class="m-0 p-0 box-shadow pt-4 pb-4">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <span class="spanAutorizador">Pasajeros</span>
        </div>
        <div class="col-12 m-0 p-0">
            <div class="row m-0 p-0 pl-4 pr-4 pt-3">
                <div class="col-4 m-0 p-0 pr-3">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-3">
                            <label class="txtDescripcion">Nombre:</label>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 box-shadow input-pasajero text-center">
                            {{lsusers.firstName}}
                        </div>
                    </div>
                </div>
                <div class="col-4 m-0 p-0 pr-3">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-3">
                            <label class="txtDescripcion">Apellidos:</label>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 box-shadow input-pasajero text-center">
                            {{lsusers.lastName}}
                        </div>
                    </div>
                </div>
                <div class="col-4 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-3">
                            <label class="txtDescripcion">Email:</label>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pr-4 box-shadow input-pasajero text-center">
                            {{lsusers.email}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>