<div class="m-0 p-0 pr-5" *ngIf="flagValDatosPAsajeros">
    <div class="col-12 m-0 p-0 contenedor-form">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <div class="row m-0 p-0">
                    <div class="col-6 m-0 p-0">
                        <span class="div-pasajero">
                                PASAJERO 1
                        </span>
                    </div>
                    <div class="col-6 m-0 p-0 text-right pr-4">
                        <span (click)="openModal(modalinfraccion, modalerror)" class="txt-infraccion pr-4" style="cursor: pointer">Ver infracción</span>
                        <span *ngIf="LPolicies.length > 0" class="circulo-politica"></span>
                        <span *ngIf="LPolicies.length === 0" class="circulo-politica1"></span>
                        <ng-template #modalinfraccion let-c="close" let-d="dismiss">
                            <div class="modal-header m-0 p-0" style="border: none;">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body m-0 p-0">
                                <app-modal-infraccion-pax [currency]="currency" [LPolicies]="LPolicies"></app-modal-infraccion-pax>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 text-center pb-3">
                                    <button (click)="modalRef.hide()" class="btn btn-ok">Ok</button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #modalerror let-c="close" let-d="dismiss">

                            <div class="modal-header pb-0" style="border: none;">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                            </div>

                            <div class="modal-body m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 pb-4 text-center r-text-sinfam-2">
                                        No se ha infringido ninguna politica
                                    </div>

                                    <div class="col-12 m-0 p-0 pb-4 text-center">
                                        <button class="btn r-btn-sinfam-1" (click)="modalRef.hide()">
                                          Ok
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0 pt-3 pb-3">
                    <div class="col-6 m-0 p-0 pl-4 pr-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Nombre:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" [(ngModel)]="datosuser.firstName" id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0 pr-5 pl-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Apellidos:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" [(ngModel)]="datosuser.lastName" id="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0 pb-3">
                    <div class="col-6 m-0 p-0 pl-4 pr-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Tipo de Documento:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <select class="input-pasajero" type="text" [(ngModel)]="datosuser.odocument.type" id="">
                                    <option value="NI">DNI</option>
                                    <option value="PP">PASAPORTE</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0 pr-5 pl-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Numero de Documento:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" [(ngModel)]="datosuser.odocument.number" id="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0 pb-3">
                    <div class="col-6 m-0 p-0 pl-4 pr-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Nacionalidad:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" [(ngModel)]="datosuser.nationality" id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0 pr-5 pl-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Fecha de Nacimiento:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" id="" value="{{datosuser.birthDate | formatearfecha}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0 pb-3">
                    <div class="col-6 m-0 p-0 pl-4 pr-4 pl-4 pr-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Correo:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" [(ngModel)]="datosuser.email" id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0 pr-5 pl-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Telefono:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" [(ngModel)]="datosuser.phone" id="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0 pb-4">
                    <div class="col-6 m-0 p-0 pl-4 pr-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Pasajero frecuente:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" id="" [(ngModel)]="datosuser.frequentFlyer">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>