<div class="m-0 p-0 pt-5">
    <div class="row m-0 p-0 box-shadow">
        <div class="col-12 m-0 p-0 pt-3 pl-4 text-filtros">
            Filtros
        </div>
        <div class="col-12 m-0 p-0">
            <ul class="list-star">
                <li>Estrellas</li>
                <li>
                    <span>
                            <label class="checkbox pr-3">
                                    <input type="checkbox" [(ngModel)]="todas" checked="checked" (change)="FiltroEstrella('todas')">
                                    <span class="check"></span>
                    </label>
                    <span>Todas las estrellas</span>
                    </span>
                </li>
                <li>
                    <span>
                            <label class="checkbox pr-3">
                                    <input type="checkbox" [(ngModel)]="estrella5" (change)="FiltroEstrella('5')">
                                    <span class="check"></span>
                    </label>
                    <span><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                    </span>
                </li>
                <li>
                    <span>
                            <label class="checkbox pr-3">
                                    <input type="checkbox" [(ngModel)]="estrella4" (change)="FiltroEstrella('4')">
                                    <span class="check"></span>
                    </label>
                    <span><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                    </span>
                </li>
                <li>
                    <span>
                            <label class="checkbox pr-3">
                                    <input type="checkbox" [(ngModel)]="estrella3" (change)="FiltroEstrella('3')">
                                    <span class="check"></span>
                    </label>
                    <span><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                    </span>
                </li>
                <li>
                    <span>
                            <label class="checkbox pr-3">
                                    <input type="checkbox" [(ngModel)]="estrella2" (change)="FiltroEstrella('2')">
                                    <span class="check"></span>
                    </label>
                    <span><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                    </span>
                </li>
                <li>
                    <span>
                            <label class="checkbox pr-3">
                                    <input type="checkbox" [(ngModel)]="estrella1" (change)="FiltroEstrella('1')">
                                    <span class="check"></span>
                    </label>
                    <span><img src="./assets/images/star.svg"></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>