<div class="m-0 p-0">
    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="detallepago col-12 m-0 p-0 pt-4 pb-4">
                Detalle del depósito
            </div>
            <div class="col-12 m-0 p-0 box-shadow pt-2 pb-2 pl-3">
                <div class="row m-0 p-0">
                    <div class="col-8 m-0 p-0">
                        <span class="lblpagoAlojamiento">PAGO EN ALOJAMIENTO</span>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <span class="lblmoneda">{{lstConfirmacion.oroom.oprice.currency}}</span>
                        <span class="PagoAlojamiento pl-2">{{lstConfirmacion.oroom.oprice.totalPrice}}</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>