<div class="m-0 p-0 pt-4 pl-2">
    <div class="col-12 m-0 p-0 contenedor-form">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 title-form pt-2 pb-2">
                <div class="row m-0 p-0">
                    <div class="col-6 m-0 p-0">
                        <div class="row m-0 p-0 div-section-trip">
                            <div class="col-6 m-0 p-0 pt-2 pl-5">
                                <span><img class="img-airplane" src="/assets/images/home/airplane_rojo.svg" alt=""></span>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 text-tipoviaje">
                                        Ida
                                    </div>
                                </div>
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 text-date">
                                        mar, 10 sep 2019
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0 text-right txt-detalle pr-4 pt-2">
                        <span class="pr-3">Ver detalle</span>
                        <span><img src="/assets/images/info-button.svg" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <app-info-vuelo-segment></app-info-vuelo-segment>
            </div>
            <div class="col-12 m-0 p-0 text-center pt-4 pb-4">
                <button class="btn btn-regulaciones">Ver Regulaciones</button>
            </div>

        </div>
    </div>
</div>