<div class="m-0 p-0">
    <div class="col-12 m-0 p-0 contenedor-form">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 title-form pt-2 pb-2">
                <div class="row m-0 p-0">
                    <div class="col-6 m-0 p-0">
                        <div class="row m-0 p-0 div-section-trip">
                            <div class="col-6 m-0 p-0 pt-2 pl-5">
                                <span><img class="img-airplane" src="/assets/images/{{imgIdaVuelta}}" alt=""></span>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 text-tipoviaje">
                                        {{textType}}
                                    </div>
                                </div>
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 text-date">
                                        {{section.DepartureDateShow}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="sectionLength - 1" class="col-6 m-0 p-0 text-right txt-detalle pr-4 pt-2">
                        <span (click)="openModal(modalresumen)" class="pr-3" style="cursor: pointer">Ver detalle</span>
                        <span><img src="/assets/images/info-button.svg" alt=""></span>
                    </div>
                    <ng-template #modalresumen let-c="close" let-d="dismiss">
                        <div class="modal-header m-0 p-0" style="border: none;">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body m-0 p-0">
                            <app-modal-resumen-vuelo [LSection]="LSection"></app-modal-resumen-vuelo>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="col-12 m-0 p-0 pt-4 pl-3 pb-4">
                <span><img src="/assets/images/airlines/{{marketingcarrier}}" style="width: 30px;"></span>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row p-0 m-0">
                    <div class="col-6 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-12 text-city">
                                {{section.Origin}}
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 text-airport">
                                {{section.AirportOrigin}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-12 text-city">
                                {{section.Destination}}
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 text-airport">
                                {{section.AirportDestination}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <app-info-vuelo-segment (msjairline)="ObtenerAirline($event)" *ngFor="let segment of section.Lsegments; let i = index" [segment]="segment" [bagAllowed]="section.BagAllowed"></app-info-vuelo-segment>
            </div>
        </div>
    </div>
</div>