<div class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0" style="text-align: center;">
            <label style="color: #6B253C; font-family: Omnes-med; font-size: 20px; border-bottom: 1px solid #6B253C;">SOLICITUD DE APROBACIÓN</label>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-12" style="color: #676767; font-family: Omnes-med; font-size: 18px; opacity: 1; letter-spacing: 0;">
                    El usuario:
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-12" style="color: #676767; font-family: Omnes-med; font-size: 18px; opacity: 1; letter-spacing: 0;">
                    Juan Caro está solicitando aprobación.
                </div>
            </div>
        </div>
        <div class="col-6 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-4 m-0 p-0">
                </div>
                <div class="col-8m-0 p-0 box-shadow" style="border-radius: 20px 0px 20px 0px">
                    <div class="row m-0 p-0 pl-4 pt-4">
                        <div class="col-12 m-0 p-0 pr-5">
                            <span class="m-0 p-0"><img src="assets/images/time.svg"></span> <label class="pl-3" style="color: #6B253C; font-size: 23px; opacity: 100%;">Solo tienes hasta:</label>
                        </div>
                    </div>
                    <div class="row m-0 p-0 pl-4 pb-3 pr-3">
                        <div class="col-12 m-0 p-0 pl-4 pb-2">
                            <label style="color: #676767; font-size: 21px; opacity: 100%;">Las 17:30 para gestionar la Reserva</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-12">
            <label style="color: #6B253C; font-family: Omnes-med; font-size: 20px;">● Solicitud:</label>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-2 m-0 p-0">

        </div>
        <div class="col-8 m-0 p-0 box-shadow">
            <div class="row m-0 p-0 pt-4 pb-4">
                <div class="col-12 m-0 p-0 text-center" style="color: #676767; font-size: 21px; opacity: 100%;">
                    Buen dia, necesitamos viajar el evento de California, nos confirmaron el dia de ayer, por ello no se reservó antes el pasaje.
                </div>
            </div>
        </div>
        <div class="col-2 m-0 p-0">

        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-12">
            <label style="color: #6B253C; font-family: Omnes-med; font-size: 20px;">● Itinerario:</label>
        </div>
    </div>
    <div class="row m-0 p-0 pl-4">
        <div class="col-8 m-0 p-0 pb-4 box-shadow" style="border-radius: 20px 20px 20px 20px;">
            <div class="row m-0 p-0 pl-3" style="border-bottom: 1px solid #cccccc;">
                <div class="col-6 m-0 p-0 pt-4 pl-5">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0">
                            <span class="m-0 p-0"><img class="m-0 p-0 pb-3" src="assets/images/layer5.svg"></span>
                            <span class="pl-4" style="color: #676767; font-size: 14px; opacity: 100%;">Aerolinea Operadora : LATAM</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 m-0 p-0">
                    <div class="row m-0 p-0 pb-4">
                        <div class="col-12 m-0 p-0  pt-5 text-center">
                            <span class="m-0 p-0" style="color: #676767; font-size: 18px; opacity: 100%;">Vuelo AV140 - Airbus A319</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-4">
                    <div class="row m-0 p-0 text-center">
                        <div class="txtFecha col-12 m-0 p-0 pt-4" style="color: #898989; font-size: 17px; opacity: 1;">
                            Lun, 09 Sep.
                        </div>
                        <div class="txtHorario col-12 m-0 p-0" style="color: #676767; font-size: 38px; opacity: 1; letter-spacing: 0;">
                            01:15
                        </div>
                        <div class="txtSigla col-12 m-0 p-0" style="color: #898989; font-size: 22px; opacity: 1; letter-spacing: 0;">
                            LIM
                        </div>
                        <div class="txtCiudad col-12 m-0 p-0" style="color: #898989; font-size: 15px; opacity: 1; letter-spacing: 0;">
                            Lima
                        </div>
                        <div class="txtAirport col-12 m-0 p-0 pt-2" style="color: #898989; font-size: 15px; opacity: 1; letter-spacing: 0;">
                            Aeropuerto Internacional Jorge Chavez
                        </div>
                    </div>
                </div>
                <div class="col-4 pt-5">
                    <div class="row m-0 p-0 pt-5 text-center">
                        <div class="txtCiudad col-12 m-0 p-0" style="color: #898989; font-size: 15px; opacity: 1; letter-spacing: 0;">
                            Duracion
                        </div>
                        <div class="txtDuracion col-12 m-0 p-0" style="color: #676767; font-size: 18px; opacity: 1; letter-spacing: 0;">
                            3h 15m
                        </div>
                        <div class="txtClase col-12 m-0 p-0" style="color: #898989; font-size: 15px; opacity: 1; letter-spacing: 0;">
                            Clase: <label class="m-0 p-0 pl-3" style="color: #898989; font-size: 18px; opacity: 1; letter-spacing: 0;">Económica</label>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row m-0 p-0 text-center">
                        <div class="txtFecha col-12 m-0 p-0 pt-4" style="color: #898989; font-size: 17px; opacity: 1;">
                            Lun, 09 Sep.
                        </div>
                        <div class="txtHorario col-12 m-0 p-0" style="color: #676767; font-size: 38px; opacity: 1; letter-spacing: 0;">
                            04:30
                        </div>
                        <div class="txtSigla col-12 m-0 p-0" style="color: #898989; font-size: 22px; opacity: 1; letter-spacing: 0;">
                            BOG
                        </div>
                        <div class="txtCiudad col-12 m-0 p-0" style="color: #898989; font-size: 15px; opacity: 1; letter-spacing: 0;">
                            Bogota
                        </div>
                        <div class="txtAirport col-12 m-0 p-0 pt-2" style="color: #898989; font-size: 15px; opacity: 1; letter-spacing: 0;">
                            Aeropuerto Internacional El Nuevo Dorado
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 m-0 p-0 pl-5 pr-5">
            <div class="row m-0 p-0 box-shadow pb-3 text-center" style="border-radius: 20px 0px 20px 0px">
                <div class="col-12 m-0 p-0 pr-5 pt-2" style="text-align: right;">
                    <img src="assets/images/medal.svg">
                </div>
                <div class="col-12 m-0 p-0">
                    <span class="m-0 p-0" style="text-align: center; font-family: Omnes-med; font-size: 50px; letter-spacing: 0; color: #6B253C; padding-left: 20px;">US$</span>
                    <span class="m-0 p-0" style="text-align: center; font-family: Omnes-med; font-size: 100px; letter-spacing: 0; color: #898989; padding-left: 20px;">82</span>
                </div>
                <div class="col-12 m-0 p-0">
                    <span class="m-0 p-0 pr-5" style="font-family: Omnes-med; font-size: 17px; letter-spacing: 0; color: #676767;">Precio por Adulto</span>
                    <span class="m-0 p-0" style="text-align: center; font-family: Omnes-med; font-size: 20px; letter-spacing: 0; color: #6B253C;">US$</span>
                    <span class="m-0 p-0" style="text-align: center; font-family: Omnes-med; font-size: 20px; letter-spacing: 0; color: #898989;">163</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 pl-4 pr-4 pt-4">
        <div class="col-12 m-0 p-0 box-shadow pb-5" style="border-radius: 30px 0px 30px 0px">
            <div class="row m-0 p-0 pt-4">
                <span class="pl-5 pt-3" style="font-family: Omnes-med; background: transparent linear-gradient(99deg, #ED1C24 0%, #D51A2C 34%, #3C4749 100%) 0% 0% no-repeat padding-box; border-radius: 0px 23px 23px 0px; color: #FFFFFF; padding: 7px 90px 7px 30px;">Pasajeros</span>
                <span class="m-0 p-0" style="padding-right: 30px;">Ver Infracción</span>
            </div>
            <div class="col-12 m-0 p-0">
                <div *ngFor="let item of listPasajeros" class="row m-0 p-0 pl-5">
                    <div class="col-4 m-0 p-0 pr-3">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 pt-3">
                                <label class="m-0 p-0" style="color: #676767; font-size: 17px; opacity: 1; letter-spacing: 0;">Nombres:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 box-shadow">
                                {{item.nombres}}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0 pr-3">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 pt-3">
                                <label class="m-0 p-0" style="color: #676767; font-size: 17px; opacity: 1; letter-spacing: 0;">Apellidos:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 box-shadow">
                                {{item.apellidos}}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0 pr-3">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 pt-3">
                                <label class="m-0 p-0" style="color: #676767; font-size: 17px; opacity: 1; letter-spacing: 0;">Email:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 box-shadow">
                                {{item.email}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row m-0 p-0 pl-4 pr-4 pb-4">
        <div class="col-12 m-0 p-0 pt-4">
            <div class="row m-0 p-0 box-shadow pt-4 pb-5" style="border-radius: 20px 0px 20px 0px">
                <span class="pl-5 pt-3" style="font-family: Omnes-med; background: transparent linear-gradient(99deg, #ED1C24 0%, #D51A2C 34%, #3C4749 100%) 0% 0% no-repeat padding-box; border-radius: 0px 23px 23px 0px; color: #FFFFFF; padding: 7px 90px 7px 30px;">Politicas Infringidas</span>
                <div class="txtDias col-12 m-0 p-0 pb-1 pt-4 pr-2">
                    <img class="m-0 p-0 pl-5" src="assets/images/calendario.svg"><label class="m-0 p-0 pl-3" style="color: #555555; font-size: 20px; opacity: 1; letter-spacing: 0;">Dias de Anticipación</label>
                </div>
                <div class="col-12 m-0 p-0">
                    <div class="row m-0 p-0">

                        <div class="col-8 m-0 p-0 pt-4 pb-3 pl-5" style="color: #4A4A4A; font-size: 18px; opacity: 1; letter-spacing: 0;">Infraccion</div>
                        <div class="col-4 m-0 p-0 pt-4 pb-3" style="color: #4A4A4A; font-size: 18px; opacity: 1; letter-spacing: 0;">Impacto</div>
                    </div>
                </div>
                <div class="col-12 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-8 m-0 p-0 pr-4 pb-1 pl-5">
                            <div class="row m-0 p-0 box-shadow pr-5 pl-2">
                                <div class="col-12 m-0 p-0 pt-3 pb-3 pl-3" style="color: #676767; font-size: 18px; opacity: 1; letter-spacing: 0;">
                                    La política de días de anticipación no cumple con los [20] días nacionales establecidos. De haber comprado con la debida anticipación, el pasaje le hubiera costado [76.03]. El impacto es de USD$ [54.28]
                                </div>
                            </div>
                        </div>
                        <div class="col-4 m-0 p-0 pr-5">
                            <div class="row m-0 p-0 box-shadow">
                                <div class="txtImpacto col-12 m-0 p-0 pl-4 pb-4 pt-5 text-center">
                                    <span class="m-0 p-0" style="color: #3D3D3D; font-size: 25px; opacity: 1; letter-spacing: 0;">
                                                               USD$
                                                            </span>
                                    <span class="m-0 p-0 pt-3" style="color: #3D3D3D; font-size: 38px; opacity: 1; letter-spacing: 0;">100.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-6 m-0 p-0 pr-5 pl-5">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 pt-3">
                                    <label class="txtDescripcion">Nombre:</label>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0">
                                    <input class="txtInput m-0 p-0 pb-1" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 m-0 p-0 pr-5 pl-5">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 pt-3">
                                    <label class="txtDescripcion">Centro de costos:</label>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0">
                                    <input class="txtInput m-0 p-0 pb-1" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pt-5">
                        <span class="pl-5 pt-3" style="font-family: Omnes-med; background: transparent linear-gradient(99deg, #ED1C24 0%, #D51A2C 34%, #3C4749 100%) 0% 0% no-repeat padding-box; border-radius: 0px 23px 23px 0px; color: #FFFFFF; padding: 7px 90px 7px 30px;">Autorizadores</span>
                    </div>
                    <label class="txtApro pl-5 pt-4">(Las personas en la siguiente lista se encargaran de revisar su solicitud y gestionarla .)</label>
                </div>
                <div class="col-12 m-0 p-0">
                    <div *ngFor="let item of listUsers" class="row m-0 p-0 pl-5">
                        <div class="col-3 m-0 p-0 pr-3">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 pt-3">
                                    <label class="txtDescripcion">Nombre:</label>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 box-shadow">
                                    {{item.nombre}}
                                </div>
                            </div>
                        </div>
                        <div class="col-3 m-0 p-0 pr-3">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 pt-3">
                                    <label class="txtDescripcion">Centro de costos:</label>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 box-shadow">
                                    {{item.centroCosto}}
                                </div>
                            </div>
                        </div>
                        <div class="col-3 m-0 p-0 pr-3">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 pt-3">
                                    <label class="txtDescripcion">Telefono:</label>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 box-shadow">
                                    {{item.telefono}}
                                </div>
                            </div>
                        </div>
                        <div class="col-3 m-0 p-0">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 pt-3">
                                    <label class="txtDescripcion">Email:</label>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 pr-4">
                                    <input class="txtInput m-0 p-0" type="text" [(ngModel)]="item.email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>