<div *ngIf="showDiv" style="width: 100%;height: 380px;padding-top: 10px;padding-left: 30px;">

    <div class="row m-0 p-0">
        <div class="col-12" style="left: 420px;bottom: 5px;">
            <img style="width: 20px;cursor: pointer;" src="./assets/images/cerrar.png" (click)="VolverHome()">
        </div>
    </div>
    <div class="row m-0 p-0 text-center">
        <div class="col-12">
            <span class="title">Recuperar contraseña</span>
        </div>
    </div>

    <div class="row m-0 p-0 pt-4">
        <div class="col-12">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Usuario</label>
                    <input id="usuario" type="text" formControlName="firstName" style="width: 410px; height: 38px;border-radius: 10px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">El usuario es requerido.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" type="text" formControlName="email" class="form-control" style="width: 410px; height: 38px;border-radius: 10px;" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Correo electronico es requerido.</div>
                        <div *ngIf="f.email.errors.email">El correo electrónico debe ser una dirección de correo electrónico válida.</div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="correo" style="width: 410px; height: 38px;border-radius: 10px;background-color: #ED1C24;color: aliceblue;">Validar correo electrónico</button>
                </div>
            </form>
        </div>
    </div>
</div>








<div *ngIf="!showDivTwo" style="width: 100%;height: 280px;padding-top: 10px;padding-left: 30px;">
    <div class="row m-0 p-0 pt-4">
        <div class="col-12" style="left: 420px;bottom: 30px;">
            <img style="width: 20px;cursor: pointer;" src="./assets/images/cerrar.png" (click)="VolverHome()">
        </div>
        <div class="col-1">

        </div>
        <div class="col-10 text-center" style="padding-right: 40px;">
            <span class="title1">Introduce el código de verificación que hemos enviado a :</span>
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row m-0 p-0 pt-4">
        <div class="col-1">

        </div>
        <div class="col-10 text-center" style="padding-right: 40px;">
            <span class="title">{{this.email}}</span>
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row m-0 p-0 pt-4">
        <div class="col-1">

        </div>
        <div class="col-10 text-center" style="padding-right: 40px;">
            <input (keyup)="confirmarCodigo()" id="inputcode" maxlength='7' (paste)="false" />
        </div>
        <div class="col-1">

        </div>
    </div>
    <div *ngIf="mostrar === 'Bien' " class="row" style="padding-left: 20px;padding-top: 10px;">
        <div class="col-12">
            <form [formGroup]="registerForm1" (ngSubmit)="onSubmit1()" disabled>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input id="pass1" type="password" formControlName="password" style="width: 410px; height: 38px;border-radius: 10px;" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.password.errors }" />
                    <span onclick="myFunction1()" toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" style="right: 70px;cursor: pointer;"></span>
                    <div *ngIf="submitted1 && f1.password.errors" class="invalid-feedback">
                        <div *ngIf="f1.password.errors.required">Se requiere contraseña.</div>
                        <div *ngIf="f1.password.errors.minlength">La contraseña debe tener al menos 6 caracteres.</div>

                    </div>
                </div>
                <div class="form-group">
                    <label>Confirmar contraseña</label>
                    <input id="pass2" type="password" formControlName="confirmPassword" style="width: 410px; height: 38px;border-radius: 10px;" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.confirmPassword.errors }" />
                    <span onclick="myFunction2()" toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" style="right: 70px;cursor: pointer;"></span>
                    <div *ngIf="submitted1 && f1.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f1.confirmPassword.errors.required">Se requiere confirmar contraseña.</div>
                        <div *ngIf="f1.confirmPassword.errors.mustMatch">Las contraseñas deben coincidir.</div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="validar" style="width: 410px; height: 38px;border-radius: 10px;background-color: #ED1C24;color: aliceblue;">Crear Contraseña</button>
                </div>
            </form>
        </div>
    </div>
    <style>
        #inputcode {
            border: none;
            padding: 0;
            width: 10.5ch;
            background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
            font: 5ch droid sans mono, consolas, monospace;
            letter-spacing: 0.5ch;
        }
        
        #inputcode:focus {
            outline: none;
            color: #ED1C24;
        }
    </style>
</div>


<div *ngIf="!showDivThree" style="width: 100%;height: 330px;padding-top: 10px;padding-left: 30px;">
    <div class="col-12" style="left: 420px;bottom: 5px;">
        <img style="width: 20px;cursor: pointer;" src="./assets/images/cerrar.png" (click)="VolverHome()">
    </div>
    <div class="row m-0 p-0 text-center">
        <div class="col-12">
            <span class="title">Cambiar contraseña</span>
        </div>
    </div>
    <div *ngIf="mostrar === 'Bien' " class="row" style="padding-left: 20px;padding-top: 10px;">
        <div class="col-12">
            <form [formGroup]="registerForm1" (ngSubmit)="onSubmit1()" disabled>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input id="pass1" type="password" formControlName="password" style="width: 410px; height: 38px;border-radius: 10px;" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.password.errors }" />
                    <div *ngIf="submitted1 && f1.password.errors" class="invalid-feedback">
                        <div *ngIf="f1.password.errors.required">Se requiere contraseña.</div>
                        <div *ngIf="f1.password.errors.minlength">La contraseña debe tener al menos 6 caracteres.</div>

                    </div>
                </div>
                <div class="form-group">
                    <label>Confirmar contraseña</label>
                    <input id="pass2" type="password" formControlName="confirmPassword" style="width: 410px; height: 38px;border-radius: 10px;" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f1.confirmPassword.errors }" />
                    <div *ngIf="submitted1 && f1.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f1.confirmPassword.errors.required">Se requiere confirmar contraseña.</div>
                        <div *ngIf="f1.confirmPassword.errors.mustMatch">Las contraseñas deben coincidir.</div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="validar" style="width: 410px; height: 38px;border-radius: 10px;background-color: #ED1C24;color: aliceblue;">Crear Contraseña</button>
                </div>
            </form>
        </div>
    </div>
    <style>
        #inputcode {
            border: none;
            padding: 0;
            width: 10.5ch;
            background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
            font: 5ch droid sans mono, consolas, monospace;
            letter-spacing: 0.5ch;
        }
        
        #inputcode:focus {
            outline: none;
            color: #ED1C24;
        }
    </style>
</div>