<div class="m-0 p-0 box-shadow pt-4 pb-4">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <span class="spanAutorizador">Autorizadores</span>
        </div>
        <label class="txtApro pl-5 pt-4">(Las personas en la siguiente lista se encargaran de revisar su solicitud y gestionarla.</label>
        <div *ngIf="lsapprovers != null && lsapprovers.length > 0" class="col-12 m-0 p-0">
            <div *ngFor="let item of lsapprovers" class="row m-0 p-0 pl-4 pr-4">
                <div class="col-4 m-0 p-0 pr-3">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-3">
                            <label class="txtDescripcion">Nombre:</label>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 box-shadow input-pasajero text-center">
                            {{item.name}}
                        </div>
                    </div>
                </div>
                <div class="col-4 m-0 p-0 pr-3">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-3">
                            <label class="txtDescripcion">Apellidos:</label>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 box-shadow input-pasajero text-center">
                            {{item.lastName}}
                        </div>
                    </div>
                </div>
                <div class="col-4 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-3">
                            <label class="txtDescripcion">Email:</label>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pr-4 box-shadow input-pasajero text-center">
                            {{item.email}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>