<div class="modal-header pb-0" style="border: none;">
    <!--  <h3 class="modaltitle">Expiración del Tiempo de Compra</h3>
    <div class="modaldescrip">
        "No pudimos guardar tu reserva por más tiempo. Para continuar con tu compra por favor empieza de nuevo."
    </div>-->

    <div class="col-12 m-0 p-0 text-center text-sesion">
        Sesion expirada, por favor buscar nuevamente.
    </div>

</div>

<div class="modal-body m-0 p-0">
    <div class="col-12 m-0 p-0 text-center pt-4 pb-4">
        <button (click)="VolverHome()" class="btn btn-danger">Entendido!</button>
    </div>
</div>