<div class="m-0 p-0 pt-5 pr-5">
  <div class="col-12 m-0 p-0 contenedor-form">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 title-form pt-3 pb-3 pl-5">
        INFORMACION ADICIONAL
      </div>
      <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-12 div-info">
            <!--
            <input type="text" class="input-pasajero">
            {{htmlTxtC}}
            <div class="" [innerHTML]="htmlTxtC"></div>
            -->
          </div>
        </div>
        <div class="row p-0 m-0 m-3" id="divHtmlTxtC"></div>
      </div>
    </div>
  </div>
</div>
