
.title-form
  color: #676767
  background: #FBF6F6 0% 0% no-repeat padding-box
  font-family: Omnes-med
  border-radius: 20px 20px

.contenedor-form
  border-radius: 20px 20px 20px 0px
  background: #FDFDFD 0% 0% no-repeat padding-box
  box-shadow: -1px 2px 6px #00000029

.input-pasajero
  outline: none
  width: 100%
  height: 60px
  font-family: Omnes-med
  border: 0

.div-info
  padding: 10px

.dropdown-submenu
  position: relative

#main_nav ul
  background: white
  float: left
  -webkit-transition: .5s
  transition: .5s

#main_nav li
  float: left
  position: relative
  width: 150px
  list-style: none
  -webkit-transition: .5s
  transition: .5s

#main_nav > ul > li > a, h1
  text-transform: uppercase

#main_nav a
  display: block
  text-decoration: none
  padding: 5px 15px
  color: #000

#main_nav ul ul
  position: absolute
  left: 0
  top: 100%
  visibility: hidden
  opacity: 0

#main_nav ul ul ul
  left: 100%
  top: 0

#main_nav li:hover, #main_nav li:hover li
  background: #ddd

#main_nav li li:hover, #main_nav li li:hover li
  background: #bbb

#main_nav li li li:hover
  background: #999

#main_nav li:hover > ul
  visibility: visible
  opacity: 1






.third-level-menu
  position: absolute
  top: 0
  right: -150px
  width: 150px
  list-style: none
  padding: 0
  margin: 0
  display: none

.third-level-menu > li
  height: 30px
  background: #999999

.third-level-menu > li:hover
  background: #CCCCCC

.second-level-menu
  position: absolute
  top: 30px
  left: 0
  width: 150px
  list-style: none
  padding: 0
  margin: 0
  display: none

.second-level-menu > li
  position: relative
  height: 30px
  background: #999999

.second-level-menu > li:hover
  background: #CCCCCC

.top-level-menu
  list-style: none
  padding: 0
  margin: 0

.top-level-menu > li
  position: relative
  float: left
  height: 30px
  width: 150px
  background: #999999

.top-level-menu > li:hover
  background: #CCCCCC

.top-level-menu li:hover > ul
  /* On hover, display the next level's menu */
  display: inline


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
  font: bold 14px Arial, Helvetica, sans-serif
  color: #FFFFFF
  text-decoration: none
  padding: 0 0 0 10px

  /* Make the link cover the entire list item-container */
  display: block
  line-height: 30px


.top-level-menu a:hover
  color: #000000









.dropdown-submenu
  position: relative

.dropdown-submenu .dropdown-menu
  top: 0
  left: 100%
  margin-top: -1px

