<div class="modal-header pb-0" style="border: none;">
    <!-- (click)="closeModalFamilia($event)" -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="VolverHome()">
<span (click)="VolverHome()" aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-body">

    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0 pb-4 text-center r-text-sinfam-1">
            ¡Lo sentimos!
        </div>

        <div class="col-12 m-0 p-0 pb-4 text-center r-text-sinfam-2">
            No hemos encontrado familias disponibles para este vuelo en particular. Por favor, selecciona otras de las opciones.
        </div>

        <div class="col-12 m-0 p-0 pb-4 text-center">
            <button class="btn r-btn-sinfam-1" (click)="VolverHome()">
          <img src="./assets/images/home/buscador-musical.svg" alt="" style="width: 15px">
          Continuar con mi busqueda
        </button>
        </div>
    </div>
</div>