<app-vuelo-section [tipo]='2' *ngFor="let section of LSection" [section]="section"></app-vuelo-section>
<div class="col-12 m-0 p-0 p-4">
    <div class="row m-0 p-0 box-shadow p-3">
        <div class="col-2 m-0 p-0 s-texto-4" style="border-right: 1px solid #898989;">
            Equipaje
        </div>

        <div class="col-10 m-0 p-0">

            <div class="row m-0 p-0 pl-3">
                <div class="col-12 m-0 p-0 pt-3">
                    <div class="row m-0 p-0">
                        <div class="col-2 m-0 p-0 d-flex justify-content-center align-items-center">
                            <img src="./assets/images/accesorio5.svg" alt="">
                        </div>
                        <div class="col-10 m-0 p-0">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 s-texto-5">
                                    Incluye equipaje de mano
                                </div>
                                <div class="col-12 m-0 p-0 s-texto-6">
                                    Debe caber en el compartimiento superior del avión.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 m-0 p-0 pt-3">
                    <div class="row m-0 p-0">
                        <div class="col-2 m-0 p-0 d-flex justify-content-center align-items-center">
                            <img *ngIf="LSection[0].BagAllowed === true" src="./assets/images/equipaje_rojo.svg" alt="">
                            <img *ngIf="LSection[0].BagAllowed === false" src="./assets/images/equipaje_gris.svg" alt="">
                        </div>
                        <div *ngIf="LSection[0].BagQuantity > 0" class="col-10 m-0 p-0">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 s-texto-5">
                                    Incluye equipaje para documentar
                                </div>
                                <div class="col-12 m-0 p-0 s-texto-6">
                                    {{LSection[0].BagQuantity}} maleta(s) por adulto.
                                </div>
                                <div class="col-12 m-0 p-0 s-texto-6">
                                    Se documenta en el aeropuerto durante el Check-in.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="LSection[0].BagQuantity == 0" class="col-10 m-0 p-0">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 s-texto-5">
                                    No incluye maleta
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>