<div class="m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-4">
            <div class="row m-0 p-0">
                <div class="txtFecha col-12 m-0 p-0 pt-4">
                    Lun, 09 Sep.
                </div>
                <div class="txtHorario col-12 m-0 p-0">
                    01:15
                </div>
                <div class="txtSigla col-12 m-0 p-0">
                    LIM
                </div>
                <div class="txtCiudad col-12 m-0 p-0">
                    Lima
                </div>
                <div class="txtAirport col-12 m-0 p-0 pt-2">
                    Aeropuerto Internacional Jorge Chavez
                </div>
            </div>
        </div>
        <div class="col-4 pt-5">
            <div class="row m-0 p-0 pt-5">
                <div class="txtCiudad col-12 m-0 p-0">
                    Duracion
                </div>
                <div class="txtDuracion col-12 m-0 p-0">
                    3h 15m
                </div>
                <div class="txtClase col-12 m-0 p-0">
                    Clase: <label class="m-0 p-0 pl-3">Económica</label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row m-0 p-0">
                <div class="txtFecha col-12 m-0 p-0 pt-4">
                    Lun, 09 Sep.
                </div>
                <div class="txtHorario col-12 m-0 p-0">
                    04:30
                </div>
                <div class="txtSigla col-12 m-0 p-0">
                    BOG
                </div>
                <div class="txtCiudad col-12 m-0 p-0">
                    Bogota
                </div>
                <div class="txtAirport col-12 m-0 p-0 pt-2">
                    Aeropuerto Internacional El Nuevo Dorado
                </div>
            </div>
        </div>
    </div>
</div>