<div class="row m-0 p-0 pt-4 pb-3">
    <div class="col-12 m-0 p-0 box-shadow pl-4 pb-5">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="pregunta">¿A que número podemos llamarte?</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <span class="info">Serán los responsables de hacer el check-in y check-out en cada habitación del alojamiento</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="title">TELÉFONO</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <input type="text" placeholder="Celular" class="input-names box-shadow" style="width: 329px; height: 44px;">
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="title">CÓDIGO DE PAÍS</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <input type="text" placeholder="Peru(51)" class="input-names box-shadow" style="width: 329px; height: 44px;">
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-5 m-0 p-0 pt-4">
                <span class="title">ÁREA</span>
            </div>
            <div class="col-7 m-0 p-0 pt-4">
                <span class="title">NÚMERO</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-5 m-0 p-0">
                <input type="text" placeholder="01" class="input-names box-shadow" style="width: 139,06px; height: 44px;">
            </div>
            <div class="col-7 m-0 p-0">
                <input type="text" placeholder="Ingresa un número" class="input-names box-shadow" style="width: 329px; height: 44px;">
            </div>
        </div>

    </div>
</div>