<div class="row m-0 p-0 pt-4 pb-3">
    <div class="col-12 m-0 p-0 box-shadow pl-4 pb-5">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="pregunta">¿A que numero podemos llamarte?</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <span class="info">Seran los responsables de hacer el check-in y check-out en cada habitacion del alojamiento</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="title">TELEFONO</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <input type="text" placeholder="Celular" class="input-names box-shadow" style="width: 329px; height: 44px;">
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="title">CODIGO DE PAIS</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <input type="text" placeholder="Peru(51)" class="input-names box-shadow" style="width: 329px; height: 44px;">
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-5 m-0 p-0 pt-4">
                <span class="title">AREA</span>
            </div>
            <div class="col-7 m-0 p-0 pt-4">
                <span class="title">NUMERO</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-5 m-0 p-0">
                <input type="text" placeholder="01" class="input-names box-shadow" style="width: 139,06px; height: 44px;">
            </div>
            <div class="col-7 m-0 p-0">
                <input type="text" placeholder="Ingresa un numero" class="input-names box-shadow" style="width: 329px; height: 44px;">
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="reference">+ Ingresa otro numero</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-3">
                <span class="option">○ Mantenme informado vida Whatsapp y SMS sobre detalles de mi compra, estado del vuelo y posibles cambios en mi viaje.</span>
            </div>
        </div>
    </div>
</div>