<div class="row m-0 p-0 pt-4 pb-3">
    <div class="col-12 m-0 p-0 box-shadow pl-4 pb-5">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="pregunta">¿Como podemos contactarte?</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <span class="info">Serán los responsables de hacer el check-in y check-out en cada habitación del alojamiento</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="title">Nombres</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <input type="text" id="nombre" (keyup)="validarNombre()" (keypress)="validarLetras($event)" [(ngModel)]="nombre" placeholder="Nombre de contacto" class="input-names box-shadow" style="width: 329px; height: 44px;" (paste)="false">
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="title">CORREO ELECTRONICO</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <input type="email" id="correo" placeholder="example@gmail.com" (keyup)="validarCorreo()" [(ngModel)]="correo" class="input-names box-shadow" style="width: 329px; height: 44px;" (paste)="false">
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-5 m-0 p-0 pt-4">
                <span class="title">ÁREA</span>
            </div>
            <div class="col-7 m-0 p-0 pt-4">
                <span class="title">NÚMERO</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-5 m-0 p-0">
                <input type="text" id="area" placeholder="01" (keyup)="validarArea()" (keypress)="validarNumeros($event)" [(ngModel)]="area" class="input-names box-shadow" style="width: 139,06px; height: 44px;" (paste)="false">
            </div>
            <div class="col-7 m-0 p-0">
                <input type="text" id="numero" placeholder="Ingresa un número" maxlength="9" (keyup)="validarTelefono()" (keypress)="validarNumeros($event)" [(ngModel)]="telefono" class="input-names box-shadow" style="width: 329px; height: 44px;" (paste)="false">
            </div>
        </div>

    </div>
</div>