

.v-texto-1
  color: #828282
  font-family: Omnes-med
  font-size: 20px

.v-texto-2
  color: #898989
  font-family: Omnes-med
  font-size: 16px

.v-texto-3
  color: #3D3D3D
  font-family: Omnes-med
  font-size: 15px

.v-btn-buscar
  color: white
  background-color: #ED1C24
  font-family: Omnes-med
  font-size: 16px
  width: 100% !important

.text-informacion
  font-family: Omnes-med
  font-size: 20px

.text-informacion1
  font-family: Omnes-med
  font-size: 29px
  color: #000000

.btn-1
  font-family: Omnes-med
  font-size: 17px
  background-color: #ED1C24
  width: 200px
  color: white

.cabecera-tabla
  font-family: Omnes-med
  color: #3D3D3D
  background: #FBF6F6 0% 0% no-repeat padding-box
  font-size: 14px

.fechas:focus
  border: 3px solid #6B253C !important
  border-radius: 4px

.btn-combo
  border: 2px solid #DFD9D8
  box-shadow: none
  border-radius: 4px

.btn-combo:focus
  border: 3px solid #6B253C

::ng-deep .mat-step-icon
    height: 40px !important
    width: 40px !important

::ng-deep .mat-step-icon.mat-icon
    font-size: 20px !important
    height: 20px !important
    width: 20px !important

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header
    padding: 15px 10px !important

::ng-deep .mat-step-header .mat-step-icon-state-done
    background-color: #871E08 !important
    color: #fff !important

::ng-deep .mat-step-header .mat-step-icon-selected
    background-color: #871E08 !important
    color: #fff !important

::ng-deep mat-step-header .mat-step-icon
    background-color: #fff !important
    border: 3px solid #871E08 !important
    color: #871E08 !important

::ng-deep mat-horizontal-stepper
  @for $i from 1 through 42
    &.last-edited-step-#{$i}
     @for $j from 1 through $i
        .mat-stepper-horizontal-line:nth-of-type(#{$j})
          border-color: #00c190 !important


