

.v-texto-1
  color: #828282
  font-family: Omnes-med
  font-size: 20px

.v-texto-2
  color: #898989
  font-family: Omnes-med
  font-size: 16px

.v-texto-3
  color: #3D3D3D
  font-family: Omnes-med
  font-size: 15px

.v-btn-buscar
  color: white
  background-color: #ED1C24
  font-family: Omnes-med
  font-size: 16px
  width: 100% !important

