<div class="row m-0 p-0">

    <div class="col-12 m-0 p-0" style="width: 100%; height: 30px !important; border: none !important;"></div>

    <div class="col-12 m-0 p-0">

        <div class="row m-0 p-0 box-shadow" style="padding: 10px !important;">

            <div class="col-12 m-0 p-0 ho-text-1">
                Horarios
            </div>

            <div *ngIf="indexTramo>=horario1" class="col-12 m-0 p-0 padding-top-1 ho-text-2">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pb-1">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0 div-color-1">
                                <img style="width: 40px" src="./assets/images/{{imgIdaVuelta1}}" alt="" class="pr-1 pl-2"> {{texto1}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                Hora de salida
                            </div>
                            <div class="col-6 m-0 p-0">
                                Hora de llegada
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0 ho-text-3">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <!--<timepicker [(ngModel)]="myTime1" [showMeridian]="isMeridian" [showSpinners]="showSpinners"></timepicker>
                  {{myTime1.getHours()}}:{{myTime1.getMinutes()}}-->
                                <!--
                  <input type="text" name="timepicker1" class="timepicker1 width-timer"/>
                  -->
                                <select name="timepicker1" id="timepicker1" class="timepicker1 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker2" class="timepicker2 width-timer"/>-->
                                <select name="timepicker2" id="timepicker2" class="timepicker2 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="indexTramo>=horario2" class="col-12 m-0 p-0 padding-top-1 ho-text-2">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pb-1">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0 div-color-1">
                                <img style="width: 40px" src="./assets/images/{{imgIdaVuelta2}}" alt="" class="pr-1 pl-2"> {{texto2}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                Hora de salida
                            </div>
                            <div class="col-6 m-0 p-0">
                                Hora de llegada
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker3" class="timepicker3 width-timer"/>-->
                                <select name="timepicker3" id="timepicker3" class="timepicker3 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker4" class="timepicker4 width-timer"/>-->
                                <select name="timepicker4" id="timepicker4" class="timepicker4 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="indexTramo>=horario3" class="col-12 m-0 p-0 padding-top-1 ho-text-2">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pb-1">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0 div-color-1">
                                <img style="width: 40px" src="./assets/images/{{imgIdaVuelta3}}" alt="" class="pr-1 pl-2"> {{texto3}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                Hora de salida
                            </div>
                            <div class="col-6 m-0 p-0">
                                Hora de llegada
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker5" class="timepicker5 width-timer"/>-->
                                <select name="timepicker5" id="timepicker5" class="timepicker5 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker6" class="timepicker6 width-timer"/>-->
                                <select name="timepicker6" id="timepicker6" class="timepicker6 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="indexTramo>=horario4" class="col-12 m-0 p-0 padding-top-1 ho-text-2">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pb-1">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0 div-color-1">
                                <img style="width: 40px" src="./assets/images/{{imgIdaVuelta4}}" alt="" class="pr-1 pl-2"> {{texto4}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                Hora de salida
                            </div>
                            <div class="col-6 m-0 p-0">
                                Hora de llegada
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker7" class="timepicker7 width-timer"/>-->
                                <select name="timepicker7" id="timepicker7" class="timepicker7 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker8" class="timepicker8 width-timer"/>-->
                                <select name="timepicker8" id="timepicker8" class="timepicker8 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="indexTramo>=horario5" class="col-12 m-0 p-0 padding-top-1 ho-text-2">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pb-1">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0 div-color-1">
                                <img style="width: 40px" src="./assets/images/{{imgIdaVuelta5}}" alt="" class="pr-1 pl-2"> {{texto5}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                Hora de salida
                            </div>
                            <div class="col-6 m-0 p-0">
                                Hora de llegada
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker9" class="timepicker9 width-timer"/>-->
                                <select name="timepicker9" id="timepicker9" class="timepicker9 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker10" class="timepicker10 width-timer"/>-->
                                <select name="timepicker10" id="timepicker10" class="timepicker10 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="indexTramo>=horario6" class="col-12 m-0 p-0 padding-top-1 ho-text-2">
                <div class="row m-0 p-0 pb-1">
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0 div-color-1">
                                <img style="width: 40px" src="./assets/images/{{imgIdaVuelta6}}" alt="" class="pr-1 pl-2"> {{texto6}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                Hora de salida
                            </div>
                            <div class="col-6 m-0 p-0">
                                Hora de llegada
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker11" class="timepicker11 width-timer"/>-->
                                <select name="timepicker11" id="timepicker11" class="timepicker11 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <!--<input type="text" name="timepicker12" class="timepicker12 width-timer"/>-->
                                <select name="timepicker12" id="timepicker12" class="timepicker12 width-timer">
                    <option value="">--</option>
                    <option value="0000">00:00</option>
                    <option value="0100">01:00</option>
                    <option value="0200">02:00</option>
                    <option value="0300">03:00</option>
                    <option value="0400">04:00</option>
                    <option value="0500">05:00</option>
                    <option value="0600">06:00</option>
                    <option value="0700">07:00</option>
                    <option value="0800">08:00</option>
                    <option value="0900">09:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                    <option value="2300">23:00</option>
                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 m-0 p-0 pb-3 text-center padding-top-3">
                <button class="btn ho-btn-buscar" (click)="setHorarios()" style="width: 100%">
            <img src="./assets/images/home/buscador-musical.svg" alt="" style="width: 15px">
            Buscar
          </button>
            </div>

        </div>

    </div>

</div>