


<div class="row m-0 p-0">

  <div class="col-2 m-0 p-0">
    Filtros
  </div>

  <div *ngIf="flagVD" class="col-2 m-0 p-0 text-center">
    <button
      (click)="selDirectos()"
      class="btn"
      [ngClass]="{
        'fs-btn-activo': flagVDactivo===true,
        'fs-btn-inactivo': flagVDactivo===false
      }"
    >
      Vuelos Directos
    </button>
    <button
      (click)="flagVD=!flagVD"
      class="btn"
      [ngClass]="{
        'fs-btn-activo': flagVDactivo===true,
        'fs-btn-inactivo': flagVDactivo===false
      }"
    >x</button>
  </div>

  <div *ngIf="flagSM" class="col-3 m-0 p-0 text-center">
    <button
      (click)="selSalidaManiana()"
      class="btn"
      [ngClass]="{
        'fs-btn-activo': flagSMactivo===true,
        'fs-btn-inactivo': flagSMactivo===false
      }"
    >
      Salida en la mañana
    </button>
    <button
      (click)="flagSM=!flagSM"
      class="btn"
      [ngClass]="{
        'fs-btn-activo': flagSMactivo===true,
        'fs-btn-inactivo': flagSMactivo===false
      }"
    >x</button>
  </div>

  <div *ngIf="flagSN" class="col-3 m-0 p-0 text-center">
    <button
      (click)="selSalidaNoche()"
      class="btn"
      [ngClass]="{
        'fs-btn-activo': flagSNactivo===true,
        'fs-btn-inactivo': flagSNactivo===false
      }"
    >
      Salida en la noche
    </button>
    <button
      (click)="flagSN=!flagSN"
      class="btn"
      [ngClass]="{
        'fs-btn-activo': flagSNactivo===true,
        'fs-btn-inactivo': flagSNactivo===false
      }"
    >x</button>
  </div>

</div>
