<div class="m-0 p-0" style="width: 500px">
    <div class="modal-header pb-0" style="border: none;">
        <!-- (click)="closeModalFamilia($event)" -->
        <button type="button" class="close pull-right" aria-label="Close">
    <span (click)="modalRef.hide()" aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="m-0 p-0 pt-4">
            <div class="col-12 m-0 p-0 text-center text-informacion">
                Usted tiene boletos no usados
            </div>
            <div class="col-12 m-0 p-0 text-center text-informacion">
                Es posible que usted pueda canjear cualquiera de estos boletos para la compra que esta intentando hacer
            </div>
            <div class="col-12 m-0 p-0 pt-3 text-center pl-5 pr-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Vuelo nacional</th>
                            <th>Fecha Emisión</th>
                            <th>Ruta</th>
                            <th>Reutilizable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstBnus">
                            <td>{{item.vuelo}}</td>
                            <td>{{item.fecEmision | formatfechareservacreacion}}</td>
                            <td>{{item.ruta}}</td>
                            <td>Si</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 m-0 p-0 text-center pt-2 pb-3">
                <span class="text-informacion">Por favor comuniquese con su asesor asignado</span>

                <table class="table table-bordered pt-2">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Asesor</th>
                            <th>Numero</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>fgdGGg</td>
                            <td>fdgdfg</td>
                            <td>fdgfdg</td>
                            <td>fdgdfg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0 text-center">
                    <div class="col-6 m-0 p-0">
                        <button class="btn btn-1">Llamaré a mi asesor</button>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <button class="btn btn-1">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>