<div class="m-0 p-0">
    <div class="col-12 m-0 p-0 text-center">
        Usted tiene boletos no usados
    </div>
    <div class="col-12 m-0 p-0 text-center">
        Es posible que usted pueda canjear cualquiera de estos boletos para la compra que esta intentando hacer
    </div>
    <div class="col-12 m-0 p-0 pt-3 text-center pl-5 pr-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Vuelo nacional</th>
                    <th>Fecha Emisión</th>
                    <th>Ruta</th>
                    <th>Reutilizable</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>fsdf</td>
                    <td>sdfdsfs</td>
                    <td>sdfdd</td>
                    <td>sfdfdsf</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 m-0 p-0 text-center pt-2 pb-2">
        <span>Por favor comuniquese con su asesor asignado</span>

        <table class="table table-bordered pt-2">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Asesor</th>
                    <th>Numero</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>fgdg</td>
                    <td>fdgdfg</td>
                    <td>fdgfdg</td>
                    <td>fdgdfg</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>