.text-filtros
 font-family: Omnes-med
 font-size: 20px
 color: #3D3D3D
 
.v-texto-3
  cursor: pointer 
  width: 100%
  font-family: Omnes-med
  text-align: center
  padding-bottom: 10px
  padding-top: 10px
  color: #3D3D3D

.text-vista
  font-family: Omnes-med
  color: #3D3D3D

.circulo-politica
 display: flex
 height: 20px
 width: 20px
 margin: 0 auto
 background: transparent linear-gradient(56deg, #ED1C24 0%, #D51A2C 31%, #3C4749 100%) 0% 0% no-repeat padding-box
 border-radius: 50%

.circulo-politica1
 display: flex
 height: 20px
 width: 20px
 margin: 0 auto
 background: transparent linear-gradient(54deg, #1CED31 0%, #40B23D 32%, #0C5711 100%) 0% 0% no-repeat padding-box
 border-radius: 50% 