<div class="col-12 m-0 p-0">
    <div class="row box-shadow">
        <div class="col-1 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0 pl-4 pt-2">
                    <label for="" class="text-filtros">Filtros</label>
                </div>
            </div>
        </div>
        <div class="col-4 m-0 p-0 pr-4">
            <div class="btn-group" style="width: 100% !important;" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn v-texto-3 dropdown-toggle box-shadow" aria-controls="dropdown-basic">
                                  {{textoprecio}}
                                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu v-texto-3" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="FiltrarPrecio(2)">Precio: Mayor a Menor</a>
                    </li>
                    <li role="menuitem"><a class="dropdown-item" (click)="FiltrarPrecio(1)">Precio: Menor a Mayor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4 m-0 p-0">
            <div class="btn-group" style="width: 100% !important;" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn v-texto-3 dropdown-toggle box-shadow" aria-controls="dropdown-basic">
                                          {{textoestrellas}}
                                        </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu v-texto-3" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" (click)="FiltrarEstrella(1)">Estrellas: Mayor a Menor</a></li>
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="FiltrarEstrella(2)">Estrellas: Menor a Mayor</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3 m-0 p-0 pl-5">
            <div class="row p-0 m-0">
                <div class="col-12 m-0 p-0">
                    <div class="btn-group box-shadow m-0 p-0">
                        <label class="pl-4 pr-4 pt-2 text-vista">Tipo de vista</label>
                        <button class="btn btn-danger" btnCheckbox tabindex="0" role="button" (click)="MostrarListado()"><i class="fas fa-list"></i></button>
                        <button class="btn btn-danger" btnCheckbox tabindex="0" role="button" (click)="MostrarMapa()"><i class="fas fa-map-marker-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>