<ng-container>

    <app-header>
        <div class="row m-0 p-0">
            <div class="col-2 m-0 p-0">
            </div>
            <div class="col-8 m-0 p-0 pt-5">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0">
                        <span class="atras"> < Volver atras</span>
                    </div>
                </div>
                <div class="row m-0 p-0 pb-3">
                    <div class="col-12 m-0 p-0">
                        <span class="solo">Solo te falta este paso</span>
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-8 m-0 p-0 pr-4">
                        <app-pago (outNumTarjeta)="setNumTarjeta($event)" (outVencimiento)="setFechVencimiento($event)" (outTitular)="setTitular($event)" (outCodSeguridad)="setCodSeguridad($event)" (outNomTarjeta)="setNombreTarjeta($event)"></app-pago>
                        <app-titulares-reserva (outTelefono)="setTelefono($event)" (outCorreo)="setCorreo($event)"></app-titulares-reserva>
                        <app-contacto></app-contacto>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 text-center">
                                <button class="btn btn-danger" (click)="getPnrHotel()" style="width: 200px;">
                                    <span class="lblSelecciona">
                                        Comprar
                                    </span>          
                                </button>
                                <ng-template #template>
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Modal</h4>
                                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalref.hide()">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                    <div class="modal-body">
                                        <span>{{Reserva.oerror.message}}</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                    <div class="col-4 m-0 p-0 pl-4 box-shadow pl-3 pr-3">
                        <app-detalle-pago></app-detalle-pago>
                        <app-detalle-compra></app-detalle-compra>

                        <div class="row m-0 p-0">
                            <div class="tituPoli col-12 m-0 p-0 pt-4" style="text-align: center;">
                                <span style="border-bottom: 1px solid #ED1C24">Politicas y Condiciones</span>
                            </div>
                        </div>
                        <div *ngIf="lstConfirmacion.oroom.lcancelPenalties.length > 0 && lstConfirmacion.oroom.lcancelPenalties != null" class="row m-0 p-0 pt-3">
                            <div *ngIf="lstConfirmacion.oroom.lcancelPenalties[0].deadline != null && lstConfirmacion.oroom.lcancelPenalties[0].deadline != '' " class="col-12 m-0 p-0">
                                <span class="info">✓ Se puede cancelar hasta el {{lstConfirmacion.oroom.lcancelPenalties[0].deadline}}</span>
                            </div>
                        </div>
                        <div *ngIf="lstConfirmacion.oroom.lcancelPenalties.length > 0 && lstConfirmacion.oroom.lcancelPenalties != null " class="row m-0 p-0">
                            <div *ngIf="lstConfirmacion.oroom.lcancelPenalties[0].nonRefundable === false" class="col-12 m-0 p-0">
                                <span class="info">✓ No Reembolsable <img style="width: 50px;" src="assets/images/no-money.png"></span>
                            </div>
                            <div *ngIf="lstConfirmacion.oroom.lcancelPenalties[0].nonRefundable === true" class="col-12 m-0 p-0">
                                <span class="info">✓ Reembolsable <img src="assets/images/money.png"></span>
                            </div>
                            <div *ngIf="lstConfirmacion.oroom.lcancelPenalties[0].description != null && lstConfirmacion.oroom.lcancelPenalties[0].description != '' " class="col-12 m-0 p-0">
                                <span class="info">✓ {{lstConfirmacion.oroom.lcancelPenalties[0].description}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 m-0 p-0">

            </div>

        </div>

    </app-header>

</ng-container>