<div class="m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0 pt-4">
            <div class="row m-0 p-0 box-shadow pt-4 pb-5">
                <span class="txtPoliticas">Políticas Infringidas</span>

                <div class="row m-0 p-0" *ngFor="let item of LPolicies">
                    <div class="txtDias col-12 m-0 p-0 pb-1 pt-4 pr-2">
                        <img class="m-0 p-0 pl-5" style="width: 80px;" src="assets/images/calendario.svg"><label class="txtDias m-0 p-0 pl-3">{{item.name}}</label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">

                            <div class="txtInfraccion col-8 m-0 p-0 pt-4 pb-3 pl-5">Infracción</div>
                            <div class="txtInfraccion col-4 m-0 p-0 pt-4 pb-3">Impacto</div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-8 m-0 p-0 pr-4 pb-1 pl-5">
                                <div class="row m-0 p-0 box-shadow pr-5 pl-2">
                                    <div class="txtDescripcion col-12 m-0 p-0 pt-3 pb-3 pl-3">
                                        {{item.message}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 m-0 p-0 pr-5">
                                <div class="row m-0 p-0 box-shadow">
                                    <div class="txtImpacto col-12 m-0 p-0 pb-4 pt-4 text-center" *ngIf="item.impact != 0">
                                        <span class="txtCurrency m-0 p-0">
                                                                   {{Currency}}
                                                                </span>
                                        <span class="txtAmount m-0 p-0">{{item.impact}}</span>
                                    </div>
                                    <div class="txtImpacto col-12 m-0 p-0 pb-4 pt-4 text-center" *ngIf="item.impact === 0">
                                        No hay impacto
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0" *ngIf="lsapprovers.length > 0">
                    <div class="col-12 m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-5">
                            <span class="spanAutorizador">Autorizadores</span>
                        </div>
                        <label class="txtApro pl-5 pt-4">(Las personas en la siguiente lista se encargaran de revisar su solicitud y gestionarla .)</label>
                    </div>
                    <div class="col-12 m-0 p-0" *ngIf="tipo == 1">
                        <div *ngFor="let item of lsapprovers" class="row m-0 p-0 pl-5">
                            <div class="col-4 m-0 p-0 pr-3">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 pt-3">
                                        <label class="txtDescripcion">Nombre:</label>
                                    </div>
                                </div>
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 box-shadow input-pasajero text-center">
                                        {{item.firstName}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 m-0 p-0 pr-3">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 pt-3">
                                        <label class="txtDescripcion">Apellidos:</label>
                                    </div>
                                </div>
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 box-shadow input-pasajero text-center">
                                        {{item.lastName}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 pt-3">
                                        <label class="txtDescripcion">Email:</label>
                                    </div>
                                </div>
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 pr-4 box-shadow input-pasajero text-center">
                                        {{item.email}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0 pl-4 pt-2" *ngIf="tipo == 2">
                        <table class="tabla">
                            <thead class="cabecera-tabla">
                                <tr>
                                    <th>N°</th>
                                    <th>Nombres</th>
                                    <th>Correo</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr *ngFor="let item of lsapprovers; let i = index">
                                    <td>#{{i + 1}}</td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.ostatus.description}}</td>
                                    <td *ngIf="item.ostatus.id === 1"><img src="assets/images/img-validation/pendiente.svg"></td>
                                    <td *ngIf="item.ostatus.id === 2"><img src="assets/images/img-validation/aprobado.svg"></td>
                                    <td *ngIf="item.ostatus.id === 3"><img src="assets/images/img-validation/rechazado.svg"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>