<ng-container>
  <app-header>
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 pt-5"></div>

      <div class="col-12 m-0 p-0 pl-5 pr-5 pb-5">
        <div class="row m-0 p-0">
          <div class="col-3 m-0 p-0"></div>

          <div
            class="col-6 m-0 p-0 text-center"
            style="
              background: #f5fbf6 0% 0% no-repeat padding-box;
              border: 1px solid #40b23d;
              border-radius: 20px 0px;
              opacity: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 51px !important;
            "
          >
            <img class="pr-3" src="./assets/images/autos/Ok.svg" alt="" />
            <span class="frc-test1 pr-1">¡Felicitaciones!</span>
            <span class="frc-test2"
              >tu reserva ha sido completada con exito.</span
            >
          </div>

          <div class="col-3 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pb-5">
        <div class="row m-0 p-0">
          <div class="col-4 m-0 p-0"></div>
          <div
            class="col-4 m-0 p-0"
            style="
              background: #fdfdfd 0% 0% no-repeat padding-box;
              border: 1px solid #e2e2e2;
              border-radius: 20px 0px;
              opacity: 1;
            "
          >
            <div class="row m-0 p-0 pt-4">
              <div
                class="col-12 m-0 p-0 text-center frc-test3"
                style="
                  background: transparent
                    linear-gradient(
                      97deg,
                      #ed1c24 0%,
                      #d51a2c 34%,
                      #3c4749 100%
                    )
                    0% 0% no-repeat padding-box;
                  opacity: 1;
                "
              >
                Tu reserva
              </div>

              <div class="col-12 m-0 p-0 pt-4 text-center frc-test4">
                Numero de Reserva:
                <span class="frc-test5">{{
                  confirma_reserva_alq.ovoucher.pnr
                }}</span>
              </div>

              <div class="col-12 m-0 p-0 pt-3 pb-4 text-center frc-test4">
                Titular:
                <span class="frc-test5"
                  >{{ confirma_reserva_alq.opassenger.name }}
                  {{ confirma_reserva_alq.opassenger.lastName }}</span
                >
              </div>

              <div class="col-12 m-0 p-0"></div>

              <div class="col-12 m-0 p-0"></div>

              <div class="col-12 m-0 p-0"></div>
            </div>
          </div>
          <div class="col-4 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pb-5">
        <div class="row m-0 p-0">
          <div class="col-1 m-0 p-0"></div>

          <div
            class="col-10 m-0 p-0"
            style="
              background: #fdfdfd 0% 0% no-repeat padding-box;
              border: 1px solid #e2e2e2;
              border-radius: 20px 0px;
              opacity: 1;
            "
          >
            <div class="row m-0 p-0 pt-4 pb-4">
              <div class="col-12 m-0 p-0"></div>

              <div
                class="col-4 m-0 p-0 text-center frc-test3"
                style="
                  background: transparent
                    linear-gradient(
                      99deg,
                      #ed1c24 0%,
                      #d51a2c 34%,
                      #3c4749 100%
                    )
                    0% 0% no-repeat padding-box;
                  border: 1px solid #e2e2e2;
                  border-radius: 0px 23px 23px 0px;
                  opacity: 1;
                "
              >
                Detalle des la reserva
              </div>

              <div class="col-12 m-0 p-0 pt-4 pl-5 pr-5">
                <div class="row m-0 p-0">
                  <div class="col-6 m-0 p-0">
                    <div class="row m-0 p-0">
                      <div class="col-12 m-0 p-0 frc-test6">
                        <img
                          class="pr-1"
                          src="./assets/images/autos/calendario.svg"
                          alt=""
                        />
                        FECHA DE RECOJO:
                        <span class="pl-1 frc-test7">{{
                          confirma_reserva_alq.otimeLocation.pickUpDate
                        }}</span>
                      </div>

                      <div class="col-12 m-0 p-0 frc-test6">
                        <img
                          class="pr-1"
                          src="./assets/images/autos/hora.svg"
                          alt=""
                        />
                        HORA DE RECOJO:
                        <span class="pl-1 frc-test7">{{
                          confirma_reserva_alq.otimeLocation.pickUpHour
                        }}</span>
                      </div>

                      <div class="col-12 m-0 p-0 frc-test6">
                        <img
                          class="pr-1"
                          src="./assets/images/autos/marcador.svg"
                          alt=""
                        />
                        LUGAR DE RECOJO:
                        <span class="pl-1 frc-test7">{{
                          confirma_reserva_alq.otimeLocation.pickUpAddress
                        }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 m-0 p-0">
                    <div class="row m-0 p-0">
                      <div class="col-12 m-0 p-0 frc-test6">
                        <img
                          class="pr-1"
                          src="./assets/images/autos/calendario.svg"
                          alt=""
                        />
                        FECHA DE DEVOLUCION:
                        <span class="pl-1 frc-test7">{{
                          confirma_reserva_alq.otimeLocation.dropOffDate
                        }}</span>
                      </div>

                      <div class="col-12 m-0 p-0 frc-test6">
                        <img
                          class="pr-1"
                          src="./assets/images/autos/hora.svg"
                          alt=""
                        />
                        HORA DE DEVOLUCION:
                        <span class="pl-1 frc-test7">{{
                          confirma_reserva_alq.otimeLocation.dropOffHour
                        }}</span>
                      </div>

                      <div class="col-12 m-0 p-0 frc-test6">
                        <img
                          class="pr-1"
                          src="./assets/images/autos/marcador.svg"
                          alt=""
                        />
                        LUGAR DE DEVOLUCION:
                        <span class="pl-1 frc-test7">{{
                          confirma_reserva_alq.otimeLocation.dropOffAddress
                        }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 m-0 p-0 pt-4"></div>

              <div class="col-12 m-0 p-0"></div>

              <div class="col-12 m-0 p-0"></div>
            </div>
          </div>

          <div class="col-1 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-1 m-0 p-0"></div>

          <div class="col-10 m-0 p-0">
            <div class="row m-0 p-0">
              <div
                class="col-8 m-0 p-0"
                style="
                  background: #fdfdfd 0% 0% no-repeat padding-box;
                  border: 1px solid #e2e2e2;
                  border-radius: 20px 0px;
                  opacity: 1;
                "
              >
                <div class="row m-0 p-0">
                  <div class="col-12 m-0 p-0 pt-4"></div>

                  <div
                    class="col-5 m-0 p-0 text-center frc-test3"
                    style="
                      background: transparent
                        linear-gradient(
                          99deg,
                          #ed1c24 0%,
                          #d51a2c 34%,
                          #3c4749 100%
                        )
                        0% 0% no-repeat padding-box;
                      border: 1px solid #e2e2e2;
                      border-radius: 0px 23px 23px 0px;
                      opacity: 1;
                    "
                  >
                    Detalles del auto
                  </div>

                  <div class="col-12 m-0 p-0 pt-4"></div>

                  <div class="col-12 m-0 p-0 pl-3">
                    <div class="row m-0 p-0">
                      <div class="col-3 m-0 p-0">
                        <div class="row m-0 p-0">
                          <div class="col-12 m-0 p-0 frc-test8">
                            {{ confirma_reserva_alq.ocarInfo.model }}
                          </div>
                        </div>
                      </div>

                      <div class="col-3 m-0 p-0">
                        <div class="row m-0 p-0">
                          <div
                            class="col-12 m-0 p-0 text-center frc-test9"
                            style="
                              background: #ffffff 0% 0% no-repeat padding-box;
                              border: 1px solid #0090ff;
                              border-radius: 6px 0px;
                              opacity: 1;
                            "
                          >
                            {{ confirma_reserva_alq.ocarInfo.category }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 pt-2 pb-4 pl-3">
                    <div class="row m-0 p-0">
                      <div
                        class="col-6 m-0 p-0"
                        style="
                          border: 1px solid #707070;
                          opacity: 0.24;
                          height: 2px !important;
                        "
                      ></div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 pl-3">
                    <div class="row m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <div class="row m-0 p-0">
                          <div class="col-6 m-0 p-0">
                            <div class="row m-0 p-0">
                              <div
                                *ngIf="
                                  confirma_reserva_alq.ocarInfo.doors !== null
                                "
                                class="col-12 m-0 p-0 frc-test5"
                              >
                                {{ confirma_reserva_alq.ocarInfo.doors }} Doors
                              </div>

                              <div class="col-12 m-0 p-0 frc-test5">
                                {{ confirma_reserva_alq.ocarInfo.passengers }}
                                Passengers
                              </div>

                              <div class="col-12 m-0 p-0 frc-test5">
                                {{
                                  confirma_reserva_alq.ocarInfo.bags
                                    | validarEntero
                                }}
                                Large bags
                              </div>

                              <div class="col-12 m-0 p-0 frc-test5">
                                {{
                                  confirma_reserva_alq.ocarInfo.bags
                                    | slice: 0:1
                                }}
                                Small bag
                              </div>

                              <div
                                *ngIf="
                                  confirma_reserva_alq.ocarInfo.airConditioner
                                "
                                class="col-12 m-0 p-0 frc-test5"
                              >
                                Air Conditioning
                              </div>

                              <div class="col-12 m-0 p-0 frc-test5">
                                {{ confirma_reserva_alq.ocarInfo.type }}
                              </div>

                              <div class="col-12 m-0 p-0 frc-test5">
                                <img
                                  class="img-fuild"
                                  [src]="confirma_reserva_alq.ocompany.image"
                                  alt=""
                                />
                                {{ confirma_reserva_alq.ocompany.name }}
                              </div>

                              <div class="col-12 m-0 p-0 frc-test5"></div>
                            </div>
                          </div>

                          <div
                            class="col-6 m-0 p-0 img-fluid"
                            style="
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            "
                          >
                            <img
                              [src]="carSelect.oinformation.ocarInfo.image"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-6 m-0 p-0 pr-3">
                        <div
                          class="row m-0 p-0"
                          style="
                            background: #fffbfb 0% 0% no-repeat padding-box;
                            border: 1px solid #f1f1f1;
                            border-radius: 15px 0px;
                            opacity: 1;
                          "
                        >
                          <div class="col-12 m-0 p-0">
                            <span class="pr-2 frc-test10">
                              Tarifa seleccionada:
                            </span>
                            <span class="frc-test11">
                              {{ confirma_reserva_alq.ocarInfo.orate.name }}
                            </span>
                          </div>

                          <div
                            *ngFor="
                              let inclusion of confirma_reserva_alq.ocarInfo
                                .orate.inclusions
                            "
                            class="col-12 m-0 p-0"
                          >
                            <span class="pr-2 frc-test10">
                              {{ inclusion }}:
                            </span>
                            <span class="frc-test11"> Si </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 pt-4"></div>

                  <div class="col-12 m-0 p-0"></div>

                  <div class="col-12 m-0 p-0"></div>

                  <div class="col-12 m-0 p-0"></div>

                  <div class="col-12 m-0 p-0"></div>

                  <div class="col-12 m-0 p-0"></div>
                </div>
              </div>

              <div class="col-4 m-0 p-0 pl-3">
                <div
                  class="row m-0 p-0"
                  style="
                    background: #fdfdfd 0% 0% no-repeat padding-box;
                    border: 1px solid #e2e2e2;
                    border-radius: 20px 0px;
                    opacity: 1;
                  "
                >
                  <div class="col-12 m-0 p-0 pt-4"></div>

                  <div
                    class="col-6 m-0 p-0 text-center frc-test3"
                    style="
                      background: transparent
                        linear-gradient(
                          99deg,
                          #ed1c24 0%,
                          #d51a2c 34%,
                          #3c4749 100%
                        )
                        0% 0% no-repeat padding-box;
                      border: 1px solid #e2e2e2;
                      border-radius: 0px 23px 23px 0px;
                      opacity: 1;
                    "
                  >
                    Detalles de la tarifa
                  </div>

                  <div class="col-12 m-0 p-0 pt-4 pl-4">
                    <div class="row m-0 p-0">
                      <div class="col-6 m-0 p-0 frc-test11">TIPO DE PAGO:</div>
                      <div class="col-6 pl-3 m-0 p-0 frc-test11">
                        {{ confirma_reserva_alq.oprice.paymentType }}
                      </div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 pt-3 pl-4">
                    <div class="row m-0 p-0">
                      <div class="col-6 m-0 p-0 frc-test11">TARIFA:</div>
                      <div class="col-6 pl-3 m-0 p-0 frc-test11">
                        <span class="pr-1 frc-test13">
                          {{ confirma_reserva_alq.oprice.currency }}
                        </span>
                        <span class="frc-test14">
                          {{ confirma_reserva_alq.oprice.voucherAmount }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 frc-test11 pt-3 pl-4">
                    IMPUESTOS Y SOBRECARGOS:
                  </div>

                  <div class="col-12 m-0 p-0 pt-2 pl-4">
                    <div class="row m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <div
                          class="row m-0 p-0"
                          style="
                            background: #ffffff 0% 0% no-repeat padding-box;
                            border: 1px solid #ff8800;
                            border-radius: 5px;
                            opacity: 1;
                          "
                        >
                          <div
                            class="m-0 p-0"
                            style="
                              width: 10% !important;
                              background: #ff8800 0% 0% no-repeat padding-box;
                              border: 1px solid #ff8800;
                              border-radius: 5px 0px 0px 5px;
                              opacity: 1;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            "
                          >
                            <img
                              src="./assets/images/autos/informacion_v4.svg"
                              alt=""
                            />
                          </div>

                          <div
                            class="m-0 p-0 frc-test12 text-center"
                            style="width: 90% !important"
                          >
                            Pago en el mostrador
                          </div>
                        </div>
                      </div>

                      <div class="col-6 pl-3 m-0 p-0">
                        <span class="pr-1 frc-test13">
                          {{ confirma_reserva_alq.oprice.currency }}
                        </span>
                        <span class="frc-test14">
                          {{ confirma_reserva_alq.oprice.taxAmount }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 pt-3 pb-3">
                    <div class="row m-0 p-0">
                      <div
                        class="col-12 m-0 p-0"
                        style="
                          border: 1px solid #707070;
                          opacity: 0.28;
                          height: 2px;
                        "
                      ></div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 pl-4">
                    <div class="row m-0 p-0">
                      <div class="col-6 m-0 p-0 frc-test15">PRECIO TOTAL:</div>

                      <div class="col-6 m-0 p-0">
                        <span class="pr-1 frc-test16">
                          {{ confirma_reserva_alq.oprice.currency }}
                        </span>
                        <span class="frc-test17">
                          {{ confirma_reserva_alq.oprice.rateAmount }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 m-0 p-0 pt-4"></div>

                  <div class="col-12 m-0 p-0"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-1 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pt-5">
        <div class="row m-0 p-0">
          <div class="col-1 m-0 p-0"></div>
          <div class="col-10 m-0 p-0 frc-test18">Regulaciones y Condiciones</div>
          <div class="col-1 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pb-4">
        <div class="row m-0 p-0">
          <div class="col-1 m-0 p-0"></div>
          <div class="col-10 m-0 p-0 fondo-rojo-tri" style="height: 2px"></div>
          <div class="col-1 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pb-4">
        <div class="row m-0 p-0">
          <div class="col-1 m-0 p-0"></div>
          <div
            class="col-10 m-0 p-0"
            style="
              background: #fdfdfd 0% 0% no-repeat padding-box;
              box-shadow: -1px 2px 6px #00000029;
              border-radius: 20px 0px;
              opacity: 1;
            "
          >
            <div class="row m-0 p-0">
              <div
                class="col-12 m-0 p-0 pl-3 frc-test19"
                style="
                  background: #fbf6f6 0% 0% no-repeat padding-box;
                  border-radius: 20px 0px 0px 0px;
                  opacity: 1;
                  height: 50px !important;
                  display: flex;
                  align-items: center;
                "
              >
                ¿Qué me exigen para alquilar un vehículo?
              </div>

              <div class="col-12 m-0 p-0 pl-3 pr-3 pt-3 frc-test20">
                Ser adulto mayor de 25 años y menor de 75 años Pasaporte vigente
                o Documento Nacional de Identidad Licencia de Conducción Vigente
                (Nacional o Extranjera) de todas las personas que van a conducir
                el vehículo con antigüedad de mínimo 1 año. En caso que la
                Licencia de Conducción no esté en alfabeto romano, se deberá
                presentar un  Permiso Internacional de conducción.
              </div>

              <div class="col-12 m-0 p-0 pl-3 pr-3 pt-3 pb-4 frc-test20">
                Tarjeta de Crédito como garantía/depósito del Contrato de
                Alquiler,  con cupo disponible de USD 800 a USD 1.500 al momento
                de recoger el vehículo.  El depósito será desbloqueado al
                finalizar el periodo de alquiler, siempre y cuando el vehículo
                sea devuelto en las mismas condiciones a como fue
                entregado. Tener en cuenta que: debido a las fluctuaciones en la
                tasa de cambio y otras posibles tasas administrativas bancarias,
                la compañía de alquiler ni Alkilautos.com se harán responsables
                de ninguna diferencia existente entre el monto pagado y el
                reembolsado.
              </div>

              <div class="col-12 m-0 p-0"></div>

              <div class="col-12 m-0 p-0"></div>
            </div>
          </div>
          <div class="col-1 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pb-4">
        <div class="row m-0 p-0">
          <div class="col-1 m-0 p-0"></div>
          <div
            class="col-10 m-0 p-0"
            style="
              background: #fdfdfd 0% 0% no-repeat padding-box;
              box-shadow: -1px 2px 6px #00000029;
              border-radius: 20px 0px;
              opacity: 1;
            "
          >
            <div class="row m-0 p-0">
              <div
                class="col-12 m-0 pl-3 p-0 frc-test19"
                style="
                  background: #fbf6f6 0% 0% no-repeat padding-box;
                  border-radius: 20px 0px 0px 0px;
                  opacity: 1;
                  height: 50px !important;
                  display: flex;
                  align-items: center;
                "
              >
                ¿Medios de Pago para pagar el alquiler?
              </div>

              <div class="col-12 m-0 p-0 pl-3 pr-3 pt-3 frc-test20">
                El pago del alquiler de tu vehículo debe realizarse únicamente
                en tarjeta crédito. La tarjeta de crédito debe estar a nombre de
                quien realizó la reserva y debe tener cupo suficiente para
                cubrir el depósito que te bloquearán hasta que finalice el
                alquiler. Con la misma tarjeta deberás pagar los impuestos
                locales, servicios adicionales o cualquier otro recargo
                contratado.
              </div>

              <div class="col-12 m-0 p-0 pl-3 pr-3 pt-3 pb-4 frc-test20">
                No se acepta efectivo ó tarjeta débito en la agencia al recoger
                el vehículo. Tampoco se aceptan tarjetas de crédito prepagadas,
                virtuales o sin relieve.
              </div>

              <div class="col-12 m-0 p-0"></div>

              <div class="col-12 m-0 p-0"></div>

              <div class="col-12 m-0 p-0"></div>
            </div>
          </div>
          <div class="col-1 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pb-4">
        <div class="row m-0 p-0">
          <div class="col-1 m-0 p-0"></div>
          <div
            class="col-10 m-0 p-0"
            style="
              background: #fdfdfd 0% 0% no-repeat padding-box;
              box-shadow: -1px 2px 6px #00000029;
              border-radius: 20px 0px;
              opacity: 1;
            "
          >
            <div class="row m-0 p-0">
              <div
                class="col-12 m-0 p-0 pl-3 frc-test19"
                style="
                  background: #fbf6f6 0% 0% no-repeat padding-box;
                  border-radius: 20px 0px 0px 0px;
                  opacity: 1;
                  height: 50px !important;
                  display: flex;
                  align-items: center;
                "
              >
                Importante para tener en cuenta:
              </div>

              <div class="col-12 m-0 p-0 pl-3 pr-3 pt-3 frc-test20">
                Cupo de Garantía/Depósito tomado de la tarjeta de crédito: El
                cupo de la Tarjeta de crédito es para avalar la garantía, esta
                suma permanecerá congelada durante el tiempo de alquiler del
                vehículo. Al finalizar el servicio se solicita el desbloqueo del
                cupo a la franquicia correspondiente.
              </div>

              <div class="col-12 m-0 p-0 pl-3 pr-3 pt-3 pb-4 frc-test20">
                Tarjetas de Crédito NO aceptadas para pago en agencia ó creación
                de deposito: La rentadora NO acepta tarjetas  prepago, virtuales
                ó cualquier otro tipo de tarjeta que no tenga los números o
                estampado en relieve para la creación de la garantía. Tarjetas
                de Crédito Marca propia de cualquier establecimiento no
                bancario, NO son aceptadas, excepto que cuenten con las
                franquicias mundiales como VISA, Mastercard, American Express ó
                Diners. Aplican condiciones y restricciones. Por favor referirse
                a las políticas de la rentadora directamente.
              </div>

              <div class="col-12 m-0 p-0"></div>
            </div>
          </div>
          <div class="col-1 m-0 p-0"></div>
        </div>
      </div>

      <div class="col-12 m-0 p-0 pb-4"></div>

      <div class="col-12 m-0 p-0 pb-4"></div>

      <div class="col-12 m-0 p-0"></div>

      <div class="col-12 m-0 p-0"></div>
    </div>
  </app-header>
</ng-container>
