.frc-test1
  color: #40B23D
  font-size: 16px
  font-family: Omnes-med

.frc-test2
  color: #000000
  font-size: 16px
  font-family: Omnes-med

.frc-test3
  color: #FFFFFF
  font-size: 19px
  font-family: Omnes-med

.frc-test4
  color: #ED1C24
  font-size: 19px
  font-family: Omnes-med

.frc-test5
  color: #000000
  font-size: 19px
  font-family: Omnes-med

.frc-test6
  color: #ED1C24
  font-size: 15px
  font-family: Omnes-med

.frc-test7
  color: #000000
  font-size: 15px
  font-family: Omnes-med

.frc-test8
  color: #ED1C24
  font-size: 20px
  font-family: Omnes-med

.frc-test9
  color: #0090FF
  font-size: 15px
  font-family: Omnes-med

.frc-test10
  color: #ED1C24
  font-size: 18px
  font-family: Omnes-med

.frc-test11
  color: #000000
  font-size: 18px
  font-family: Omnes-med

.frc-test12
  color: #FF8800
  font-size: 16px
  font-family: Omnes-med

.frc-test13
  color: #000000
  font-size: 23px
  font-family: Omnes-med

.frc-test14
  color: #000000
  font-size: 30px
  font-family: Omnes-med

.frc-test15
  color: #ED1C24
  font-size: 24px
  font-family: Omnes-med

.frc-test16
  color: #000000
  font-size: 25px
  font-family: Omnes-med

.frc-test17
  color: #000000
  font-size: 35px
  font-family: Omnes-med

.frc-test18
  color: #676767
  font-size: 24px
  font-family: Omnes-med

.frc-test19
  color: #676767
  font-size: 20px
  font-family: Omnes-med

.frc-test20
  color: #676767
  font-size: 16px
  font-family: Omnes-med
