.slider-price
  width: 90%

.v-btn-buscar
  color: white
  background-color: #ED1C24
  font-family: Omnes-med
  font-size: 16px
  width: 100%  

.txt-precio
  font-family: Omnes-med
  font-size: 18px
  color: #3D3D3D

.input-price
  outline: none 
  border: 0
  width: 100% !important  
  text-align: center
  color: #3D3D3D
  font-family: Omnes-med

.txt-min
  font-family: Omnes-med
  color: #898989

.txt-max
  font-family: Omnes-med
  color: #898989

.price
  color: #6B253C
  font-family: Omnes-med
  
.txt-rango
  font-family: Omnes-med
  color: #3D3D3D