<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 text-center text-info1">
                ¿Listo para viajar?
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 text-center text-info2">
                Estas a un paso de viajar ¿Deseas sólo reservar o comprar el vuelo?
            </div>
        </div>
        <div class="row m-0 p-0 pt-5 pl-5">
            <div class="col-12 m-0 p-0">
                <span class="pr-3"><img class="img-airplane" src="/assets/images/home/airplane_rojo.svg"></span>
                <span class="text-info3">Mi Vuelo</span>
            </div>
        </div>

        <div class="row m-0 p-0 pl-5 pr-5 pt-3">
            <div class="col-9 m-0 p-0 pr-3">
                <app-vuelo-section [tipo]='1' *ngFor="let section of LSection" [section]="section"></app-vuelo-section>
            </div>
            <div class="col-3 m-0 p-0 contenedor-form">
                <div class="col-12 m-0 p-0">
                    <div class="row m-0 p-0 justify-content-center align-items-center">
                        <div class="col-12 m-0 p-0">
                            <div class="row m-0 p-0">
                                <div class="col-6 m-0 p-0 pt-3">
                                    <span class="div-price">Precio Final</span>
                                </div>
                                <div class="col-6 m-0 p-0 text-right pr-4 pt-2">
                                    <span class="pr-4"><img src="./assets/images/medalla.svg"></span>
                                    <span *ngIf="Lpolicies.length > 0" class="circulo-politica"></span>
                                    <span *ngIf="Lpolicies.length === 0" class="circulo-politica1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-0 p-0">
                            <div class="row m-0 p-0">
                                <div class="col-12 text-right m-0 p-0 pr-5 pt-4">
                                    <span class="currency">{{currency}}</span>
                                    <span class="price pl-2">{{preciototal}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-0 p-0">
                            <div class="row m-0 p-0">
                                <div class="col-12 text-center m-0 p-0 pr-3">
                                    <span class="text-precio pr-2">Precio por adulto</span>
                                    <span class="currency1 pl-2">{{currency}}</span>
                                    <span class="price1 pl-1">{{precioadulto}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0 pb-4 pt-5">
            <div class="col-8 m-0 p-0 pl-5 pr-5">
                <div class="row p-0 m-0 pb-4">
                    <div class="col-12 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 pb-3">
                                <span class="pr-3"><img class="pb-2" src="/assets/images/pasajero.svg"></span>
                                <span class="text-info4">Pasajeros</span>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="m-0 p-0 d-flex justify-content-center align-items-center text-form1">
                                Nombre
                            </div>
                            <div class="m-0 p-0 div-input">
                                <input class="input-pasajero" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 m-0 p-0 pl-5">
                <div class="row p-0 m-0">
                    <div class="col-12 m-0 p-0">
                        <span class="pr-3 pb-2"><img class="img-equipaje pb-2" src="/assets/images/equipaje_rojo.svg"></span>
                        <span class="text-info4">Equipaje</span>
                    </div>
                    <div class="col-12 m-0 p-0 pb-4">
                        <span class="text-infobag">Este vuelo permite una maleta de 23k</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0 pl-5 pr-5 pb-4">
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 text-form pb-3">
                        <span class="pr-3"><img src="/assets/images/periodico.svg"></span>
                        <span>Regulaciones</span>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <textarea class="area"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-0 p-0 pb-5">
            <div class="col-6 m-0 p-0 text-right pr-5">
                <button class="btn btn-confirm" (click)="AddPassenger()">Solo Reservar</button>
            </div>
            <div class="col-6 m-0 p-0 pl-5">
                <button class="btn btn-emitir">Emitir Boleto</button>
            </div>
        </div>
    </div>
</div>