.title
    text-align: left
    font-family: Omnes-med
    letter-spacing: 0
    color: #828282
    opacity: 1
    font-size: 15px
    text-transform: uppercase

.titulo
    font-family: Omnes-med
    letter-spacing: 0
    color: #828282
    opacity: 1
    font-size: 29px
    border-bottom: 1px solid


.tituloModal
    font-family: Omnes-med
    letter-spacing: 0
    color: #828282
    opacity: 1
    font-size: 23px
    border-bottom: 1px solid

.titulo1
    font-family: Omnes-med
    letter-spacing: 0
    color: #828282
    opacity: 1
    font-size: 19px