<div class="m-0 p-0 pt-5 pr-5">
    <div class="col-12 m-0 p-0 contenedor-form">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 title-form pt-3 pb-3 pl-5">
                PERSONA DE CONTACTO
            </div>
            <div class="col-12 m-0 p-0 pt-3">
                <div class="row m-0 p-0 pb-3">
                    <div class="col-6 m-0 p-0 pl-4 pr-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Nombre:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 m-0 p-0 pr-5 pl-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Telefono:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input (keydown)="ValidarSoloNumero($event)" class="input-pasajero" type="number" id="contactotelefono" maxlength="12" (keypress)="ValidarCampos()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0 pb-4">
                    <div class="col-6 m-0 p-0 pl-4 pr-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Correo:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <input class="input-pasajero" type="text" id="contactocorreo" maxlength="100" (keypress)="ValidarCampos()">
                                <div *ngIf="inderror" class="pt-2" style="color: #ED1C24;">La direccion de correo es invalida</div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-6 m-0 p-0 pr-5 pl-4">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 label-pasajero">
                                <label for="">Perfil:</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <select class="input-pasajero" type="text" id="">
                                    <option value="{{item.id}}" *ngFor="let item of lsCostCenter">{{item.name}}</option>
                                    </select>
                            </div>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</div>
