

.ff-text-1
  font-family: Omnes-med
  font-size: 22px
  color: #676767

.ff-text-2
  font-family: Omnes-med
  font-size: 15px
  color: #898989

.ff-text-3
  font-family: Omnes-med
  font-size: 22px
  color: #898989

.ff-text-4
  font-family: Omnes-med
  font-size: 15px
  color: #676767

.ff-text-5
  font-family: Omnes-med
  font-size: 13px
  color: #898989

.div-height
  display: flex
  text-align: center
  justify-content: center
  align-items: center
