




<div class="row m-0 p-0">

  <div class="col-3 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-2 m-0 p-0">
        <img src="" alt="">
      </div>
      <div class="col-10 m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-12 m-0 p-0">
            Ida
          </div>
          <div class="col-12 m-0 p-0">
            {{familia.departureDateShow}}
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 p-0"></div>
  </div>

  <div class="col-3 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0">{{familia.origin}}</div>
      <div class="col-12 m-0 p-0">{{familia.airportOrigin}}</div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0">{{familia.timeOfDepartureShow}}</div>
    </div>
  </div>

  <div class="col-2 m-0 p-0">
    <div class="row m-0 p-0"></div>

    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0">
        {{familia.numberScales}}
      </div>
    </div>
  </div>

  <div class="col-4 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0">{{familia.destination}}</div>
      <div class="col-12 m-0 p-0">{{familia.airportDestination}}</div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-4 m-0 p-0">{{familia.timeOfArrivalShow}}</div>
      <div class="col-4 m-0 p-0">{{familia.totalFlightTimeShow}}</div>
      <div class="col-4 m-0 p-0">
        <img src="" alt="">
      </div>
    </div>
  </div>

</div>
