



<!--
<div class="row m-0 p-0 pb-3" style="width: 100%;">

  <div class="col-1 m-0 p-0"></div>

  <div class="col-3 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-2 m-0 p-0">
        <img src="./assets/images/{{imgIdaVuelta}}" alt="">
      </div>
      <div class="col-10 m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-12 m-0 p-0 ff-text-1">
            {{textoTipo}}
          </div>
          <div class="col-12 m-0 p-0 ff-text-2">
            {{familia.departureDateShow}}
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 p-0"></div>
  </div>

  <div class="col-2 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 ff-text-1">{{familia.origin}}</div>
      <div class="col-12 m-0 p-0 ff-text-2" >{{familia.airportOrigin}}</div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 ff-text-3">{{familia.timeOfDepartureShow}}</div>
    </div>
  </div>

  <div class="col-2 m-0 p-0">
    <div class="row m-0 p-0" style="height: 40px;"></div>

    <div class="row m-0 p-0">
      <div *ngIf="familia.numberScales>0" class="col-12 m-0 p-0 ff-text-5 text-center">
        {{familia.numberScales}} escala(s)
      </div>

      <div *ngIf="familia.numberScales===0" class="col-12 m-0 p-0 ff-text-5 text-center">
        Directo
      </div>

      <div *ngIf="familia.numberScales>0" class="col-12 m-0 p-0 text-center">
        <img src="./assets/images/home/escala.png" alt="">
      </div>

      <div *ngIf="familia.numberScales===0" class="col-12 m-0 p-0 text-center">
        <img src="./assets/images/home/directo.png" alt="">
      </div>
    </div>
  </div>

  <div class="col-4 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 ff-text-1">{{familia.destination}}</div>
      <div class="col-12 m-0 p-0 ff-text-2">{{familia.airportDestination}}</div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-4 m-0 p-0 ff-text-3">{{familia.timeOfArrivalShow}}</div>
      <div class="col-4 m-0 p-0 ff-text-4 d-flex align-items-center">{{familia.totalFlightTimeShow}}</div>
      <div class="col-4 m-0 p-0">
        <img *ngIf="isCollapsed" style="width: 20px; cursor: pointer;" (click)="listFareFamilies(fareFamilyId)" src="./assets/images/arrow-down.svg" alt="">
        <img *ngIf="!isCollapsed" style="width: 20px; cursor: pointer;" (click)="hideFareFamilies(fareFamilyId)" src="./assets/images/arrow-up.svg" alt="">
      </div>
    </div>
  </div>

</div>

<div *ngIf="lfareFamilies.length>0" [collapse]="isCollapsed" [isAnimated]="true" class="row m-0 p-0" style="width: 100%;" [id]="fareFamilyId">
  <div class="col-12 m-0 p-0">


    <div class="row m-0 p-0 d-flex justify-content-center">

      <div class="col-2 m-0 p-0 pl-4">

        <div class="row m-0 p-0" style="">

          <div class="col-12 m-0 p-0" style="height: 80px;"></div>

          <div
            style="width: 100% !important; border: 1px solid #ccc !important; border-radius: 20px 0 0 0 !important; border: 1px solid #ccc !important;"
            class="box-shadow col-12 m-0 p-0 d-flex justify-content-center align-items-center" [class]="classDivInc+familyIndex">
            INCLUYE
          </div>

          <div style="width: 100% !important; border: 1px solid #ccc !important;" class="box-shadow col-12 m-0 p-0 d-flex justify-content-center align-items-center" [class]="classDivNof+familyIndex">
            NO INCLUYE
          </div>

          <div
            style="width: 100% !important; border: 1px solid #ccc !important; border-radius: 0 0 20px 0 !important; border: 1px solid #ccc !important;"
            class="box-shadow col-12 m-0 p-0 d-flex justify-content-center align-items-center" [class]="classDivCha+familyIndex">
            PAGA POR
          </div>

          <div class="col-12 m-0 p-0"></div>

        </div>

      </div>

      <div class="col-10 m-0 p-0 pr-4">

        <div class="row m-0 p-0" style="width: 100%; display: flex; flex-wrap: nowrap; overflow-x: auto">

          <app-familia-fare
            [fareFamily]="fareFamily"
            [currency]="familia.currency"
            [fareFamilyIndex]="i+1"
            [flagCountInc]="flagCountInc"
            [flagCountNof]="flagCountNof"
            [flagCountCha]="flagCountCha"
            [familyIndex]="familyIndex"
            [familyLength]="lfareFamilies.length"
            (idRadioBtnFareFam)="selectRadioBtnFam($event)"
            *ngFor="let fareFamily of lfareFamilies; let i=index"
          ></app-familia-fare>

        </div>

      </div>



    </div>


  </div>
</div>


<div class="row m-0 p-0">
  <div class="col-1 m-0 p-0"></div>

  <div class="col-10 m-0 p-0">
    <hr>
  </div>

  <div class="col-1 m-0 p-0"></div>
</div>

-->
