<button class="btn btn-primary" (click)="MostrarModal()">Mostrar Modal</button>
<div class="popup-container" id="modaltarifa">
  <div class="modal-tarifas">
    <span class="btn-close" (click)="OcultarModal()">x</span>
    <div class="divtarifa">
      <div class="cabecera-modal">
        <span><i class="fas fa-exclamation-triangle"></i></span>

        <span class="info-tarifa">Las tarifas que te mostramos en las familias tarifarias corresponden a 1 pasajero y no incluyen tasas de embarque. Estas estan incluidas dentro al momento de seleccionar la combinacion requerida en el Precio Base</span>
      </div>
      <div class="div-pricefinal">
        <span class="price-final">Precio Final</span>
        <span><i></i></span>
        <span><i></i></span>
        <div>
          <span class="pricexadlt">Precio por adulto</span>
          <span>US$</span>
          <span>163</span>
          <div class="priceconvenio">
            <span>US$</span>
            <span>82</span>
          </div>
        </div>
      </div>
    </div>
    <div class="segmento-viaje">
      <div class="row">
        <div class="col-3">
          <span><i></i></span>
          <span>Ida</span><br>
          <span>mar.10 sep 2019</span>
        </div>
        <div class="col-3">
          <span>LIM</span><br>
          <span>Aero. Jorge Chavez</span>
        </div>
        <div class="col-3">
          <span>JFK</span><br>
          <span>Aero.New York</span>
        </div>
      </div>
      <div class="row info-trip">
        <div class="col-2">
          <input type="radio">
          <span>Latam</span>
        </div>
        <div class="col-3">
          <span class="date-departure">01:15</span>
        </div>
        <div class="col-2">
                    <span class="tipovuelo">
                            Directo
                        </span>
        </div>
        <div class="col-2">
                    <span class="date-arrival">
                                04:30
                          </span>
        </div>
        <div class="col-2 " class="time-total">
                    <span>
                               3h 15m
                           </span>
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>
    <div class="tabla-tarifas">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Flexi</th>
          <th>Econo</th>
          <th>ejecutiva promo</th>
          <th>Ejecutiva</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>INCLUYE</td>
          <td>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fugit ab omnis consequuntur neque, illo voluptatibus rem minima delectus officia laudantium</p>
          </td>
          <td>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores laboriosam labore iure numquam at harum quae voluptas nobis! Non fugit quia reici</p>
          </td>
          <td>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quasi suscipit accusantium deleniti recusandae rerum? Laudantium dolorem </p>
          </td>
          <td>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eligendi doloribus optio, praesentium molestiae, nostrum reiciendis sit</p>
          </td>
        </tr>
        <tr>
          <td>NO INCLUYE</td>
          <td>
            <p>X</p>
          </td>
          <td>
            <p>X</p>
          </td>
          <td>
            <p>deleniti recusandae rerum? Laudantium dolorem </p>
          </td>
          <td>
            <p>praesentium molestiae, nostrum reiciendis sit</p>
          </td>
        </tr>
        <tr>
          <td>PAGAR POR</td>
          <td>
            <p>X</p>
          </td>
          <td>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aperiam, a hic quisquam earum quasi quo eum quae</p>
          </td>
          <td>
            <p>deleniti recusandae rerum? Laudantium dolorem </p>
          </td>
          <td>
            <p>praesentium molestiae, nostrum reiciendis sit</p>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td></td>
          <td>
            <div>
              <input type="radio">
              <span>US$</span>
              <span>200</span>
            </div>
          </td>
          <td>
            <div>
              <input type="radio">
              <span>US$</span>
              <span>200</span>
            </div>
          </td>
          <td>
            <div>
              <input type="radio">
              <span>US$</span>
              <span>200</span>
            </div>
          </td>
          <td>
            <div>
              <input type="radio">
              <span>US$</span>
              <span>200</span>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
