<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 text-center title-header pb-5">El pasajero está infringiendo las siguientes políticas</div>
        </div>
        <div class="row m-0 p-0 text-center">
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0 pb-3 pl-4 pr-4">
                    <div class="col-4 div-despolitica">
                        <span></span>
                        <span>Política de Días de Anticipación</span>
                    </div>
                    <div class="col-8 div-politica">
                        10 días de anticipación minimo para compra
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0 pb-3 pl-4 pr-4">
                    <div class="col-4 div-despolitica">
                        <span></span>
                        <span>Infracción</span>
                    </div>
                    <div class="col-8 div-politica">
                        Se está comprando un vuelo con 2 días de anticipación
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0 pb-5 pl-4 pr-4">
                    <div class="col-4 div-despolitica">
                        <span></span>
                        <span>Impacto</span>
                    </div>
                    <div class="col-8 div-politica">
                        <span>USD</span>
                        <span>50.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>