<div class="row m-0 p-0">
  <div class="col-12 m-0 p-0" style="width: 100%; height: 30px !important;"></div>
</div>


<div class="row m-0 p-0">

  <div class="col-2 m-0 p-0"></div>




  <div class="col-8 m-0 p-0">

    <div class="row m-0 p-0">

      <div class="col-12 m-0 p-0 pb-3 apc-text-1">
        Agregue los pasajeros del vuelo
      </div>

      <div class="col-12 m-0 p-0 pb-3">

        <div class="row m-0 p-0">

          <div class="col-11 m-0 p-0">
            <div class="row m-0 p-0">
              <div class="col-6 m-0 p-0">

                <div class="row m-0 p-0">

                  <div class="col-5 m-0 p-0 d-flex justify-content-center align-items-center">
                    <label class="m-0 p-0">
                      <input type="radio" name="name_pax">
                      <span class="pl-1">Nombre/Apellido</span>
                    </label>
                  </div>

                  <div class="col-7 m-0 p-0">
                    <input class="form-control box-shadow" type="text">
                  </div>

                </div>

              </div>

              <div class="col-6 m-0 p-0">
                <div class="row m-0 p-0">

                  <div class="col-5 m-0 p-0 d-flex justify-content-center align-items-center">
                    <label class="m-0 p-0">
                      <input type="radio" name="name_pax">
                      <span class="pl-1">DNI/Matrícula</span>
                    </label>
                  </div>

                  <div class="col-7 m-0 p-0 pr-2">
                    <input class="form-control box-shadow" type="text">
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-1 m-0 p-0 d-flex justify-content-center align-items-center">

            <button class="p-0 form-control btn apc-btn-buscar">
              <img src="./assets/images/home/buscador-musical.svg" alt="" style="width: 12px">
              Buscar
            </button>

          </div>

        </div>

      </div>

    </div>

  </div>





  <div class="col-2 m-0 p-0"></div>

</div>
