

$break-large: 990px
$break-med: 766px
$break-low: 500px


.apc-text-1
  font-family: Omnes-med
  font-size: 24px
  color: #6B253C

.apc-btn-buscar
  color: white
  background-color: #ED1C24
  font-family: Omnes-med
  font-size: 12px

.apc-text-2
  font-family: Omnes-med
  font-size: 15px
  color: #3D3D3D
  height: 30px
  display: flex
  justify-content: center
  align-items: center

.apc-text-header
  font-family: Omnes-med
  font-size: 15px
  color: #3D3D3D
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  width: 20%

.apc-text-header1
  font-family: Omnes-med
  font-size: 15px
  color: #3D3D3D
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  width: 15%

.apc-text-content
  font-family: Omnes-med
  font-size: 15px
  color: #3D3D3D
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  width: 18%

.apc-text-21
  font-family: Omnes-med
  font-size: 15px
  color: #3D3D3D
  height: 30px
  display: flex
  justify-content: center
  align-items: center

.apc-btn-continuar
  background-color: #ED1C24
  color: white
  font-family: Omnes-med
  font-size: 23px

.my-pagination .ngx-pagination .current
    background: red

.btn-ok
  background-color: #ED1C24
  color: white
  font-family: Omnes-med
  font-size: 20px

.text-1
  font-family: Omnes-med
  font-size: 23px

.container
  width: 100%
  margin: 0px auto

.containerFlex
  width: 100%
  padding-left: 20px

.margen
  width: 20%

.centro
  width: 100%

.centroTop
  width: 100%
  padding-top: 30px

.centroFlex
  width: 100%
  display: flex
  margin-top: 20px

.mitad
  width: 18%
  text-align: center

.field
  width: 25%

.buttonBuscar
  width: 8%
  margin-left: 10px

.tableFlex
  width: 100%
  display: flex
  height: 60px

@media (max-width: $break-large)
    .centroFlex
      width: 115%

@media (max-width: $break-med)
    .centroFlex
      display: block
      float: right
      text-aling: center
      justify-content: center
      width: 115%

    .mitad
      width: 100%
      text-align: center

    .field
      width: 68%
      margin-left: 21%

    .buttonBuscar
      margin: 14px
      width: 19%
      margin-left: 42%

@media (max-width: $break-low)
    .apc-text-21
      display: none

    .apc-text-content
      font-family: Omnes-med
      font-size: 15px
      color: #3D3D3D
      height: 30px
      display: flex
      justify-content: center
      align-items: center
      width: 29%

    .apc-text-2
      width: 40% !important
      font-family: Omnes-med
      font-size: 15px
      color: #3D3D3D
      height: 30px
      display: flex
      justify-content: center
      align-items: center

    .apc-text-header
      font-family: Omnes-med
      font-size: 15px
      color: #3D3D3D
      height: 30px
      display: flex
      justify-content: center
      align-items: center
      width: 28%

    .apc-text-header1
      font-family: Omnes-med
      font-size: 15px
      color: #3D3D3D
      height: 30px
      display: flex
      justify-content: center
      align-items: center
      width: 28%




