

.f-text-1
  font-family: Omnes-reg
  font-size: 15px
  color: #898989

.f-div-pxa
  background: -webkit-linear-gradient(left, rgba(237,28,35,1) 0%, rgba(176,23,56,1) 36%, rgba(60,71,73,1) 100%)
  color: white
  font-family: Omnes-med
  font-size: 13px
  border-radius:  0 20px 20px 0
