

.f-text-1
  font-family: Omnes-reg
  font-size: 15px
  color: #898989

.f-div-pxa
  background: -webkit-linear-gradient(left, rgba(237,28,35,1) 0%, rgba(176,23,56,1) 36%, rgba(60,71,73,1) 100%)
  color: white
  font-family: Omnes-med
  font-size: 15px
  border-radius:  0 20px 20px 0

.f-text-2
  font-family: Omnes-med
  font-size: 15px
  color: #676767

.f-text-3
  font-family: Omnes-med
  font-size: 17px
  color: #6B253C

.f-text-4
  font-family: Omnes-med
  font-size: 20px
  color: #898989

.f-text-5
  font-family: Omnes-med
  font-size: 35px
  color: #6B253C

.f-text-6
  font-family: Omnes-med
  font-size: 60px
  color: #898989

.btn-seleccionar
  background: #ED1C24 0% 0% no-repeat padding-box
  font-family: Omnes-med
  border-radius: 6px
  opacity: 1
  color: white
 