


<div class="row m-0 p-0">

  <div class="col-2 m-0 p-0"></div>

  <div class="col-8 m-0 p-0">

    <div class="row m-0 p-0">

      <div class="col-1 m-0 p-0"></div>

      <div class="col-11 m-0 p-0">

        <div class="row m-0 p-0">

          <div class="col-12 m-0 p-0 f-text-1">
            Las tarifas que te mostraremos en las familias corresponden a 1 pasajero y no incluye tasas de embargue. Estas
            están incluídas dentro al momento de seleccionar la combinación requerida en el Precio Base.
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="col-2 m-0 p-0"></div>

</div>


<div class="row m-0 p-0">

  <div class="col-2 m-0 p-0"></div>

  <div class="col-8 m-0 p-0">

    <div class="row m-0 p-0">
      <div class="col-1 m-0 p-0"></div>

      <div class="col-10 m-0 p-0 box-shadow">

        <div class="row m-0 p-0">
          <div class="col-12 m-0 p-0">

            <div class="row m-0 p-0">
              <div class="col-4 m-0 p-0 d-flex justify-content-center align-items-center f-div-pxa">
                Precio Final
              </div>
              <div class="col-4 m-0 p-0"></div>
              <div class="col-4 m-0 p-0"></div>
            </div>

          </div>

          <div class="col-12 m-0 p-0">

            <div class="row m-0 p-0">

              <div class="col-6 m-0 p-0">
                Precio po adulto {{currency}} {{precioPersona}}
              </div>

              <div class="col-6 m-0 p-0">
                {{currency}} {{precioTotal}}
              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="col-1 m-0 p-0"></div>
    </div>


  </div>

  <div class="col-2 m-0 p-0"></div>

</div>

<div class="row m-0 p-0">

  <app-familia [familia]="familia"></app-familia>

</div>



