<ng-container>
    <app-header>
        <div class="row m-0 p-0">
            <div class="col-2 m-0 p-0">

            </div>
            <div class="col-8 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="back col-12 m-0 p-0 pb-1 pt-4">
                        Volver atras</div>
                </div>
                <p class="txtSolicitud m-0 p-0 pb-3">Solicitud de excepción de politica</p>
            </div>
            <div class="col-2 m-0 p-0">

            </div>
        </div>

        <div class="row m-0 p-0">
            <div class="col-2 m-0 p-0">
            </div>
            <div class="col-8 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-8 m-0 p-0">
                        <app-ex-mis-vuelos>

                        </app-ex-mis-vuelos>

                        <app-ex-politicas-infrigidas>

                        </app-ex-politicas-infrigidas>


                    </div>
                    <div class="col-4 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">

                            </div>
                        </div>
                        <app-ex-precio-adulto>

                        </app-ex-precio-adulto>
                    </div>
                </div>

            </div>
            <div class="col-2 m-0 p-0">

            </div>
        </div>

    </app-header>
</ng-container>