


<div class="m-0 p-0 pt-2 pb-2" style="width: 100%">

  <div class="row m-0 p-0">

    <div class="col-3 m-0 p-0 pl-2 d-flex justify-content-center align-items-center">
      <input type="radio" name="marketingCarrier" value="male">
      <img class="img-fluid" src="./assets/images/airlines/{{marketingCarrier}}" alt="">
    </div>

    <div class="col-3 m-0 p-0 text-center sm-text-1 d-flex justify-content-center align-items-center">
      {{timeOfDepartureShow}}
    </div>

    <div class="col-6 m-0 p-0">
      <div class="row m-0 p-0">
        <div class="col-4 m-0 p-0">
          <div class="row m-0 p-0">
            <div *ngIf="lSegmentGroupsLength===1" class="col-12 m-0 p-0 text-center sm-text-2">
              Directo
            </div>
            <div *ngIf="lSegmentGroupsLength===1" class="col-12 m-0 p-0 text-center">
              <img src="./assets/images/home/directo.png" alt="">
            </div>
            <div *ngIf="lSegmentGroupsLength>1" class="col-12 m-0 p-0 text-center sm-text-2">
              {{lSegmentGroupsLength}} escalas
            </div>
            <div *ngIf="lSegmentGroupsLength>1" class="col-12 m-0 p-0 text-center">
              <img src="./assets/images/home/escala.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-4 m-0 p-0 text-center sm-text-1 d-flex justify-content-center align-items-center">
          {{timeOfArrivalShow}}
        </div>
        <div class="col-4 m-0 p-0 text-center sm-text-3 d-flex justify-content-center align-items-center">
          {{totalFlightTimeShow}}
        </div>
      </div>
    </div>

  </div>

</div>
