

.sm-text-1
  font-size: 18px
  font-family: Omnes-med
  color: #898989

.sm-text-2
  font-size: 13px
  font-family: Omnes-med
  color: #898989

.sm-text-3
  font-size: 15px
  font-family: Omnes-med
  color: #676767
