<ng-container>
    <app-header>
        <div class="row m-0 p-0">
            <div class="col-2 m-0 p-0">
                <ng-template #modalexpired>
                    <app-modal-sesion-expirada>

                    </app-modal-sesion-expirada>
                </ng-template>
            </div>
            <div class="col-8 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pb-4">
                        <div class="row m-0 p-0 pt-5 pb-3">
                            <div class="col-12 m-0 p-0">
                                <span class="txtfin">¡Felicidades! tu reserva ha sido generada</span>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 pl-5 pr-5" style="padding: 1em; background: white; border: 2px solid rgba(219, 223, 227, 0.303017); box-shadow: 0px 5px 12px rgba(217, 226, 233, 0.5); border-radius: 25px 0px 25px 0px">

                                <div class="row m-0 p-0" style="border-bottom: 1px #898989 solid;">

                                    <div class="col-12">

                                        <div class="row m-0 p-0 pb-4">
                                            <div class="col-6" style="padding-top: 30px;">
                                                <span class="txtCiudad pr-4">{{confirmacion.ohotel.name}}</span>
                                                <span class="star-filtro"> </span>
                                                <span class="ml-3" *ngIf="habitacion.ohotel.stars  === 5"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                                                <span class="ml-3" *ngIf="habitacion.ohotel.stars  === 4"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                                                <span class="ml-3" *ngIf="habitacion.ohotel.stars  === 3"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                                                <span class="ml-3" *ngIf="habitacion.ohotel.stars  === 2"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"></span>
                                                <span class="ml-3" *ngIf="habitacion.ohotel.stars  === 1"><img src="./assets/images/star.svg"></span>
                                                <br>
                                                <span class="txtdis pr-4">{{habitacion.ohotel.cityName}}. A {{lhotel.oairportDistance.distance}} km  del  aeropuerto</span>

                                                <label for="happy" class="option-happy" (click)="Mostrarmapa()">Ver Mapa</label>


                                            </div>
                                            <div class="PopupContainer" id="mapa">
                                                <div class="tooltipBagDiv box-shadow animated fadeIn fast">
                                                    <span class="title-modal">Vista de mapa</span>
                                                    <a class="btn-close" (click)="OcultarMapa()">X</a>
                                                    <agm-map [latitude]="lhotel.oposition.latitude" [zoom]="15" [longitude]="lhotel.oposition.longitude">
                                                        <agm-marker [latitude]="lhotel.oposition.latitude" [longitude]="lhotel.oposition.longitude" [iconUrl]="urlimg"></agm-marker>
                                                    </agm-map>
                                                    <span class="hotel-nombre">{{habitacion.ohotel.hotelName}}</span>
                                                </div>
                                            </div>
                                            <div class="col-6" style="padding-top: 50px;">
                                                <div class='row m-0 p-0'>
                                                    <div style='width: 50%; height: 55px; padding-top: 13px; background: #6B253C 0% 0% no-repeat padding-box; border-radius: 15px 0px 0px 0px; color: #FFFFFF; text-align: center; font-size: 22px;font-family: Omnes-med;'>Código Reserva</div>
                                                    <div style='width: 50%; height: 55px; padding-top: 13px; background: #6B253C 0% 0% no-repeat padding-box; border-radius: 0px 15px 0px 0px; color: #FFFFFF; text-align: center; font-size: 22px;font-family: Omnes-med;'>Código Confirmacion</div>
                                                </div>
                                                <div class='row m-0 p-0'>
                                                    <div style='width: 50%; padding-top: 13px; font-size: 22px; background: #FBF6F6 0% 0% no-repeat padding-box; border-radius: 0px 0px 0px 15px; color: #898989; text-align: center; font-family: Omnes-med;'>{{reserva.pnr}}</div>
                                                    <div style='width: 50%; padding-top: 13px; font-size: 22px; background: #FBF6F6 0% 0% no-repeat padding-box; border-radius: 0px 0px 15px 0px; color: #898989; text-align: center; font-family: Omnes-med;'>{{reserva.lpassengers[0].codeConfirmation}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 p-0">
                                    <div class="col-12 pt-4 pb-4">
                                        <div class="row m-0 p-0">
                                            <div *ngIf="habitacion.ohotel.lamenities != null && habitacion.ohotel.lamenities.length > 0" class="col-12 m-0 p-0">
                                                <span *ngFor="let item of habitacion.ohotel.lamenities" class="pl-3"><span class="pl-2"><img style="width: 30px;" src="./assets/images/{{item.code}}.png"></span><span class="Condition pl-3">{{item.description}}</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <ng-container *ngIf="habitacion.ohotel.limagens != null && habitacion.ohotel.limagens.length > 0; else elseTemplate" class="col-8 m-0 p-0">
                                        <img class="pl-2 pt-4" style="width: 700px; height: 570px; border-radius: 15px 0px 15px 0px;" src="{{habitacion.ohotel.limagens[0].url}}">
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <img class="pl-2 pt-4" style="width: 700px; height: 570px; border-radius: 15px 0px 15px 0px;" src="./assets/images/imagenotfound.jfif">
                                    </ng-template>
                                    <div class="col-4 m-0 p-0">
                                        <div class="row m-0 p-0 pt-3 pb-4">
                                            <div class="col-12 m-0 p-0" style="padding: 1em; background: white; border: 2px solid rgba(219, 223, 227, 0.303017); box-shadow: 0px 5px 12px rgba(217, 226, 233, 0.5); border-radius: 15px 0px 15px 0px">
                                                <div class="row m-0 p-0 pt-3">
                                                    <div class="col-4 m-0 p-0 pt-4">
                                                        <span class="Pricefin">Precio Final</span>
                                                    </div>
                                                    <div class="col-8 m-0 p-0">
                                                        <span class="pl-4"><span class="Moneda"></span><span class="Amount pl-2">{{reserva.oitineraryInfos.priceTotal}}</span></span>
                                                    </div>
                                                </div>
                                                <ng-container *ngIf="habitacion.ohotel.numberNights > 1; else elseTemplate" class="row m-0 p-0">
                                                    <div class="col-12 m-0 p-0">
                                                        <span class="textopre">{{habitacion.ohotel.numberNights}} noches para {{habitacion.ohotel.lguestPerRoom[0].numberPassengers}} persona</span>
                                                    </div>
                                                </ng-container>
                                                <ng-template #elseTemplate class="row m-0 p-0">
                                                    <div class="col-12 m-0 p-0">
                                                        <span class="textopre">{{habitacion.ohotel.numberNights}} noche para {{habitacion.ohotel.lguestPerRoom[0].numberPassengers}} persona</span>
                                                    </div>
                                                </ng-template>


                                                <div class="row m-0 p-0">
                                                    <div class="col-1 m-0 p-0">

                                                    </div>
                                                    <div class="col-11 m-0 p-0 pb-3 pr-2">
                                                        <span class="textopremin">✓ {{reserva.oitineraryInfos.descriptionRoom}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 p-0">
                                            <span> <img style="width: 30px;" src="./assets/images/calendar.png"> </span><span class="txtphono pl-3">FECHAS:</span>
                                        </div>
                                        <div class="row m-0 p-0 pl-5">
                                            <div class="col-12 m-0 p-0">
                                                <div class="check row m-0 p-0">
                                                    <div class="col-6 m-0 p-0">
                                                        Check in
                                                    </div>
                                                    <div class="col-6 m-0 p-0 pl-4">
                                                        Check out
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 m-0 p-0">
                                                <div class="Date row m-0 p-0">
                                                    <div class="col-6 m-0 p-0">
                                                        <span>{{confirmacion.oroom.startDate}}</span>
                                                    </div>
                                                    <div class="col-6 m-0 p-0 pl-4">
                                                        <span>{{confirmacion.oroom.endDate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 m-0 p-0 pb-5">
                                                <div class="hours row m-0 p-0">
                                                    <div class="col-6 m-0 p-0">
                                                        <span>{{habitacion.ohotel.checkIn}}</span>
                                                    </div>
                                                    <div class="col-6 m-0 p-0 pl-4">
                                                        <span>{{habitacion.ohotel.checkOut}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 p-0">
                                            <span> <img style="width: 30px;" src="./assets/images/telephone.png"></span><span class="txtphono">TELÉFONO DE CONTACTO:</span>
                                        </div>
                                        <div class="row m-0 p-0">
                                            <div class="col-12 m-0 p-0 pt-3 pl-5">
                                                <span></span><span class="phono">{{reserva.oitineraryInfos.numberPhone}}</span>
                                            </div>
                                        </div>
                                        <div class="row m-0 p-0 pt-5">
                                            <div class="col-12 m-0 p-0">
                                                <button class="btn" (click)="Mostrarmapa()">
                                                        
                                                       
                                                        <span style="color: #FFFFFF">Ver Mapa</span>
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 pt-4">
                            <div class="col-12 m-0 p-0 box-shadow pt-4 pl-4 pb-3">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 pb-3">
                                        <span class="condi pl-3">Condiciones:</span>
                                        <span class="Description pl-3">{{reserva.oitineraryInfos.penality}}</span>
                                    </div>
                                </div>
                                <div class="row m-0 p-0">
                                    <div class="col-3 m-0 p-0 text-center">
                                        <span class=""><span class="pl-2"><img src="./assets/images/horarios.svg"></span><span class="Dates pl-3">Horarios</span></span>
                                    </div>
                                    <div class="col-3 m-0 p-0">
                                        <span class=""><span class="pl-2"></span><span class="Dates">Chek in: {{habitacion.ohotel.checkIn}}</span></span>
                                    </div>
                                    <!--   <div class="col-3 m-0 p-0">
                                        <span class=""><span class="pl-2"></span><span class="Dates">Check out: {{habitacion.ohotel.checkOut}}</span></span>
                                    </div>-->
                                    <ng-container *ngIf="habitacion.ohotel.checkOut != null && habitacion.ohotel.checkOut != ''; else elseTemplate" class="col-3 m-0 p-0">
                                        <span class=""><span class="pl-2"></span><span class="Dates">Check out: {{habitacion.ohotel.checkOut}}</span></span>
                                    </ng-container>
                                    <ng-template #elseTemplate class="col-3 m-0 p-0">
                                        <span class=""><span class="pl-2"></span><span class="Dates">Check out: Sin informacion</span></span>
                                    </ng-template>

                                    <div class="col-3 m-0 p-0">
                                        <!--  <span class=""><span class="pl-2"><img src="assets/images/document.svg"></span><span class="Dates pl-1">Politica de cancelación</span></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 pt-3">
                                <span class="huesped">HUESPEDES</span>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 pt-4">
                                <span class="titular">Titular Habitacion 1</span>
                            </div>
                        </div>
                        <div class="row m-0 p-0 pt-3">
                            <div class="col-6 m-0 p-0">
                                <span class="title">NOMBRE COMPLETO</span>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <span class="title">TELEFONO</span>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <input disabled="" type="text" value="{{reserva.lpassengers[0].name}} {{reserva.lpassengers[0].lastName}}" class="input-names box-shadow" style="width: 380px; height: 38px;">
                            </div>
                            <div class="col-6 m-0 p-0">
                                <input disabled="" type="text" value="{{phone}}" class="input-names box-shadow" style="width: 380px; height: 38px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 m-0 p-0">

            </div>
        </div>



    </app-header>
</ng-container>n