<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 box-shadow pl-4 pb-5">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="pregunta">¿Quiénes serán los titulares de la reserva?</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-1">
                <span class="info">Serán los responsables de hacer el check-in y check-out en cada habitación del alojamiento</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pt-4">
                <span class="titular">Titular Habitación 1</span>
            </div>
        </div>
        <div class="row m-0 p-0 pt-3">
            <div class="col-6 m-0 p-0">
                <span class="title">NOMBRES</span>
            </div>
            <div class="col-6 m-0 p-0">
                <span class="title">APELLIDOS</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-6 m-0 p-0">
                <input disabled="" type="text" value="{{loginDataUser.userName}}" class="input-names box-shadow" style="width: 380px; height: 38px;">
            </div>
            <div class="col-6 m-0 p-0">
                <input disabled="" type="text" value="{{loginDataUser.userLastName}}" class="input-names box-shadow" style="width: 380px; height: 38px;">
            </div>
        </div>
        <div class="row m-0 p-0 pt-3">
            <div class="col-6 m-0 p-0">
                <span class="title">CORREO ELECTRONICO</span>
            </div>
            <div class="col-6 m-0 p-0">
                <span class="title">TELÉFONO</span>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-6 m-0 p-0">
                <input type="text" value="" (keyup)="validarCorreo()" class="input-names box-shadow" [(ngModel)]="correo" style="width: 380px; height: 38px;">
            </div>
            <div class="col-6 m-0 p-0">
                <input type="text" value="" (keyup)="validarTelefono()" (keypress)="validarNumeros($event)" class="input-names box-shadow" [(ngModel)]="telefono" style="width: 380px; height: 38px;">
            </div>
        </div>

    </div>
</div>