<div class="m-0 p-0 pl-4">
    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0 box-shadow pb-3" style="border-radius: 20px 0px 20px 0px">
            <div class="col-12 m-0 p-0 pr-5 pt-2" style="text-align: right;">
                <img src="assets/images/medal.svg">
            </div>
            <div class="col-12 m-0 p-0">
                <span class="txtCurrency">US$</span>
                <span class="txtAmount">82</span>
            </div>
            <div class="col-12 m-0 p-0">
                <span class="txtPrecioAdulto">Precio por Adulto</span>
                <span class="Currency pl-5">US$</span>
                <span class="Amount pl-2">163</span>
            </div>
        </div>
    </div>
</div>