<ng-container>
  <app-header>
    <div *ngIf="true" class="row pt-4">
      <div class="col-3 m-0 p-0 pt-2 pl-5 pr-5">
        <div class="row box-shadow">
          <div class="col-12 det-test1">Datos de tu reserva</div>

          <div class="col-12">
            <div class="row m-0 p-0">
              <div
                class="col-12 m-0 p-0 fondo-rojo-tri"
                style="height: 2px"
              ></div>
            </div>
          </div>

          <div class="col-12 pt-3 det-test2">Recogida</div>

          <div class="col-12">
            <div class="row">
              <div class="col-1">
                <img src="" alt="" />
              </div>
              <div class="col-11 det-test3">
                {{ origenLugar }}
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11 det-test4">Oficinas alquiler de autos</div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-1">
                <img
                  class="img-fluid"
                  src="./assets/images/autos/calendario.svg"
                  alt=""
                />
              </div>
              <div class="col-11 det-test3">
                {{ origenFecha }}
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11 det-test3">
                {{ origenHora }}
              </div>
            </div>
          </div>

          <div class="col-12 det-test2">Devolución</div>

          <div class="col-12">
            <div class="row">
              <div class="col-1">
                <img src="" alt="" />
              </div>
              <div class="col-11 det-test3">
                {{ destinoLugar }}
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11 det-test4">Oficinas alquiler de autos</div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-1">
                <img
                  class="img-fluid"
                  src="./assets/images/autos/calendario.svg"
                  alt=""
                />
              </div>
              <div class="col-11 det-test3">
                {{ destinoFecha }}
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11 det-test3">
                {{ destinoHora }}
              </div>
            </div>
          </div>

          <div class="col-12 text-center pt-4 pb-3">
            <button
              style="width: 80% !important; background-color: #ed1c24"
              class="btn det-test6"
            >
              Cambiar los datos
            </button>
          </div>
        </div>
      </div>

      <div class="col-9 pt-2">
        <div class="row">
          <div
            class="col-9 det-test5"
            style="
              color: #40b23d !important;
              border-radius: 20px 0 20px 0;
              border-color: #40b23d !important;
              border: solid 1px;
              height: 50px;
              display: flex;
              align-items: center;
            "
          >
            ¡Cancelación GRATUITA hasta 48 horas antes de la hora de recogida!
          </div>

          <div
            class="col-9 mt-4"
            style="
              border-radius: 20px 0 20px 0;
              border-color: #e2e2e2 !important;
              border: solid 1px;
            "
          >
            <div class="row p-3">
              <div class="col-12">
                <div class="row">
                  <div class="col-3 det-test12">
                    <img
                      class="img-fluid pr-2"
                      src="./assets/images/autos/vehiculo.svg"
                      alt=""
                    />
                    Datos
                  </div>
                  <div class="col-4 det-test12">
                    <img
                      class="img-fluid pr-2"
                      src="./assets/images/autos/informacion.svg"
                      alt=""
                    />
                    Información importante
                  </div>
                </div>
              </div>
              <div class="col-12 pt-2">
                <div class="row">
                  <div class="col-3 fondo-rojo-tri" style="height: 2px"></div>
                  <div class="col-3"></div>
                  <div class="col-6"></div>
                </div>
              </div>
              <div class="col-12 pt-5">
                <div class="row">
                  <div class="col-3">
                    <div class="row">
                      <div class="col-12 text-right">
                        <img
                          class="img-fluid"
                          [src]="carRecomendacion.ocompany.image"
                          alt=""
                        />
                      </div>

                      <div class="col-12 text-center">
                        <img
                          class="img-fluid"
                          [src]="carSelect.oinformation.ocarInfo.image"
                          alt=""
                        />
                      </div>

                      <div class="col-12">
                        <span class="det-test13 pr-2">
                          {{ carSelect.oinformation.ocarInfo.companyName }}:
                        </span>

                        <span class="det-test14" style="cursor: pointer">
                          <u>Términos y condiciones</u>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-9 pl-3">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="det-test15" style="width: 49% !important">
                            {{ carSelect.oinformation.ocarInfo.model }}
                          </div>
                          <div
                            class=""
                            style="
                              width: 1px !important;
                              background-color: #707070;
                            "
                          ></div>
                          <div class="pl-3" style="width: 49% !important">
                            <div class="row">
                              <div class="col-12 det-test16">
                                <img
                                  class="img-fluid"
                                  src="./assets/images/autos/airplane.svg"
                                  alt=""
                                />
                                {{
                                  carSelect.oinformation.oitineraryInfo
                                    .pickUpAddress
                                }}
                              </div>
                              <div
                                class="col-12 det-test8"
                                style="padding-left: 55px"
                              >
                                Oficina alquiler d autos
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 pt-4 pb-4">
                        <div class="row">
                          <div
                            class="text-center det-test17"
                            style="
                              border-radius: 20px 0 20px 0;
                              border: solid 1px;
                              border-color: #ed1c24;
                              min-width: 200px;
                            "
                          >
                            {{ categoriaDescription }}
                          </div>

                          <div class="pl-3">
                            <img
                              src="./assets/images/autos/pasajero.svg"
                              alt=""
                              tooltip="pasajeros"
                            />
                            <span class="pl-2 det-test3">
                              {{
                                carSelect.oinformation.ocarInfo.numberPassengers
                              }}
                            </span>
                          </div>

                          <div class="pl-3">
                            <img
                              src="./assets/images/autos/accessory.svg"
                              alt=""
                              tooltip="pasajeros"
                            />
                            <span class="pl-2 det-test3">
                              {{
                                carSelect.oinformation.ocarInfo.baggage
                                  | validarEntero
                              }}
                            </span>
                          </div>

                          <div class="pl-3">
                            <img
                              src="./assets/images/autos/suitcase.svg"
                              alt=""
                              tooltip="pasajeros"
                            />
                            <span class="pl-2 det-test3">
                              {{
                                carSelect.oinformation.ocarInfo.baggage
                                  | slice: 0:1
                              }}
                            </span>
                          </div>

                          <div
                            *ngIf="
                              carSelect.oinformation.ocarInfo.airConditioner
                            "
                            class="pl-3"
                          >
                            <img
                              src="./assets/images/autos/suitcase.svg"
                              alt=""
                              tooltip="pasajeros"
                            />
                            <span class="pl-2 det-test3">
                              Aire acondicionado
                            </span>
                          </div>

                          <div
                            *ngIf="carRecomendacion.type === 'Automático'"
                            class="pl-3"
                          >
                            <span
                              style="
                                background-color: #ed1c24;
                                justify-content: center !important;
                                align-items: center !important;
                                padding-left: 8px;
                                padding-right: 8px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                color: #ffffff;
                                font-family: Omnes-med;
                                font-size: 11px;
                                border-radius: 4px;
                              "
                              >A</span
                            >
                            <span class="pl-2 det-test3"> Automático </span>
                          </div>
                        </div>
                      </div>

                      <div
                        class="col-12"
                        style="height: 1px; background-color: #707070"
                      ></div>

                      <div class="col-12 pt-4">
                        <div class="row">
                          <div
                            *ngIf="
                              carSelect.oinformation.ocarInfo.type ===
                              'Automático'
                            "
                            class=""
                          >
                            <span
                              style="
                                background-color: #ed1c24;
                                justify-content: center !important;
                                align-items: center !important;
                                padding-left: 8px;
                                padding-right: 8px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                color: #ffffff;
                                font-family: Omnes-med;
                                font-size: 11px;
                                border-radius: 4px;
                              "
                              >Km</span
                            >
                            <span class="pl-2 det-test13">
                              {{ carRecomendacion.kmIncluded }}
                            </span>
                          </div>

                          <div class="pl-3">
                            <div class="row">
                              <div class="col-12 det-test13">
                                <img
                                  class="img-fluid"
                                  src="./assets/images/autos/combustible.svg"
                                  alt=""
                                />
                                Politica de combustible
                              </div>
                              <div
                                class="col-12 det-test8"
                                style="padding-left: 45px"
                              >
                                Lleno/Lleno
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12"></div>
            </div>
          </div>

          <div class="col-3 mt-4 pl-3">
            <div
              class="row m-o p-0 ml-3 mr-5"
              style="
                border-radius: 20px 0 20px 0;
                border-color: #e2e2e2 !important;
                border: solid 1px;
              "
            >
              <div class="col-12" style="height: 30px !important"></div>
              <div
                class="col-4 pl-3 fondo-rojo-tri det-test7"
                style="
                  background-color: red;
                  color: white;
                  border-radius: 0 20px 20px 0;
                "
              >
                Total
              </div>
              <div class="col-12">
                <div
                  class="row m-3 pt-3 pb-3"
                  style="
                    background-color: #f9f2f2;
                    border-radius: 20px 0 20px 0;
                  "
                >
                  <div class="col-12 det-test8">
                    Precio por {{ cantDiasAlquiler }} dias:
                  </div>

                  <div class="col-12 pt-2" style="text-align: right">
                    <span class="det-test9 pr-1">{{ currency }}</span>
                    <span class="det-test10">{{ amount }}</span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row m-0 p-0">
                  <div class="col-1"></div>
                  <div class="col-11 det-test8">Pago en Origen</div>
                </div>
              </div>
              <div class="col-12 pt-3">
                <div class="row m-0 p-0">
                  <div class="col-1"></div>
                  <div class="col-11 det-test8">Sólo auto</div>
                </div>
              </div>
              <div class="col-12 pt-3">
                <div class="row m-0 p-0">
                  <div
                    class="col-12 det-test11 text-center"
                    style="
                      border-radius: 20px;
                      color: white;
                      background-color: #40b23d;
                    "
                  >
                    Cancelación gratiuta
                  </div>
                </div>
              </div>
              <div class="col-12" style="height: 30px !important"></div>
            </div>
          </div>

          <div class="col-12 pt-4">
            <div class="row">
              <div class="col-12 det-test18">
                Selecciona la tarifa de tu preferencia
              </div>
              <div class="col-12 fondo-rojo-tri" style="height: 2px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-header>
</ng-container>
