.det-test1
  color: #3D3D3D
  font-size: 22px
  font-family: Omnes-med

.det-test2
  color: #828282
  font-size: 15px
  font-family: Omnes-med

.det-test3
  color: #3D3D3D
  font-size: 15px
  font-family: Omnes-med

.det-test4
  color: #3D3D3D
  font-size: 13px
  font-family: Omnes-med

.det-test5
  color: #40B23D
  font-size: 16px
  font-family: Omnes-med

.det-test6
  color: #FFFFFF
  font-size: 19px
  font-family: Omnes-med

.det-test7
  color: #FFFFFF
  font-size: 15px
  font-family: Omnes-med

.det-test8
  color: #3D3D3D
  font-size: 14px
  font-family: Omnes-med

.det-test9
  color: #6B253C
  font-size: 25px
  font-family: Omnes-med

.det-test10
  color: #898989
  font-size: 40px
  font-family: Omnes-med

.det-test11
  color: #FFFFFF
  font-size: 13px
  font-family: Omnes-med

.det-test12
  color: #3D3D3D
  font-size: 20px
  font-family: Omnes-med

.det-test13
  color: #2E2E2E
  font-size: 18px
  font-family: Omnes-med

.det-test14
  color: #0099FF
  font-size: 14px
  font-family: Omnes-med

.det-test15
  color: #3D3D3D
  font-size: 30px
  font-family: Omnes-med

.det-test16
  color: #3D3D3D
  font-size: 18px
  font-family: Omnes-med
