<div class="m-0 p-0">
    <div class="col-12 m-0 p-0">
        <div class="row p-0 m-0">
            <div class="col-12 m-0 p-0">
                <div class="contenedor">
                    <div class="row m-0 p-0 pb-3 pt-3">
                        <div class="col-12 m-0 p-0">
                            <label class="d-inline-flex box-shadow label-habitaciones">
                                    <input type="image"
                                    src="./assets/images/search.png"
                                    class="input-img"
                                    >
                                    <!--
                                    <input type="text"
                                    class="txtbusqueda"
                                    placeholder="Buscar por lugares de interes"
                                    autocorrect="off" autocapitalize="off" spellcheck="off">
                                    -->
                                    <input type="text" class="form-control txtbusqueda" (keydown.enter)="$event.preventDefault()" placeholder="Buscar por lugares de interes" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                                    </label>
                        </div>
                    </div>
                    <!--  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>  -->
                    <agm-map [latitude]="location.latitude | formatoLongitud" [longitude]="location.longitude | formatoLongitud" [zoom]="zoom">
                        <agm-marker *ngFor="let item of listado; let i = index" (markerClick)="abriModal(i + 1)" (mouseOver)="window.open()" (mouseOut)="window.close()" [iconUrl]="urlimg" [latitude]="item.oposition.latitude " [longitude]="item.oposition.longitude" (dragEnd)="markerDragEnd($event)">
                            <agm-info-window #window>{{item.oprice.currency}} {{item.oprice.pricePerNight}}
                                <div class="pl-4">
                                    <span tooltip="Hospedaje con infracción de políticas." (click)="openModalPoliticas(modalPolitica)" style="cursor: pointer;" *ngIf="item.lpolicies.length>0" class="circulo-politica2 pl-1 r-span-1"></span>
                                    <span tooltip="El hospedaje cumple las políticas de viaje de la empresa." *ngIf="item.lpolicies.length===0" class="circulo-politica3 pl-1 r-span-2"></span>
                                </div>
                            </agm-info-window>
                        </agm-marker>
                        <agm-marker [latitude]="searchLatitude" [longitude]="searchLongitude"></agm-marker>
                    </agm-map>
                    <div class="tooltipBagDiv box-shadow" *ngFor="let item of listado; let i = index" id="info_{{i + 1}}">
                        <div class="row p-0 m-0 details-hotel">
                            <div class="col-12 p-0 m-0">
                                <span class="img-hotel"><img src="{{item.limagens | getimghotel}}" alt=""></span>
                                <a class="btn-close" (click)="OcultarModal(i + 1)">X</a>
                            </div>
                            <div class="col-12 p-0 m-0 pb-3">
                                <span class="hotel-nombre">{{item.name}}</span>
                            </div>
                            <div class="col-12 m-0 p-0 pb-3 text-center">
                                <span class="info-hotel">{{item.cityName}}, {{item.address}}</span>
                            </div>
                            <div class="col-12 m-0 p-0">
                                <span class="distance">{{item.oairportDistance.distance}}km aproximado al aeropuerto </span>
                            </div>
                            <div class="col-12 m-0 p-0 estrellas">
                                <span *ngIf="item.stars === 1" class="number-star">
                                    <img src="./assets/images/star.svg">
                                                </span>

                                <span *ngIf="item.stars === 2" class="number-star">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                                </span>

                                <span *ngIf="item.stars === 3" class="number-star">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                                </span>

                                <span *ngIf="item.stars === 4" class="number-star">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                                </span>

                                <span *ngIf="item.stars === 5" class="number-star">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                    <img src="./assets/images/star.svg">
                                                </span>
                                <br>
                            </div>
                        </div>
                        <div class="row m-0 p-0 info-precio">
                            <div class="col-12 m-0 p-0">
                                <span style="margin-right: 10px;">Precio por noche</span>
                                <span style="font-weight: bold;">{{item.oprice.currency}} </span>
                                <span style="font-weight: bold;padding-right: 50px;">{{item.oprice.pricePerNight}}</span>

                                <span tooltip="Hospedaje con infracción de políticas." (click)="openModalPoliticas(modalPolitica)" style="cursor: pointer" *ngIf="item.lpolicies.length>0" class="circulo-politica pl-1 r-span-1"></span>
                                <span tooltip="El hospedaje cumple las políticas de viaje de la empresa." *ngIf="item.lpolicies.length===0" class="circulo-politica1 pl-1 r-span-2"></span>

                            </div>
                        </div>
                        <div class="btn-detalle">
                            <button class="btn v-btn-buscar" (click)="getHotel(item.code,fechasalida,fecharetorno,item.numberPassenger,item.lpolicies)">Ver detalle</button>
                        </div>


                        <ng-template #modalPolitica let-c="close" let-d="dismiss">

                            <div class="modal-header pb-0" style="border: none;">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefPoliticas.hide()">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>

                            <div class="modal-body m-0 p-0">

                                <div class="row m-0 p-0 pb-3">
                                    <div class="col-12 m-0 p-0 text-center ip-text-1" style="font-family: Omnes-med; font-size: 22px; color: #6B253C">
                                        <u>Infracción de Políticas de Hotel</u>
                                    </div>
                                </div>

                                <div class="row m-0 p-0">

                                    <app-hoteles-politicas style="padding-right: 7px;" [politica]="politica" [politicaIndex]="i+1" [politicaslength]="item.lpolicies.length" *ngFor="let politica of item.lpolicies; let i=index"></app-hoteles-politicas>

                                </div>

                            </div>

                        </ng-template>


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>