<ng-container>
    <app-header>
        <div class="row m-0 p-0">
            <div class="col-1 m-0 p-0"></div>
            <div class="col-10 m-0 p-0">
                <div class="row m-0 p-0">
                    <div (click)="Back()" class="back col-12 m-0 p-0 pt-4"><i class="fas fa-chevron-left"></i> Volver</div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-7 m-0 p-0">
                        <div class="row m-0 p-0 pt-5">
                            <div *ngIf="datosuser.length === 1" class="title-form pt-3 pb-3 pl-5">
                                DATOS DEL PASAJERO
                            </div>
                            <div *ngIf="datosuser.length > 1" class="title-form pt-3 pb-3 pl-5">
                                DATOS DE LOS PASAJEROS
                            </div>
                            <app-datos-pasajero [lstpaises]="lstpaises" [currency]="currency" *ngFor="let user of datosuser; let i = index;" [user]="user" [index]="i + 1" [LPolicies]="LPolicies"></app-datos-pasajero>
                        </div>
                        <app-persona-contacto [lsCostCenter]="lsCostCenter"></app-persona-contacto>
                        <!--   <app-info-adicional *ngIf="flagHtmlC" [htmlTxtC]="htmlTxtC"></app-info-adicional> -->
                        <app-motivo-viaje [lsReasonflight]="lsReasonFlight"></app-motivo-viaje>
                        <div class="row m-0 p-0 pt-4 pb-5">
                            <div class="col-12 p-0 m-0 text-center">
                                <button class="btn bv-texto-3" (click)="Comprar()">COMPRAR</button>
                            </div>
                            <!--<ng-template #modalresumen let-c="close" let-d="dismiss">
                                <div class="modal-header m-0 p-0" style="border: none;">
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body m-0 p-0">
                                    <app-modal-resumen [lSectionPassengers]="LSectionPassenger" [userid]="userid" [email]="email" [phone]="phone" [lsusuario]="datosusuario" [pseudo]="pseudo" [gds]="gds" [carrierId]="carrierId" [numberpasssengers]="numberpassengers" [ocompany]="ocompany"
                                        [Flighavailabiltyresponse]="flightAvailability_result" [Lpolicies]="LPolicies" [LSection]="LSection" [currency]="flightAvailability_result.currency" [precioadulto]="flightAvailability_result.fareAmountByPassenger" [preciototal]="flightAvailability_result.totalFareAmount"></app-modal-resumen>
                                </div>
                            </ng-template>-->
                        </div>
                    </div>
                    <div class="col-5 m-0 p-0">
                        <app-precio-final [LSection]="LSection" [tipo]="1" [Lpolicies]="LPolicies" [currency]="flightAvailability_result.currency" [precioadulto]="flightAvailability_result.fareAmountByPassenger" [preciototal]="flightAvailability_result.totalFareAmount" [odiscount]="flightAvailability_result.odiscount"></app-precio-final>
                        <app-info-recomendacion [tipovuelo]="tipovuelo" [LSection]="LSection"></app-info-recomendacion>
                        <div class="row m-0 p-0 pt-4 pb-5">
                            <!--   <div class="col-12 p-0 m-0 text-center">
                                <button class="btn bv-texto-3" (click)="GetRegulaciones(modalRegulaciones)">VER REGULACIONES</button>
                            </div> -->
                            <ng-template #modalRegulaciones let-c="close" let-d="dismiss" id="modalfamilias">

                                <div class="modal-header m-0 pb-0" style="border: none;">
                                    <button type="button" class="close pull-right" aria-label="Close">
        <span (click)="modalRef.hide()" aria-hidden="true">&times;</span>
        </button>
                                </div>
                                <div class="modal-body m-0 p-0">
                                    <app-regulaciones-tramo *ngIf="flagrules" [lstrules]="lstRegulaciones"></app-regulaciones-tramo>
                                </div>


                                <div class="row m-0 p-0 pt-4" *ngIf="flagerror">
                                    <div class="col-12 m-0 p-0 pb-4 text-center r-text-sinfam-1">
                                        ¡Lo sentimos!
                                    </div>

                                    <div class="col-12 m-0 p-0 pb-4 text-center r-text-sinfam-2">
                                        {{lstRegulaciones.oError.message}}
                                    </div>

                                    <div class="col-12 m-0 p-0 pb-4 text-center">
                                        <button class="btn bv-texto-3" (click)="modalRef.hide()">OK</button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 m-0 p-0"></div>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin-fade-rotating" style="width: 100% !important; height: 100% !important;"></ngx-spinner>
        </div>
    </app-header>
</ng-container>