

.bv-texto-titulo-1
  font-family: Omnes-med
  font-size: 18px
  color: #3D3D3D

.bv-texto-1
  font-family: Omnes-med
  font-size: 16px
  color: #626262

.bv-texto-2
  font-family: Omnes-med
  font-size: 14px
  color: #3D3D3D

.bv-texto-3
  font-family: Omnes-med
  font-size: 18px
  color: white
  background-color: #ED1C24

.container 
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 15px
  font-family: Omnes-med
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  color: #898989

.container input
  position: absolute
  opacity: 0
  cursor: pointer

.checkmark 
  position: absolute
  top: 0
  left: 0
  height: 20px
  width: 20px
  background-color: #eee
  border-radius: 50%

.container:hover input ~ .checkmark 
  border: 1px solid #9a0303

.container input:checked ~ .checkmark 
  border: 1px solid #9a0303

.checkmark:after 
  content: ""
  position: absolute
  display: none

.container input:checked ~ .checkmark:after 
  display: block

.container .checkmark:after
  top: 3px
  left: 3px
  width: 12px
  height: 12px
  border-radius: 50%
  background: transparent linear-gradient(56deg, #ED1C24 0%, #D51A2C 31%, #3C4749 100%) 0% 0% no-repeat padding-box    

.fechas:focus
  border: 3px solid #6B253C
  border-radius: 4px

.btn-combo
  border: 2px solid #DFD9D8
  box-shadow: none
  border-radius: 4px

.btn-combo:focus
  border: 3px solid #6B253C  