.v-btn-buscar
  color: white
  background-color: #ED1C24
  font-family: Omnes-med
  font-size: 16px
  width: 100%
  height: 47px

.star-filtro

.star-filtro img
  width: 25px
  margin: 0px 8px 0px 8px

.list-star
  width: 100%
  color: #3D3D3D
  font-family: Omnes-med
  font-size: 15px

.number-star
  font-family: Omnes-med
        
.v-texto-2
  color: #898989
  font-family: Omnes-med
  font-size: 16px

.div-autocomplete
  width: 95%
    
.div-destino
  width: 35%

.div-fechas
  width: 35%  

.div-habitaciones
  width: 30%

.div-estrellas
  width: 40%
    
.label-fecha
  width: 100% !important 
  padding: 0px 
  padding: 9px    
      
.input-img
  outline: none 
  border: 0 
  width: 10% !important

.input-date
  outline: none
  border: 0 
  width: 80%
  color: #3D3D3D
  font-family: Omnes-med
  font-size: 15px

.label-habitaciones
  width: 100% !important 
  padding: 0px 
  padding: 9px

.input-text2
  outline: none 
  border: 0 
  width: 50% 
  margin-left: 70px
  color: #3D3D3D
  font-family: Omnes-med
  font-size: 15px
    
.div-btn-star
  width: 100% !important

.txt-estrellas
  color: #3D3D3D
  font-family: Omnes-med
  font-size: 15px

      
    
    
        
      
  
