<ng-container>

    <app-header>

        <div *ngIf="!flagBuscar" class="row m-0 p-0 animated fadeIn fast" style="width: 100% !important;">

            <div class="col-2 m-0 p-0"></div>

            <div class="col-8 m-0 p-0 pl-2 pr-2" style="background-color: white;">
                <div class="row m-0 p-0">
                    <div class="m-0 p-0" style="width: 35%">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <label for="">Destino</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">

                                <div class="ng-autocomplete" style="width: 95%;">
                                    <ng-autocomplete style="color: #898989 !important;" [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div style="width: 35%">
                        <div class="row m-0 p-0">
                            <div class="col-12">
                                <label for="">Fechas</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-6">
                                <label for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
                                            <input type="image"
                                                   src="./assets/images/home/calendario.svg"
                                                   (click)="datepickerIngreso.toggle()"
                                                   style="outline: none; border: 0; width: 10% !important;">
                                            <input type="text"
                                                   placeholder="Ingreso"
                                                   class="p-0 pl-2 v-texto-3"
                                                   style="outline: none; border: 0; width: 80%"
                                                   #datepickerIngreso="bsDatepicker"
                                                   (onHidden)="handlerIngreso(datepickerIngreso)"
                                                   (bsValueChange)="onValueChangeIngreso($event)"
                                                   [minDate]="minDateIngreso"
                                                   bsDatepicker
                                                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red',  selectFromOtherMonth: true }"
                                            >
                                          </label>
                            </div>
                            <div class="col-6">
                                <label for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
                                            <input type="image"
                                                   src="./assets/images/home/calendario.svg"
                                                   (click)="datepickerSalida.toggle()"
                                                   style="outline: none; border: 0; width: 10% !important;">
                                            <input type="text"
                                                   placeholder="Salida"
                                                   class="p-0 pl-2 v-texto-3"
                                                   style="outline: none; border: 0; width: 80%"
                                                   #datepickerSalida="bsDatepicker"
                                                   (bsValueChange)="onValueChangeSalida($event)"
                                                   [minDate]="minDateSalida"
                                                   bsDatepicker
                                                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red',  selectFromOtherMonth: true }"
                                            >
                                          </label>
                            </div>
                        </div>
                    </div>
                    <div style="width: 30%">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <label for="">Habitaciones</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <label for="" class="d-inline-flex box-shadow col-6" style="width: 100% !important; padding: 0px; padding: 9px">
                                  <input type="image"
                                  src="./assets/images/cama.svg"
                                  style="outline: none; border: 0; width: 10% !important;"
                                  >
                                </label>
                            <label for="" class="d-inline-flex box-shadow col-6" style="width: 100% !important; padding: 0px; padding: 9px">
                                <input type="image"
                                src="./assets/images/pasajero.svg"
                                style="outline: none; border: 0; width: 10% !important;"
                                >
                                </label>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div style="width: 20%">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <label for="">Estrellas</label>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <div class="btn-group" style="width: 100% !important;" dropdown>
                                    <button id="button-basic" dropdownToggle type="button" class="btn v-texto-3 dropdown-toggle box-shadow" style="padding-bottom: 10px; padding-top: 10px;" aria-controls="dropdown-basic">
                                        <span class="star-filtro" *ngIf="textoestrellas === '5'"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg">      {{textoestrellas}}</span>
                                        <span class="star-filtro" *ngIf="textoestrellas === '4'"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg">      {{textoestrellas}}</span>
                                        <span class="star-filtro" *ngIf="textoestrellas === '3'"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg">      {{textoestrellas}}</span>
                                        <span class="star-filtro" *ngIf="textoestrellas === '2'"><img src="./assets/images/star.svg"><img src="./assets/images/star.svg">     {{textoestrellas}}</span>
                                        <span class="star-filtro" *ngIf="textoestrellas === '1'"><img src="./assets/images/star.svg">     {{textoestrellas}}</span>
                                            </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu v-texto-3" style="cursor: pointer" role="menu" aria-labelledby="button-basic">
                                        <li role="menuitem"><a class="dropdown-item" (click)="SeleccionarEstrella('', 'Todas')">Todas</a></li>
                                        <li role="menuitem row">
                                            <div class="dropdown-item col-11" (click)="SeleccionarEstrella('8', '5')"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"></div>
                                            <div class="col-1">5</div>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item col-11" (click)="SeleccionarEstrella('7', '4')"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"></a><span class="col-1">4</span>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item col-11" (click)="SeleccionarEstrella('16', '3')"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"></a><span class="col-1">3</span>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item col-11" (click)="SeleccionarEstrella('13', '2')"><img src="./assets/images/estrellas.svg"><img src="./assets/images/estrellas.svg"></a><span class="col-1">2</span>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item col-11" (click)="SeleccionarEstrella('13', '1')"><img src="./assets/images/estrellas.svg"></a><span class="col-1">1</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 20%">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-12 mt-4">
                                <button class="btn v-btn-buscar" (click)="SeachHotel()">
                                    <img src="./assets/images/home/buscador-musical.svg" alt="" style="width: 15px">
                                    Buscar
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 m-0 p-0"></div>

        </div>

        <div *ngIf="flagDinData" class="col-12">

            <div class="row m-0 p-0">

                <div class="col-12 m-0 p-0" style="height: 30px !important;"></div>

                <div class="col-3 m-0 p-0"></div>

                <div class="col-6 m-0 p-0">
                    <div class="col-12 m-0 p-0 text-center">

                        <alert type="warning">
                            No se encontraron itinerarios para esta búsqueda
                        </alert>

                    </div>
                </div>

            </div>

        </div>

        <div *ngIf="flagBuscar" class="col-12 m-0 p-0 animated fadeIn fast" style="background-color: white;">
            <div class="row m-0 p-0">
                <div class="col-3 m-0 p-0 pr-3 pl-5">
                    <app-busqueda-mini [destino]="destinoText" [fchingreso]="fechaSalida" [fchsalida]="fechaRetorno"></app-busqueda-mini>
                </div>
                <div class="col-9 m-0 p-0 pr-5">
                    <app-filtros></app-filtros>
                    <app-resultado *ngFor="let lHotel of LlistaHotel" [nombrehotel]="lHotel.hotelName" [direccion]="lHotel.AddressLine" [distancia]="lHotel.Distance" [estrellas]="lHotel.HotelSegmentCategoryCode" [currency]="lHotel.LBeRoomStay[0].CurrencyCode" [precioxnoche]="lHotel.MinPrice"
                        [precioprom]="lHotel.LBeRoomStay | getMenorPrecio" [urlHotel]="lHotel.OHotelInfo | getimghotel">
                    </app-resultado>
                </div>
            </div>
        </div>


        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin-fade-rotating" style="width: 100% !important; height: 100% !important;"></ngx-spinner>

    </app-header>
</ng-container>