<div style="width: 180px">
    <div class="row m-0 p-0 text-center" style="width: 180px">
        <div style="width: 50%;border: 1px solid;">
            <span class="fechas">{{lhabitaciones.startDate}}</span>
        </div>
        <div style="width: 50%;border: 1px solid;">
            <span class="fechas">{{lhabitaciones.endDate}}</span>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div style="width: 180px; border: 1px solid; text-align: center">
            <span class="PrecioXFecha">
                                    {{lhabitaciones.currency}} {{lhabitaciones.price}}
                            </span>
        </div>
    </div>
</div>