<div class="m-0 p-0 nav-header"
    style="z-index: 1035 !important; position: absolute; background-color: white !important; border-radius: 30px 0 0 0">
    <nav class="navbar navbar-light justify-content-between">
        <div class="container">
            <div class="menu">
                <button (click)="toggleMenu()" class="btn btn-menu-search">
                    <input type="image" src="./assets/images/menu.svg">
                </button>
            </div>
        </div>
    </nav>
    <div class="nav-options" *ngIf="expanded == true" (click)="toggleMenu()">
        <div class="nav-content">
            <ul class="p-0 m-0">
                <!--
        <a *ngFor="let menu of loginDataUser.lmenu" class="" routerLink="{{menu.urlMenu}}">
          {{menu.nameMenu}}
        </a>
        -->
                <li class="row m-0 p-0 box-shadow"
                    style="background-color: white !important; border-radius: 0 0 30px 0 !important;">
                    <div *ngFor="let menu of loginDataUser.lmenu let i=index"  routerLink="{{menu.urlMenu}}"
                        style="cursor: pointer" class="col-12 m-0 p-0 pt-3 pb-3 text-center text-name-menu box-shadow"
                        [ngClass]="{'radiusIni': i + 1 < countLstMenu,'radiusFin': i + 1  == countLstMenu}">
                        <span *ngIf="menu.mainMenu === null">{{menu.nameMenu}}</span>
                        <!-- <ul class="p-0 m-0" *ngIf="menu.lmenu != '' || menu.lmenu.length > 0">
                            <li class="row m-0 p-0 box-shadow"
                                style="background-color: white !important; border-radius: 0 0 30px 0 !important;">
                                <div class="col-12 m-0 p-0 pt-3 pb-3 text-center text-name-menu box-shadow"
                                    *ngFor="let men of menu.lmenu let i=index" routerLink="{{men.urlMenu}}">
                                    <span *ngIf="men.mainMenu === null">{{men.nameMenu}}</span></div>
                            </li>
                        </ul> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
