<div class="m-0 p-0 pr-3 pb-5 box-shadow">
    <div class="row m-0 p-0">
        <div class="row m-0 p-0">
            <div class="txtVuelo col-12 m-0 p-0 pb-4 pt-4">
                <span class="spanVuelos">Mis Vuelos</span>
            </div>
        </div>
        <div class="section col-12 m-0 p-0 pb-4">
            <div class="row m-0 p-0">
                <div class="col-6 m-0 p-0 pt-5">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0">
                            <span class="m-0 p-0"><img class="Img" src="assets/images/layer5.svg"></span>
                            <span class="txtAerolinea pl-4">Aerolinea Operadora : LATAM</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pt-5">
                            <span class="txtVuelo ">Vuelo AV140 - Airbus A319</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-ex-vuelo-segment>
        </app-ex-vuelo-segment>
    </div>


</div>