<ng-container>
    <app-header>
        <div class="row m-0 p-0">
            <div class="col-1 m-0 p-0"></div>
            <div *ngIf="dashboard" class="col-10 m-0 p-0 container">
                <div class="chart">
                    <div *ngIf="dashboard.lpolicyPercentages?.length > 0; else emptyPolicyPercentagesChart" [chart]="policyPercentagesChart" class="chart-svg"></div>
                    <ng-template #emptyPolicyPercentagesChart>
                        <div class="chart-empty">
                            <div class="title">Políticas Infringidas</div>
                            <div class="empty">Sin datos</div>
                        </div>
                    </ng-template>
                </div>
                <div class="chart">
                    <div>
                        <div class="title">Días de Anticipación</div>
                        <div *ngIf="dashboard.lanticipationDays?.length >= 1; else emptyAnticipationDays">
                            <div *ngFor="let item of dashboard.lanticipationDays">
                                <span class="subtitle">{{item.flight}}</span><br>
                                <span class="value">{{item.days | number:'1.0-1'}}</span>
                                <span class="label">días promedio de anticipación</span>
                                <br>
                            </div>
                        </div>

                        <ng-template #emptyAnticipationDays>
                            <div class="empty">Sin datos</div>
                        </ng-template>
                    </div>
                </div>
                <div class="chart">
                    <div *ngIf="dashboard.lpolicyAmounts?.length > 0; else emptyPolicyAmounts" [chart]="policyAmountsChart" class="chart-svg"></div>
                    <ng-template #emptyPolicyAmounts>
                        <div class="chart-empty">
                            <div class="title">Impacto en Costos</div>
                            <div class="empty">Sin datos</div>
                        </div>
                    </ng-template>
                </div>
                <div class="chart">
                    <div *ngIf="dashboard.lcostCenterPolicies?.length > 0; else emptyCostCenterPolicies" [chart]="costCenterPoliciesChart" class="chart-svg"></div>
                    <ng-template #emptyCostCenterPolicies>
                        <div class="chart-empty">
                            <div class="title">Impacto en Costos por Centro de Costos</div>
                            <div class="empty">Sin datos</div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin-fade-rotating" style="width: 100% !important; height: 100% !important;"></ngx-spinner>

    </app-header>
</ng-container>