<div class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0 text-center d-flex justify-content-center align-items-center r-div-pxa">
            Tramo 1
        </div>
    </div>
</div>
<div class="col-12 m-0 p-0 v-texto-2">
    Origen
</div>
<div id="txtOrigen1" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="origentTexto1" style="color: #898989 !important;" [data]="data" [searchKeyword]="keyword" (selected)='selectEvent(1, $event)' (inputChanged)='onChangeSearch(1, $event)' (inputFocused)='onFocused(1, $event)' [itemTemplate]="itemTemplate1"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate1 let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div class="col-12 m-0 p-0 v-texto-2">
    Destino
</div>
<div id="txtDestino1" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="destinoTexto1" style="color: #898989 !important;" [data]="data2" [searchKeyword]="keyword" (selected)='selectEvent(2, $event)' (inputChanged)='onChangeSearch(2, $event)' (inputFocused)='onFocused(2, $event)' [itemTemplate]="itemTemplate2"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate2 let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div class="col-12 m-0 p-0 v-texto-2">
    Fecha
</div>
<div class="col-12 m-0 p-0">

  <!--
    <label id="txtFechaSalida1" for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
    <input type="image"
           src="./assets/images/home/calendario.svg"
           (click)="datepickerSalida1.toggle()"
           style="outline: none; border: 0; width: 20% !important; height: 20px;">
    <input type="text"
           id="datepickerSalida1"
           placeholder="Salida"
           class="p-0 pl-2 v-texto-3"
           style="outline: none; border: 0; width: 80%"
           #datepickerSalida1="bsDatepicker"
           [minDate]="minDateSalida1"
           (bsValueChange)="onValueChangeSalida1($event)"
           bsDatepicker
           [(ngModel)]="fecha1"
           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
    >
  </label>
  -->
  <div class="row m-0 p-0">
    <div class="col-12"
         [popover]="popTemplate"
         [isOpen]="isOpen1"
         triggers=""
    ></div>
    <div id="txtFechaSalida1" class="col-12 m-0 p-0">
      <angular-single-date-picker
        id="dateSingle1"
        [props]="singleDatePickerProps1"
        [(ngModel)]="selectedDate1"
        (ngModelChange)="_changeDateAdv1($event)"
      ></angular-single-date-picker>
    </div>
  </div>

</div>

<hr>

<div class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0 text-center d-flex justify-content-center align-items-center r-div-pxa">
            Tramo 2
        </div>
    </div>
</div>
<div class="col-12 m-0 p-0 v-texto-2">Origen</div>
<div id="txtOrigen2" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="origentTexto2" style="color: #898989 !important;" [data]="data3" [searchKeyword]="keyword" (selected)='selectEvent(3, $event)' (inputChanged)='onChangeSearch(3, $event)' (inputFocused)='onFocused(3, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div class="col-12 m-0 p-0 v-texto-2">Destino</div>
<div id="txtDestino2" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="destinoTexto2" style="color: #898989 !important;" [data]="data4" [searchKeyword]="keyword" (selected)='selectEvent(4, $event)' (inputChanged)='onChangeSearch(4, $event)' (inputFocused)='onFocused(4, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div class="col-12 m-0 p-0 v-texto-2">Fecha</div>
<div class="col-12 m-0 p-0">
  <!--
    <label id="txtFechaSalida2" for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
    <input type="image"
           src="./assets/images/home/calendario.svg"
           (click)="datepickerSalida2.toggle()"
           style="outline: none; border: 0; width: 20% !important; height: 20px;">
    <input type="text"
           id="datepickerSalida2"
           placeholder="Salida"
           class="p-0 pl-2 v-texto-3"
           style="outline: none; border: 0; width: 80%"
           #datepickerSalida2="bsDatepicker"
           [minDate]="minDateSalida2"
           (bsValueChange)="onValueChangeSalida2($event)"
           bsDatepicker
           [(ngModel)]="fecha2"
           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
    >
  </label>
  -->
  <div class="row m-0 p-0">
    <div class="col-12"
         [popover]="popTemplate"
         [isOpen]="isOpen2"
         triggers=""
    ></div>
    <div id="txtFechaSalida2" class="col-12 m-0 p-0">
      <angular-single-date-picker
        id="dateSingle2"
        [props]="singleDatePickerProps2"
        [(ngModel)]="selectedDate2"
        (ngModelChange)="_changeDateAdv2($event)"
      ></angular-single-date-picker>
    </div>
  </div>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="!flagTramo3" (click)="agregarTramo(3)" class="btn add-tramo pt-0 pb-0"> + Agregar tramo</button>
</div>

<hr *ngIf="flagTramo3">
<div *ngIf="flagTramo3" class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0 text-center d-flex justify-content-center align-items-center r-div-pxa">
            Tramo 3
        </div>
    </div>
</div>
<div *ngIf="flagTramo3" class="col-12 m-0 p-0 v-texto-2">Origen</div>
<div id="txtOrigen3" *ngIf="flagTramo3" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="origentTexto3" style="color: #898989 !important;" [data]="data5" [searchKeyword]="keyword" (selected)='selectEvent(5, $event)' (inputChanged)='onChangeSearch(5, $event)' (inputFocused)='onFocused(5, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo3" class="col-12 m-0 p-0 v-texto-2">Destino</div>
<div id="txtDestino3" *ngIf="flagTramo3" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="destinoTexto3" style="color: #898989 !important;" [data]="data6" [searchKeyword]="keyword" (selected)='selectEvent(6, $event)' (inputChanged)='onChangeSearch(6, $event)' (inputFocused)='onFocused(6, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo3" class="col-12 m-0 p-0 v-texto-2">Fecha</div>
<div *ngIf="flagTramo3" class="col-12 m-0 p-0">
  <!--
    <label id="txtFechaSalida3" for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
    <input type="image"
           src="./assets/images/home/calendario.svg"
           (click)="datepickerSalida3.toggle()"
           style="outline: none; border: 0; width: 20% !important; height: 20px;">
    <input type="text"
           id="datepickerSalida3"
           placeholder="Salida"
           class="p-0 pl-2 v-texto-3"
           style="outline: none; border: 0; width: 80%"
           #datepickerSalida3="bsDatepicker"
           [minDate]="minDateSalida3"
           (bsValueChange)="onValueChangeSalida3($event)"
           bsDatepicker
           [(ngModel)]="fecha3"
           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
    >
  </label>
  -->
  <div class="row m-0 p-0">
    <div class="col-12"
         [popover]="popTemplate"
         [isOpen]="isOpen3"
         triggers=""
    ></div>
    <div id="txtFechaSalida3" class="col-12 m-0 p-0">
      <angular-single-date-picker
        [props]="singleDatePickerProps3"
        [(ngModel)]="selectedDate3"
        (ngModelChange)="changeDateAdv3($event)"
      ></angular-single-date-picker>
    </div>
  </div>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="flagTramo3 && !flagTramo4" (click)="eliminarTramo(3)" class="btn delete-tramo pt-0 pb-0"> - Eliminar tramo</button>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="flagTramo3 && !flagTramo4" (click)="agregarTramo(4)" class="btn add-tramo pt-0 pb-0"> + Agregar tramo</button>
</div>

<hr *ngIf="flagTramo4">
<div *ngIf="flagTramo4" class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0 text-center d-flex justify-content-center align-items-center r-div-pxa">
            Tramo 4
        </div>
    </div>
</div>
<div *ngIf="flagTramo4" class="col-12 m-0 p-0 v-texto-2">Origen</div>
<div id="txtOrigen4" *ngIf="flagTramo4" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="origentTexto4" style="color: #898989 !important;" [data]="data7" [searchKeyword]="keyword" (selected)='selectEvent(7, $event)' (inputChanged)='onChangeSearch(7, $event)' (inputFocused)='onFocused(7, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo4" class="col-12 m-0 p-0 v-texto-2">Destino</div>
<div id="txtDestino4" *ngIf="flagTramo4" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="destinoTexto4" style="color: #898989 !important;" [data]="data8" [searchKeyword]="keyword" (selected)='selectEvent(8, $event)' (inputChanged)='onChangeSearch(8, $event)' (inputFocused)='onFocused(8, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo4" class="col-12 m-0 p-0 v-texto-2">Fecha</div>
<div *ngIf="flagTramo4" class="col-12 m-0 p-0">
  <!--
    <label id="txtFechaSalida4" for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
    <input type="image"
           src="./assets/images/home/calendario.svg"
           (click)="datepickerSalida4.toggle()"
           style="outline: none; border: 0; width: 20% !important; height: 20px;">
    <input type="text"
           id="datepickerSalida4"
           placeholder="Salida"
           class="p-0 pl-2 v-texto-3"
           style="outline: none; border: 0; width: 80%"
           #datepickerSalida4="bsDatepicker"
           [minDate]="minDateSalida4"
           (bsValueChange)="onValueChangeSalida4($event)"
           bsDatepicker
           [(ngModel)]="fecha4"
           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
    >
  </label>
  -->
  <div class="row m-0 p-0">
    <div class="col-12"
         [popover]="popTemplate"
         [isOpen]="isOpen4"
         triggers=""
    ></div>
    <div id="txtFechaSalida4" class="col-12 m-0 p-0">
      <angular-single-date-picker
        [props]="singleDatePickerProps4"
        [(ngModel)]="selectedDate4"
        (ngModelChange)="changeDateAdv4($event)"
      ></angular-single-date-picker>
    </div>
  </div>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="flagTramo4 && !flagTramo5" (click)="eliminarTramo(4)" class="btn delete-tramo pt-0 pb-0"> - Eliminar tramo</button>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="flagTramo4 && !flagTramo5" (click)="agregarTramo(5)" class="btn add-tramo pt-0 pb-0"> + Agregar tramo</button>
</div>

<hr *ngIf="flagTramo5">
<div *ngIf="flagTramo5" class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0 text-center d-flex justify-content-center align-items-center r-div-pxa">
            Tramo 5
        </div>
    </div>
</div>
<div *ngIf="flagTramo5" class="col-12 m-0 p-0 v-texto-2">Origen</div>
<div id="txtOrigen5" *ngIf="flagTramo5" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="origentTexto5" style="color: #898989 !important;" [data]="data9" [searchKeyword]="keyword" (selected)='selectEvent(9, $event)' (inputChanged)='onChangeSearch(9, $event)' (inputFocused)='onFocused(9, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo5" class="col-12 m-0 p-0 v-texto-2">Destino</div>
<div id="txtDestino5" *ngIf="flagTramo5" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="destinoTexto5" style="color: #898989 !important;" [data]="data10" [searchKeyword]="keyword" (selected)='selectEvent(10, $event)' (inputChanged)='onChangeSearch(10, $event)' (inputFocused)='onFocused(10, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo5" class="col-12 m-0 p-0 v-texto-2">Fecha</div>
<div *ngIf="flagTramo5" class="col-12 m-0 p-0">
  <!--
    <label id="txtFechaSalida5" for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
    <input type="image"
           src="./assets/images/home/calendario.svg"
           (click)="datepickerSalida5.toggle()"
           style="outline: none; border: 0; width: 20% !important; height: 20px;">
    <input type="text"
           id="datepickerSalida5"
           placeholder="Salida"
           class="p-0 pl-2 v-texto-3"
           style="outline: none; border: 0; width: 80%"
           #datepickerSalida5="bsDatepicker"
           [minDate]="minDateSalida5"
           (bsValueChange)="onValueChangeSalida5($event)"
           bsDatepicker
           [(ngModel)]="fecha5"
           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
    >
  </label>
  -->
  <div class="row m-0 p-0">
    <div class="col-12"
         [popover]="popTemplate"
         [isOpen]="isOpen5"
         triggers=""
    ></div>
    <div id="txtFechaSalida5" class="col-12 m-0 p-0">
      <angular-single-date-picker
        [props]="singleDatePickerProps5"
        [(ngModel)]="selectedDate5"
        (ngModelChange)="changeDateAdv5($event)"
      ></angular-single-date-picker>
    </div>
  </div>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="flagTramo5 && !flagTramo6" (click)="eliminarTramo(5)" class="btn delete-tramo pt-0 pb-0"> - Eliminar tramo</button>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="flagTramo5 && !flagTramo6" (click)="agregarTramo(6)" class="btn add-tramo pt-0 pb-0"> + Agregar tramo</button>
</div>

<hr *ngIf="flagTramo6">
<div *ngIf="flagTramo6" class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0 text-center d-flex justify-content-center align-items-center r-div-pxa">
            Tramo 6
        </div>
    </div>
</div>
<div *ngIf="flagTramo6" class="col-12 m-0 p-0 v-texto-2">Origen</div>
<div id="txtOrigen6" *ngIf="flagTramo6" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="origentTexto6" style="color: #898989 !important;" [data]="data11" [searchKeyword]="keyword" (selected)='selectEvent(11, $event)' (inputChanged)='onChangeSearch(11, $event)' (inputFocused)='onFocused(11, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo6" class="col-12 m-0 p-0 v-texto-2">Destino</div>
<div id="txtDestino6" *ngIf="flagTramo6" class="col-12 m-0 p-0">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [(ngModel)]="destinoTexto6" style="color: #898989 !important;" [data]="data12" [searchKeyword]="keyword" (selected)='selectEvent(12, $event)' (inputChanged)='onChangeSearch(12, $event)' (inputFocused)='onFocused(12, $event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <div class="" style="width: 90%">
                <div class="row">
                    <div class="col-1">
                        <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;" src="./assets/images/ciudad1.png" alt="">
                        <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;" src="./assets/images/aeropuerto2.jpeg" alt="">
                    </div>
                    <div class="col-11">
                        <a class="m-0 p-0" [innerHTML]="item.name"></a>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>

        </ng-template>
    </div>

</div>
<div *ngIf="flagTramo6" class="col-12 m-0 p-0 v-texto-2">Fecha</div>
<div *ngIf="flagTramo6" class="col-12 m-0 p-0">
  <!--
    <label id="txtFechaSalida6" for="" class="d-inline-flex box-shadow" style="width: 100% !important; padding: 0px; padding: 9px">
    <input type="image"
           src="./assets/images/home/calendario.svg"
           (click)="datepickerSalida6.toggle()"
           style="outline: none; border: 0; width: 20% !important; height: 20px;">
    <input type="text"
           id="datepickerSalida6"
           placeholder="Salida"
           class="p-0 pl-2 v-texto-3"
           style="outline: none; border: 0; width: 80%"
           #datepickerSalida6="bsDatepicker"
           [minDate]="minDateSalida6"
           (bsValueChange)="onValueChangeSalida6($event)"
           bsDatepicker
           [(ngModel)]="fecha6"
           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
    >
  </label>
  -->
  <div class="row m-0 p-0">
    <div class="col-12"
         [popover]="popTemplate"
         [isOpen]="isOpen6"
         triggers=""
    ></div>
    <div id="txtFechaSalida6" class="col-12 m-0 p-0">
      <angular-single-date-picker
        [props]="singleDatePickerProps6"
        [(ngModel)]="selectedDate6"
        (ngModelChange)="changeDateAdv6($event)"
      ></angular-single-date-picker>
    </div>
  </div>
</div>
<div class="col-12 m-0 p-0">
    <button *ngIf="flagTramo6" (click)="eliminarTramo(6)" class="btn delete-tramo pt-0 pb-0"> - Eliminar tramo</button>
</div>

<div class="col-12 m-0 p-0 pb-3"></div>

<ng-template
  class="m-0 p-0"
  style="background-color: whitesmoke !important; color: darkred !important;"
  #popTemplate let-message="message"
>
  <div class="m-0 p-0" style="background-color: whitesmoke !important; color: darkred !important; padding: 3px !important;">
    {{ txtPopover1 }}
  </div>
</ng-template>
