<div *ngIf="section.isVisible" class="m-0 p-0 pt-4 pb-4 box-shadow-important" style="width: 100%; border-right: 1px solid rgba(219, 223, 227, 0.303017) !important; background-color: #FDFDFD !important;">

    <div class="row m-0 p-0">

        <div class="col-12 m-0 p-0">


            <div class="row m-0 p-0">
                <div class="col-3 m-0 p-0 pl-2">
                    <div class="row m-0 p-0">
                        <div class="col-3 m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <img src="./assets/images/{{imgIdaVuelta}}" alt="">
                            </div>
                        </div>
                        <div class="col-8 m-0 p-0 pl-1">
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0 p-0 text-vuelo">
                                    {{textType}}
                                </div>
                                <div class="col-12 m-0 p-0 s-text-2">
                                    {{section.departureDateShow}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 s-text-1">
                            {{section.origin}}
                        </div>
                        <div class="col-12 m-0 p-0 s-text-2">
                            {{section.airportOrigin}}
                        </div>
                    </div>
                </div>

                <div class="col-3 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 s-text-1">
                            {{section.destination}}
                        </div>
                        <div class="col-12 m-0 p-0 s-text-2">
                            {{section.airportDestination}}
                        </div>
                    </div>
                </div>

                <div class="col-3 m-0 p-0 s-text-3 text-center">
                    Equipaje
                </div>
            </div>

        </div>

        <div class="col-12 m-0 p-0">

            <div class="row m-0 p-0">
                <!-- style="border-right: 1px solid #898989;" -->
                <div class="col-12 m-0 p-0 pt-4 pb-4">
                    <app-recomendacion-segment [section]="section" [segment]="segment" [bagAllowed]="section.bagAllowed" [bagQuantity]="section.bagQuantity" [indexSegment]="i+1" [recommendationIndex]="recommendationIndex" [recommendationId]="recommendationId" [sectionId]="section.sectionId"
                        [lSectionGroups]="section.lSectionGroups" (outSegmentCheck)="setSegmentCheck($event)" *ngFor="let segment of section.lSegments; let i=index"></app-recomendacion-segment>
                </div>

                <!--
        <div class="col-3 m-0 p-0 pt-4 pb-4">

          <div class="row m-0 p-0" *ngFor="let segment of section.lSegments">

            <div class="col-4 m-0 p-0 pt-2 pb-2 text-center d-flex justify-content-center align-items-center">
              <img *ngIf="section.bagAllowed" src="./assets/images/accesorio_rojo.svg" alt="">
              <img *ngIf="!section.bagAllowed" src="./assets/images/accesorio_gris.svg" alt="">
            </div>

            <div class="col-4 m-0 p-0 pt-2 pb-2 text-center d-flex justify-content-center align-items-center">
              <img *ngIf="section.bagAllowed" src="./assets/images/equipaje_rojo.svg" alt="">
              <img *ngIf="!section.bagAllowed" src="./assets/images/equipaje_gris.svg" alt="">
            </div>

            <div class="col-4 m-0 p-0 text-center d-flex justify-content-center align-items-center">
              <button>x</button>
            </div>

          </div>

        </div>
        -->


            </div>

        </div>

    </div>




</div>