<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 pt-4 pl-4 pb-4">
        <span><img src="/assets/images/latam.svg"></span>
    </div>
    <div class="col-12 m-0 p-0">
        <div class="row p-0 m-0">
            <div class="col-6 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12 text-city">
                        LIM
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 text-airport">
                        Aero, Jorge Chavez
                    </div>
                </div>
            </div>
            <div class="col-6 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12 text-city">
                        JFK
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 text-airport">
                        Aero, New York
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 m-0 p-0 pl-4 pt-4">
        <div class="row m-0 p-0">
            <div class="col-8 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-4 m-0 p-0 text-departure pl-2">
                        01:15
                    </div>
                    <div class="col-4 m-0 p-0 pr-5">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0 text-center text-tipovuelo">
                                Directo
                            </div>
                            <div class="col-12 m-0 p-0 text-center img-tipovuelo">
                                <img src="./assets/images/home/directo.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0 text-arrival pl-2">
                        04:30
                    </div>
                </div>
            </div>
            <div class="col-4 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-6 m-0 p-0 text-totaltime pt-1">
                        3h 15m
                    </div>
                    <div class="col-6 m-0 p-0 div-bag">
                        <span class="pr-3"><img src="./assets/images/accesorio_rojo.svg" alt=""></span>
                        <span><img src="./assets/images/equipaje_rojo.svg" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>