<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 pl-4 pt-4">
        <div class="row m-0 p-0">
            <div class="col-8 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-4 m-0 p-0 text-departure pl-2">
                        {{timeOfDepartureShow}}
                    </div>
                    <div class="col-4 m-0 p-0 pr-5">
                        <div class="row m-0 p-0">
                            <div *ngIf="lSegmentGroupsLength===1" class="col-12 m-0 p-0 text-center text-tipovuelo">
                                Directo
                            </div>
                            <div *ngIf="lSegmentGroupsLength===1" class="col-12 m-0 p-0 text-center img-tipovuelo">
                                <img class="img-fluid" src="./assets/images/home/directo.png" alt="">
                            </div>
                            <div *ngIf="lSegmentGroupsLength>1" class="col-12 m-0 p-0 text-center text-tipovuelo">
                                {{lSegmentGroupsLength - 1}} escalas
                            </div>
                            <div *ngIf="lSegmentGroupsLength>1" class="col-12 m-0 p-0 text-center img-tipovuelo">
                                <img class="img-fluid" src="./assets/images/home/escala.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0 text-arrival pl-2">
                        {{timeOfArrivalShow}}
                    </div>
                </div>
            </div>
            <div class="col-4 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-6 m-0 p-0 text-totaltime pt-1">
                        {{totalFlightTimeShow}}
                    </div>
                    <div class="col-6 m-0 p-0 div-bag">
                        <span tooltip="Permite equipaje de mano." class="pr-3"><img style="width: 33px;" src="./assets/images/bolsodemano-1.svg" alt=""></span>
                        <span> <img style="width: 33px;" tooltip="Incluye equipaje para documentar. {{bagquantity}} maleta(s) por adulto." *ngIf="bagAllowed" src="./assets/images/maleta-si.svg" alt="">
                            <img style="width: 33px;" tooltip="No incluye maleta." *ngIf="!bagAllowed" src="./assets/images/maleta-no.svg" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>