.tooltipBagDiv {
    width: 378px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 83.1%;
    margin-left: -170px;
    display: block;
}

.tooltipBagDiv::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    transform: rotate(900deg);
}

.number-adults {
    display: inline-flex;
    position: relative;
    left: -40px;
}

.number-spinner {
    position: relative;
    left: 80px;
    bottom: 7px;
    width: 140px;
}

.btn-agregar {
    display: inline-flex;
}

.añadir {
    position: relative;
    right: 10px;
    bottom: 6px;
}

.title-room {
    margin-right: 200px;
    margin-top: 10px;
}

.text-btn {
    margin-right: 100px;
    margin-bottom: 10px;
}

.delete {
    float: right;
    position: relative;
    left: 160px;
    bottom: 30px;
}

.tooltipHabitaciones {
    width: 387px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 89%;
    left: 44%;
    margin-left: -170px;
    display: block;
}