



<div class="" style="width: 280px;">

  <div class="row m-0 p-0 box-shadow">

    <div class="col-12 m-0 p-0 d-flex justify-content-center align-items-center" style="height: 70px;">
      {{fareFamily.fareFamilyName}}
    </div>

    <div class="col-12 m-0 p-0"></div>

    <div class="col-12 m-0 p-0"></div>

    <div class="col-12 m-0 p-0"></div>

    <div class="col-12 m-0 p-0 d-flex justify-content-center align-items-center">

      <label>
        <input type="radio">
        <span class="pl-1">{{currency}}</span>
        <span class="pl-1">{{fareFamily.fareFamilyPrice}}</span>
      </label>

    </div>

  </div>

</div>








