<ng-container>
  <app-header>
    <div
      *ngIf="carsSearch.lcategories.length > 0 && flagCars == true"
      class="row pt-4"
    >
      <div class="col-3 pt-2">
        <div class="row box-shadow ml-4 mr-4">
          <div class="col-12 alq-text-13">Alquiler de autos</div>

          <div class="col-12 alq-text-14 pt-3">Lugar de retiro</div>

          <div class="col-12">
            <ng-autocomplete
              [(ngModel)]="model.origentTexto"
              triggers=""
              style="color: #898989 !important"
              [data]="data"
              [searchKeyword]="keyword"
              (selected)="selectEvent($event)"
              (inputChanged)="onChangeSearch($event)"
              (inputFocused)="onFocused($event)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
            >
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <div class="" style="width: 100%">
                <div class="row">
                  <div class="col-1">
                    <img
                      *ngIf="item.categoryId === 2"
                      style="width: 25px; padding-right: 5px"
                      src="./assets/images/ciudad1.png"
                      alt=""
                    />
                    <img
                      *ngIf="item.categoryId === 1"
                      style="width: 25px; padding-right: 5px"
                      src="./assets/images/aeropuerto2.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="col-11">
                    <a class="m-0 p-0" [innerHTML]="item.name"></a>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <!--<div [innerHTML]="notFound"></div>-->
            </ng-template>
          </div>

          <div class="col-12 pt-3">
            <mat-checkbox
              class="alq-text-15"
              color="warn"
              class="example-margin"
              [(ngModel)]="flagOtroDestino"
            >
              Devolver en otro destino
            </mat-checkbox>
          </div>

          <div *ngIf="flagOtroDestino" class="col-12 alq-text-14">
            Lugar de Devolución
          </div>

          <div *ngIf="flagOtroDestino" class="col-12">
            <ng-autocomplete
              [(ngModel)]="model.destinoTexto"
              style="color: #898989 !important"
              [data]="data2"
              [searchKeyword]="keyword"
              (selected)="selectEvent2($event)"
              (inputChanged)="onChangeSearch2($event)"
              (inputFocused)="onFocused2($event)"
              [itemTemplate]="itemTemplate2"
              [notFoundTemplate]="notFoundTemplate2"
            >
            </ng-autocomplete>

            <ng-template #itemTemplate2 let-item>
              <div class="" style="width: 100%">
                <div class="row">
                  <div class="col-1">
                    <img
                      *ngIf="item.categoryId === 2"
                      style="width: 25px; padding-right: 5px"
                      src="./assets/images/ciudad1.png"
                      alt=""
                    />
                    <img
                      *ngIf="item.categoryId === 1"
                      style="width: 25px; padding-right: 5px"
                      src="./assets/images/aeropuerto2.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="col-11">
                    <a class="m-0 p-0" [innerHTML]="item.name"></a>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <!--<div [innerHTML]="notFound"></div>-->
            </ng-template>

            <ng-template #notFoundTemplate2 let-notFound>
              <!--<div [innerHTML]="notFound"></div>-->
            </ng-template>
          </div>

          <div class="col-12 alq-text-14 pt-2">Fecha de Recojo</div>

          <div class="col-12">
            <div class="row">
              <div class="col-8 pr-0">
                <label
                  id="txtFechaSalida"
                  for=""
                  class="d-inline-flex box-shadow fechas"
                  style="
                    width: 100% !important;
                    padding: 0px;
                    padding: 9px;
                    border: 2px solid #dfd9d8;
                    border-radius: 4px;
                    height: 40px !important;
                  "
                >
                  <input
                    type="image"
                    src="./assets/images/home/calendario.svg"
                    (click)="datepickerSalida.toggle()"
                    style="outline: none; border: 0; width: 25px !important"
                  />
                  <input
                    type="text"
                    readonly
                    placeholder=""
                    class="p-0 pl-0 alq-text-1"
                    style="outline: none; border: 0; width: 80%"
                    #datepickerSalida="bsDatepicker"
                    (onHidden)="handlerSalida()"
                    (bsValueChange)="onValueChangeSalida($event)"
                    [minDate]="minDateSalida"
                    bsDatepicker
                    id="fechasalida"
                    [bsValue]="bsValue"
                    value=""
                    [bsConfig]="{
                      dateInputFormat: 'DD/MM/YYYY',
                      containerClass: 'theme-red',
                      selectFromOtherMonth: true
                    }"
                    [(ngModel)]="model.fechasalida"
                  />
                </label>
              </div>
              <div class="col-4 pl-0">
                <select
                  [(ngModel)]="model.timeIni"
                  class="form-control pl-0 pr-0 alq-text-1"
                >
                  <option value="00:00">00:00</option>
                  <option value="01:00">01:00</option>
                  <option value="02:00">02:00</option>
                  <option value="03:00">03:00</option>
                  <option value="04:00">04:00</option>
                  <option value="05:00">05:00</option>
                  <option value="06:00">06:00</option>
                  <option value="07:00">07:00</option>
                  <option value="08:00">08:00</option>
                  <option value="09:00">09:00</option>
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                  <option value="13:00">13:00</option>
                  <option value="14:00">14:00</option>
                  <option value="15:00">15:00</option>
                  <option value="16:00">16:00</option>
                  <option value="17:00">17:00</option>
                  <option value="18:00">18:00</option>
                  <option value="19:00">19:00</option>
                  <option value="20:00">20:00</option>
                  <option value="21:00">21:00</option>
                  <option value="22:00">22:00</option>
                  <option value="23:00">23:00</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12 alq-text-14 pt-2">Fecha de Devolucion</div>

          <div class="col-12">
            <div class="row">
              <div class="col-8 pr-0">
                <label
                  id="txtFechaDestino"
                  for=""
                  class="d-inline-flex box-shadow"
                  style="
                    width: 100% !important;
                    padding: 0px;
                    padding: 9px;
                    border: 2px solid #dfd9d8;
                    border-radius: 4px;
                    height: 40px !important;
                  "
                >
                  <input
                    type="image"
                    src="./assets/images/home/calendario.svg"
                    (click)="datepickerRetorno.toggle()"
                    style="outline: none; border: 0; width: 25px !important"
                  />
                  <input
                    type="text"
                    readonly
                    placeholder=""
                    class="p-0 pl-0 alq-text-1"
                    style="outline: none; border: 0; width: 80%"
                    #datepickerRetorno="bsDatepicker"
                    (bsValueChange)="onValueChangeRetorno($event)"
                    [minDate]="minDateRetorno"
                    [dateCustomClasses]="dateCustomClasses"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'DD/MM/YYYY',
                      containerClass: 'theme-red',
                      selectFromOtherMonth: true
                    }"
                    id="fechadestino"
                    [(ngModel)]="model.fechadestino"
                  />
                  <!--[isOpen]="isOpendate"-->
                </label>
              </div>
              <div class="col-4 pl-0">
                <select
                  [(ngModel)]="model.timeFin"
                  class="form-control pl-0 pr-0 alq-text-1"
                >
                  <option value="00:00">00:00</option>
                  <option value="01:00">01:00</option>
                  <option value="02:00">02:00</option>
                  <option value="03:00">03:00</option>
                  <option value="04:00">04:00</option>
                  <option value="05:00">05:00</option>
                  <option value="06:00">06:00</option>
                  <option value="07:00">07:00</option>
                  <option value="08:00">08:00</option>
                  <option value="09:00">09:00</option>
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                  <option value="13:00">13:00</option>
                  <option value="14:00">14:00</option>
                  <option value="15:00">15:00</option>
                  <option value="16:00">16:00</option>
                  <option value="17:00">17:00</option>
                  <option value="18:00">18:00</option>
                  <option value="19:00">19:00</option>
                  <option value="20:00">20:00</option>
                  <option value="21:00">21:00</option>
                  <option value="22:00">22:00</option>
                  <option value="23:00">23:00</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12 pt-3">
            <button (click)="searchAutos()" class="btn alq-btn-buscar">
              <img
                src="./assets/images/home/buscador-musical.svg"
                alt=""
                style="width: 15px"
              />
              Buscar
            </button>
          </div>

          <div class="col-12"></div>
        </div>
      </div>
      <div *ngIf="flagResult" class="col-9 pt-2 pb-3">
        <div class="row">
          <div class="col-12 pr-5 pb-5">
            <div class="row m-0 p-0">
              <div
                class="col-12 box-shadow"
                style="border-radius: 20px 0 20px 0"
              >
                <div class="row m-0 p-0">
                  <div class="m-0 p-0" style="width: 45% !important">
                    <div class="row m-0 p-0">
                      <div class="col-8 m-0 p-0">
                        <div class="row">
                          <div class="col-12 alq-text-6">Punto de recojo</div>

                          <div class="col-12 alq-text-6">
                            {{ cabeceraOrigen }}
                          </div>
                        </div>
                      </div>

                      <div class="col-1">
                        <div
                          class="row m-0 p-0"
                          style="
                            height: 100% !important;
                            width: 100% !important;
                          "
                        >
                          <div
                            style="
                              width: 1px !important;
                              background-color: #707070;
                            "
                          ></div>
                        </div>
                      </div>

                      <div class="col-3 m-0 p-0">
                        <div class="row">
                          <div class="col-12 alq-text-6">
                            {{ cabeceraOrigenMes }}
                          </div>

                          <div
                            class="col-12 alq-text-6"
                            style="color: #ff0000 !important"
                          >
                            {{ cabeceraOrigenFecha }}
                            <span>{{ cabeceraOrigenHora }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="m-0 p-0"
                    style="
                      width: 10% !important;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                  >
                    <strong>
                      <span
                        class="m-0 p-0"
                        style="color: #6b253c; font-size: 30px !important"
                        >></span
                      >
                    </strong>
                  </div>

                  <div class="m-0 p-0" style="width: 45% !important">
                    <div class="row m-0 p-0">
                      <div class="col-8 m-0 p-0">
                        <div class="row">
                          <div class="col-12 alq-text-6">
                            Punto de devolución
                          </div>

                          <div class="col-12 alq-text-6">
                            {{ cabeceraDestino }}
                          </div>
                        </div>
                      </div>

                      <div class="col-1">
                        <div
                          class="row m-0 p-0"
                          style="
                            height: 100% !important;
                            width: 100% !important;
                          "
                        >
                          <div
                            style="
                              width: 1px !important;
                              background-color: #707070;
                            "
                          ></div>
                        </div>
                      </div>

                      <div class="col-3 m-0 p-0">
                        <div class="row">
                          <div class="col-12 alq-text-6">
                            {{ cabeceraDestinoMes }}
                          </div>

                          <div
                            class="col-12 alq-text-6"
                            style="color: #ff0000 !important"
                          >
                            {{ cabeceraDestinoFecha }}
                            <span>{{ cabeceraDestinoHora }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 pr-5">
            <div class="row">
              <div
                class=""
                style="
                  width: 5%;
                  display: flex !important;
                  justify-content: center !important;
                  align-items: center !important;
                "
              >
                <img
                  style="cursor: pointer; width: 32px"
                  (click)="moverIzq('div_container')"
                  src="./assets/images/autos/keyboard-left-arrow_72692.svg"
                  alt=""
                />
              </div>

              <div
                id="div_container"
                class="scrollmenu"
                style="width: 90% !important"
              >
                <div
                  *ngFor="let item of carsSearch.lcategories; let i = index"
                  class="box-shadow"
                  style="
                    width: 230px !important;
                    padding: 10px !important;
                    margin: 10px !important;
                    height: 300px !important;
                  "
                >
                  <div class="row m-0 p-0 div-row-caja" style="cursor: pointer">
                    <div class="col-12 m-0 p-0">
                      <div class="row m-0 p-0" style="width: 100%">
                        <div class="col-3 m-0 p-0"></div>
                        <div class="col-3 m-0 p-0"></div>
                        <div class="col-3 m-0 p-0"></div>
                        <div class="col-3 m-0 p-0">
                          <input
                            class="form-control radioCat"
                            style="width: 25px"
                            type="radio"
                            id="male"
                            name="gender"
                            value="male"
                            (click)="seleccionarCategoria(item.description, i)"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-12 p-0 m-0 text-center alq-text-1"
                      style="
                        text-align: center !important;
                        justify-content: center;
                      "
                    >
                      {{ item.description }}
                    </div>
                    <div
                      class="col-12 m-0 p-0 text-center"
                      style="
                        text-align: center !important;
                        justify-content: center;
                        height: 130 !important;
                      "
                    >
                      <img
                        class="img-fluid"
                        [src]="item.lrecommendations[0].image"
                        alt=""
                      />
                    </div>
                    <div class="col-12 m-0 p-0 pl-4 pb-1">
                      <span class="alq-text-2 pr-3">Desde: </span>
                      <span class="alq-text-3">
                        {{ item.lrecommendations[0].oprice.currency }}
                        {{ item.lrecommendations[0].oprice.amount }}
                      </span>
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                      <div class="row m-0 p-0" style="width: 100%">
                        <div
                          class="col-4 p-0 m-0 text-center"
                          style="display: flex; justify-content: center"
                        >
                          <img
                            src="./assets/images/autos/pasajero_gris.svg"
                            alt=""
                            tooltip="pasajeros"
                          />
                          <span
                            class="pl-3 alq-text-10"
                            style="color: #3d3d3d !important"
                          >
                            {{ item.lrecommendations[0].numberPassengers }}
                          </span>
                        </div>
                        <div
                          class="col-4 p-0 m-0 text-center"
                          style="display: flex; justify-content: center"
                        >
                          <img
                            src="./assets/images/autos/accessory_gris.svg"
                            alt=""
                            tooltip="mochila o Carry On"
                          />
                          <span
                            class="pl-3 alq-text-10"
                            style="color: #3d3d3d !important"
                          >
                            {{
                              item.lrecommendations[0].baggage | validarEntero
                            }}
                          </span>
                        </div>
                        <div
                          class="col-4 p-0 m-0 text-center"
                          style="display: flex; justify-content: center"
                        >
                          <img
                            src="./assets/images/autos/suitcase_gris.svg"
                            alt=""
                            tooltip="maleta de 23kg"
                          />
                          <span
                            class="pl-3 alq-text-10"
                            style="color: #3d3d3d !important"
                          >
                            {{ item.lrecommendations[0].baggage | slice: 0:1 }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div
                      [id]="'diBase_' + i"
                      class="col-12 m-0 p-0 div-base base-general"
                    ></div>
                  </div>
                </div>
              </div>

              <div
                class=""
                style="
                  width: 5%;
                  display: flex !important;
                  justify-content: center !important;
                  align-items: center !important;
                "
              >
                <img
                  style="cursor: pointer; width: 32px"
                  (click)="moverDer('div_container')"
                  src="./assets/images/autos/keyboard-right-arrow_72690.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="col-12 alq-text-6 pt-5">
            <div class="row">
              <div class="col-2">Filtros aplicados</div>

              <div *ngIf="selCategoriaDescription.length > 0" class="col-3">
                <button style="cursor: default" class="btn alq-btn-buscar">
                  {{ selCategoriaDescription }}
                  <span
                    class="pl-3"
                    (click)="mostrarTodasCategorias()"
                    style="cursor: pointer"
                    >X</span
                  >
                </button>
              </div>

              <div class="col-3">
                Tipo de Caja
                <mat-slide-toggle
                  (click)="seleccionarTipoCaja(checkedAutomatico)"
                  color="warn"
                  [(ngModel)]="checkedAutomatico"
                >
                  Automatico</mat-slide-toggle
                >
              </div>

              <div class="col-3">
                Nro de pasajeros
                <mat-slide-toggle
                  (click)="seleccionarMasPasajeros(checkedPasajeros4)"
                  color="warn"
                  [(ngModel)]="checkedPasajeros4"
                  >+4</mat-slide-toggle
                >
              </div>
            </div>
          </div>

          <div class="col-11">
            <div class="row">
              <div
                *ngFor="let item of carsSearch.lcategories; let i = index"
                class="col-12"
              >
                <div *ngIf="item.visible" class="row pt-5">
                  <div class="col-12 alq-text-4">
                    {{ item.description }}
                  </div>
                  <div class="col-12 p-2">
                    <div class="row m-0 p-0">
                      <div
                        class="col-12 m-0 p-0 fondo-rojo-tri"
                        style="height: 3px !important"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div
                        class=""
                        style="
                          width: 5% !important;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      >
                        <img
                          style="cursor: pointer; width: 32px"
                          (click)="moverIzq('div_container_' + i)"
                          src="./assets/images/autos/keyboard-left-arrow_72692.svg"
                          alt=""
                        />
                      </div>

                      <div
                        id="div_container_{{ i }}"
                        class="scrollmenu2"
                        style="width: 90% !important"
                      >
                        <div
                          *ngFor="let recomendacion of item.lrecommendations"
                          class="box-shadow mt-3"
                        >
                          <div
                            *ngIf="recomendacion.visible"
                            class=""
                            style="width: 300px !important"
                          >
                            <div class="row">
                              <div
                                class="col-12 pb-2 text-center alq-text-5"
                                style="
                                  white-space: normal !important;
                                  line-height: 35px !important;
                                  height: 80px !important;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                "
                              >
                                {{ recomendacion.model }}
                              </div>

                              <div class="col-12 text-center"></div>

                              <div class="col-12 text-center">
                                <hr />
                              </div>

                              <div class="col-12 text-center">
                                <div class="row">
                                  <div class="col-3"></div>
                                  <div class="col-2 p-0 m-0">
                                    <img
                                      src="./assets/images/autos/pasajero.svg"
                                      alt=""
                                      tooltip="pasajeros"
                                    />
                                    <span class="pl-2 alq-text-10">
                                      {{ recomendacion.numberPassengers }}
                                    </span>
                                  </div>
                                  <div class="col-2 p-0 m-0">
                                    <img
                                      src="./assets/images/autos/accessory.svg"
                                      alt=""
                                      tooltip="mochila o Carry On"
                                    />
                                    <span class="pl-2 alq-text-10">
                                      {{
                                        recomendacion.baggage | validarEntero
                                      }}
                                    </span>
                                  </div>
                                  <div class="col-2 p-0 m-0">
                                    <img
                                      src="./assets/images/autos/suitcase.svg"
                                      alt=""
                                      tooltip="maleta de 23kg"
                                    />
                                    <span class="pl-2 alq-text-10">
                                      {{ recomendacion.baggage | slice: 0:1 }}
                                    </span>
                                  </div>
                                  <div class="col-3"></div>
                                </div>
                              </div>

                              <div
                                *ngIf="recomendacion.type === 'Automático'"
                                class="col-12 pt-2"
                              >
                                <div class="row">
                                  <div class="col-1"></div>
                                  <div
                                    class="col-1 alq-text-11 text-center"
                                    style="
                                      background-color: #ed1c24;
                                      display: flex !important;
                                      justify-content: center !important;
                                      align-items: center !important;
                                    "
                                  >
                                    A
                                  </div>
                                  <div class="col-9 alq-text-12">
                                    Automático
                                  </div>
                                </div>
                              </div>

                              <div class="col-12 pt-2">
                                <div class="row">
                                  <div class="col-1"></div>
                                  <div
                                    class="col-1 alq-text-11 text-center"
                                    style="
                                      background-color: #ed1c24;
                                      display: flex !important;
                                      justify-content: center !important;
                                      align-items: center !important;
                                    "
                                  >
                                    Km
                                  </div>
                                  <div
                                    *ngIf="
                                      recomendacion.kmIncluded ===
                                      'Unlimited Miles'
                                    "
                                    class="col-9 alq-text-12"
                                  >
                                    Kilometro ilimitado
                                  </div>
                                  <div
                                    *ngIf="
                                      recomendacion.kmIncluded !=
                                      'Unlimited Miles'
                                    "
                                    class="col-9 alq-text-12"
                                  >
                                    {{ recomendacion.kmIncluded }}
                                  </div>
                                </div>
                              </div>

                              <div
                                *ngIf="recomendacion.airConditioner"
                                class="col-12 pt-2"
                              >
                                <div class="row">
                                  <div class="col-1"></div>
                                  <div
                                    class="col-1 alq-text-11"
                                    style="
                                      background-color: #ed1c24;
                                      display: flex !important;
                                      justify-content: center !important;
                                      align-items: center !important;
                                    "
                                  >
                                    A
                                  </div>
                                  <div class="col-9 alq-text-12">
                                    Aire acondicionado
                                  </div>
                                </div>
                              </div>

                              <div
                                class="col-12 pt-3 text-right"
                                style="height: 45px !important"
                              >
                                <img
                                  class="img-fluid"
                                  [src]="recomendacion.ocompany.image"
                                  alt=""
                                />
                              </div>

                              <div
                                class="col-12 text-center"
                                style="height: 135px !important"
                              >
                                <img
                                  class="img-fluid"
                                  [src]="recomendacion.image"
                                  alt=""
                                />
                              </div>

                              <div class="col-12 pt-3">
                                <div class="row">
                                  <div class="col-1"></div>
                                  <div
                                    class="col-5"
                                    style="
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                    "
                                  >
                                    <button
                                      (click)="
                                        verDetalle(
                                          recomendacion,
                                          item.description
                                        )
                                      "
                                      class="btn alq-btn-det"
                                    >
                                      Ver Detalle
                                    </button>
                                  </div>
                                  <div class="col-5">
                                    <div class="row">
                                      <div class="col-12 alq-text-9">
                                        Cancelacion gratuita
                                      </div>
                                      <div
                                        class="col-12 text-center alq-text-7"
                                      >
                                        Precio por {{ cantDiasAlquiler }} dias
                                      </div>
                                      <div
                                        class="col-12 text-center alq-text-8"
                                      >
                                        {{ recomendacion.oprice.currency }}
                                        {{ recomendacion.oprice.amount }}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-1"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class=""
                        style="
                          width: 5% !important;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      >
                        <img
                          style="cursor: pointer; width: 32px"
                          (click)="moverDer('div_container_' + i)"
                          src="./assets/images/autos/keyboard-right-arrow_72690.svg"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!flagResult" class="col-7 pt-2 pb-3">
        <alert type="warning" class="text-center">
          No se encontraron autos para esta búsqueda
        </alert>
      </div>
    </div>
  </app-header>
</ng-container>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-fade-rotating"
  style="width: 100% !important; height: 100% !important"
></ngx-spinner>
