

<ng-container>

  <app-header>

    <div class="col-12 m-0 p-0 box-shadow" style="border-radius:  20px 0 20px 0;">

      <div class="row m-0 p-0" style="border-bottom: 1px solid #9b9b9b">

        <div class="col-1 m-0 p-0"></div>

        <div class="col-2 m-0 p-0 text-center" style="cursor: pointer">
          Vuelos
        </div>

        <div class="col-2 m-0 p-0 text-center" style="cursor: pointer">
          Hoteles
        </div>

        <div class="col-2 m-0 p-0 text-center">
          Buses
        </div>

        <div class="col-2 m-0 p-0 text-center">
          Paquetes
        </div>

        <div class="col-2 m-0 p-0 text-center">
          Seguros
        </div>

        <div class="col-1 m-0 p-0"></div>

      </div>

      <div class="row m-0 p-0">

        <app-vuelos style="width: 100%;"></app-vuelos>

      </div>

    </div>

  </app-header>

</ng-container>
