

<ng-container>

  <app-header>

    <div class="col-12 m-0 p-0 box-shadow" style="border-radius:  20px 0 20px 0;">

      <div class="row m-0 p-0 pt-3 pb-3" style="border-bottom: 1px solid #9b9b9b">

        <div class="col-1 m-0 p-0"></div>

        <div class="col-2 m-0 p-0 pt-2 pb-2 text-center" style="cursor: pointer" (click)="cambiarTipo(1)">
          <div class="row m-0 p-0" style="height: 42px">
            <div *ngIf="flagTipo!==1" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/airplane.svg" alt="">
            </div>
            <div *ngIf="flagTipo!==1" class="col-6 m-0 p-0 texto-tipos">
              Vuelos
            </div>
            <div *ngIf="flagTipo===1" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/airplane_rojo.svg" alt="">
            </div>
            <div *ngIf="flagTipo===1" class="col-6 m-0 p-0 texto-tipos-rojo">
              Vuelos
            </div>
          </div>
        </div>

        <div class="col-2 m-0 p-0 pt-2 pb-2 text-center" style="cursor: pointer" (click)="cambiarTipo(2)">
          <div class="row m-0 p-0" style="height: 42px">
            <div *ngIf="flagTipo!==2" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/hotel.svg" alt="">
            </div>
            <div *ngIf="flagTipo!==2" class="col-6 m-0 p-0 texto-tipos">
              Hoteles
            </div>
            <div *ngIf="flagTipo===2" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/hotel_rojo.svg" alt="">
            </div>
            <div *ngIf="flagTipo===2" class="col-6 m-0 p-0 texto-tipos-rojo">
              Hoteles
            </div>
          </div>
        </div>

        <div class="col-2 m-0 p-0 pt-2 pb-2 text-center" style="cursor: pointer" (click)="cambiarTipo(3)">
          <div class="row m-0 p-0" style="height: 42px">
            <div *ngIf="flagTipo!==3" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/tourist-bus.svg" alt="">
            </div>
            <div *ngIf="flagTipo!==3" class="col-6 m-0 p-0 texto-tipos">
              Buses
            </div>
            <div *ngIf="flagTipo===3" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/tourist-bus-rojo.svg" alt="">
            </div>
            <div *ngIf="flagTipo===3" class="col-6 m-0 p-0 texto-tipos-rojo">
              Buses
            </div>
          </div>
        </div>

        <div class="col-2 m-0 p-0 pt-2 pb-2 text-center" style="cursor: pointer" (click)="cambiarTipo(4)">
          <div class="row m-0 p-0" style="height: 42px">
            <div *ngIf="flagTipo!==4" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/island.svg" alt="">
            </div>
            <div *ngIf="flagTipo!==4" class="col-6 m-0 p-0 texto-tipos">
              Paquetes
            </div>
            <div *ngIf="flagTipo===4" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/island-rojo.svg" alt="">
            </div>
            <div *ngIf="flagTipo===4" class="col-6 m-0 p-0 texto-tipos-rojo">
              Paquetes
            </div>
          </div>
        </div>

        <div class="col-2 m-0 p-0 pt-2 pb-2 text-center" style="cursor: pointer" (click)="cambiarTipo(5)">
          <div class="row m-0 p-0" style="height: 42px">
            <div *ngIf="flagTipo!==5" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/linea-de-vida-en-un-esquema-del-corazon.svg" alt="">
            </div>
            <div *ngIf="flagTipo!==5" class="col-6 m-0 p-0 texto-tipos">
              Seguros
            </div>
            <div *ngIf="flagTipo===5" class="col-6 m-0 p-0 d-flex align-items-center justify-content-center">
              <img src="./assets/images/home/linea-de-vida-en-un-esquema-del-corazon-rojo.svg" alt="">
            </div>
            <div *ngIf="flagTipo===5" class="col-6 m-0 p-0 texto-tipos-rojo">
              Seguros
            </div>
          </div>
        </div>

        <div class="col-1 m-0 p-0"></div>

      </div>

      <div class="row m-0 p-0">

        <app-vuelos style="width: 100%;"></app-vuelos>

      </div>

    </div>

  </app-header>

</ng-container>
