<ng-container>
    <app-header>
        <div class="row m-0 p-0">
            <div class="col-2 m-0 p-0">

            </div>
            <div class="col-8 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="back col-12 m-0 p-0 pb-1 pt-4">
                        Volver atras</div>
                </div>
                <p *ngIf="LPolicies.length > 0 && lsapprover.length === 0" class="txtSolicitud m-0 p-0 pb-3">Solicitud de excepción de politica</p>
                <p *ngIf="LPolicies.length === 0 && lsapprover.length > 0" class="txtSolicitud m-0 p-0 pb-3">Solicitud de aprobacion</p>
                <p *ngIf="LPolicies.length === 0 && lsapprover.length === 0" class="txtSolicitud m-0 p-0 pb-3">Confirme su vuelo</p>
                <p *ngIf="LPolicies.length > 0 && lsapprover.length > 0" class="txtSolicitud m-0 p-0 pb-3">Solicitud de aprobación y excepcion de políticas</p>
            </div>
            <div class="col-2 m-0 p-0">

            </div>
        </div>
        |
        <div class="row m-0 p-0">|
            <div class="col-2 m-0 p-0">
            </div>
            <div class="col-8 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-8 m-0 p-0">
                        <div *ngIf="lsapprover.length > 0" class="row m-0 p-0 pb-5">
                            <div class="col-12 m-0 p-0 contenedor-form">
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 title-form pt-3 pb-3 pl-5">
                                        MOTIVO DE APROBACIÓN
                                    </div>
                                    <div class="col-12 m-0 p-0">
                                        <div class="row m-0 p-0">
                                            <div class="col-12 div-info">
                                                <input type="text" class="input-pasajero" maxlength="1000" id="motivoviaje">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="pb-3"> <span><img class="img-plane" src="assets/images/airplane_ida.svg"></span><span class="trip pl-2">Mi vuelo</span></span>
                        <app-vuelo-section [tipo]="1" *ngFor="let section of Lsection" [section]="section"></app-vuelo-section>

                        <app-ex-politicas-infrigidas [tipo]="1" [lsapprovers]="lsapprover" [Currency]="currency" [LPolicies]="LPolicies" *ngIf="LPolicies.length > 0">

                        </app-ex-politicas-infrigidas>
                        <ng-template #modalconfirmacion let-c="close" let-d="dismiss">
                            <div class="modal-header m-0 p-0" style="border: none;">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                            </div>
                            <div class="modal-body m-0 p-0">
                                <div class="row m-0 p-0 text-center pt-4 pb-4 pl-2 pr-2">
                                    <div class="col-12 m-0 p-0 text-1">
                                        {{pnrresults.oerror.message}}
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 p-0 pb-5">
                                <div class="col-12 m-0 p-0 text-center">
                                    <button (click)="modalRef.hide()" class="btn btn-emitir">Ok</button>
                                </div>
                            </div>
                        </ng-template>
                        <div class="col-12 m-0 p-0 pt-4 pb-4">
                            <div class="row m-0 p-0" *ngIf="lsapprover.length > 0 && loginDataUser.orole.roleDescription === 'Usuario'">
                                <div class="col-12 m-0 p-0">
                                    <div class="row m-0 p-0">
                                        <div *ngIf="LPolicies.length > 0" class="col-12 m-0 p-0 pr-5 text-center">
                                            <button class="btn btnEnviar" (click)="AddPassenger(modalconfirmacion)">Enviar Solicitud</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 p-0" *ngIf="lsapprover.length === 0 && LPolicies.length === 0 || lsapprover.length === 0 && LPolicies.length > 0 && loginDataUser.orole.roleDescription === 'Autorizador' || lsapprover.length === 0 && LPolicies.length > 0 && loginDataUser.orole.roleDescription === 'Centralizador'">
                                <div class="col-6 m-0 p-0">
                                    <div class="row m-0 p-0">
                                        <div class="col-12 m-0 p-0 pr-5 text-right">
                                            <button class="btn btnEnviar" (click)="AddPassenger(modalconfirmacion)">Reservar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 m-0 p-0">
                                    <div class="row m-0 p-0">
                                        <div class="col-12 m-0 p-0 pl-5">
                                            <button class="btn btnEmitir" (click)="Emitir()">Emitir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--CENTRALIZADOR CON POLITICAS-->
                            <div class="row m-0 p-0" *ngIf="lsapprover.length > 0 && LPolicies.length > 0 && loginDataUser.orole.roleDescription === 'Centralizador' || lsapprover.length > 0 && LPolicies.length > 0 && loginDataUser.orole.roleDescription === 'Autorizador'">
                                <div class="col-12 m-0 p-0">
                                    <div class="row m-0 p-0">
                                        <div class="col-12 m-0 p-0 pr-5 text-right">
                                            <button class="btn btnEnviar" (click)="AddPassenger(modalconfirmacion)">Enviar solicitud</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-4 m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-12 m-0 p-0">
                            </div>
                        </div>
                        <app-precio-final [LSection]="Lsection" [tipo]="2" [Lpolicies]="LPolicies" [currency]="lsflightavailability.currency" [precioadulto]="lsflightavailability.fareAmountByPassenger" [preciototal]="lsflightavailability.totalFareAmount"></app-precio-final>
                        <app-resumen-pasajero [lsusers]="lsusuario"></app-resumen-pasajero>
                        <app-resumen-equipaje [Lsection]="Lsection"></app-resumen-equipaje>
                        <!-- <app-resumen-regulaciones></app-resumen-regulaciones> -->
                    </div>
                </div>
            </div>
            <div class="col-2 m-0 p-0">

            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin-fade-rotating" style="width: 100% !important; height: 100% !important;"></ngx-spinner>
    </app-header>
</ng-container>